<% breadcrumb @page %>
<div id="help-content" class="clear-block">
	<h1><%= @page.title %></h1>
	<div><%= @page.body %></div>
	<p class="back-link"><%= link_to 'Back', :back %></p>
</div>
<div id="help-sidebar" class="clear-block">
	<%= render :partial => 'help_topics' %>
	<%= render :partial => 'feedback' %>
</div>
