<item>
	<title><%= h rss_item.title %></title>
	<link><%= song_url rss_item %></link>
	<description><%= h rss_item.description %></description>
	<pubDate><%= rss_item.created_at.rfc2822 %></pubDate>
	<guid><%= song_url rss_item %></guid>
</item>
