<?xml version="1.0"?>
<rss version="2.0">
  <channel>
		<title>Myousica - <%= @genre.name %></title>
		<link><%= genre_url @genre %></link>
		<description>Newest <%= @genre.name %> songs published on Myousica.com</description>
    <language>en-us</language>
		<pubDate><%= @songs.map(&:created_at).first.rfc2822 %></pubDate>
		<lastBuildDate><%= Time.now.rfc2822 %></lastBuildDate>
    <generator>myousica</generator>
    <managingEditor>info@myousica.com</managingEditor>
    <webMaster>info@myousica.com</webMaster>
		<%= render :partial => 'rss_item', :collection => @songs %>
	</channel>
</rss>
