<% title "Myousica - #{@genre.name} Music & Songs" %>
<% meta_description "Myousica is the first open music community.  Listen to the most popular #{@genre.name} songs. Play, record and share your own versions of your favourite #{@genre.name} songs. " %>
<% breadcrumb @genre %>
<% javascript('music') %>

	<div class="box-list two-col clear-block">
		<div class="elenco-genere clear-block">
			<h1>
				<div class="float-right">
					<%= link_to image_tag('icon_rss.png'), genre_rss_path(@genre) %>
				</div>
				<%= h @genre.name.upcase %>
			</h1>
		
			<div class="top-box clear-block">
				<div class="bottom-box clear-block">
					<div class="elements clear-block" id="songs">
						<%= render :partial => 'songs'%>
					</div>
				</div>
			</div>	
		</div>
	</div>			

	<div class="box-list one-col clear-block">
		<div class="simple-list clear-block">
			<h1>TOP GENRES</H1>
			<div class="top-box section-tags clear-block">
				<div class="bottom-box clear-block">
					<div class="elements clear-block">
						<%= render_tag_cloud Song, :genre, :name, :limit => 30 %>
					</div>
				</div>
			</div>
		</div>
		
		<div class="simple-list clear-block">
			<h1>MOST LISTENED <%= h @genre.name.upcase %> SONGS</h1>
			<div class="top-box clear-block">
				<div class="bottom-box clear-block most-listened-list">
					<%= render :partial => 'most_listened_song', :collection => @most_listened_songs %>
				</div>
			</div>
		</div>	
		
		<div class="simple-list clear-block">
			<h1>MOST <%= h @genre.name.upcase %> </h1>
			<div class="top-box clear-block">
				<div class="bottom-box clear-block">
					<%= render :partial => 'prolific_user', :collection => @prolific_users %>
				</div>
			</div>
		</div>
	</div>
