<div class="elements clear-block">
  <p class="thumb">
		<%= instrument_icon idea.instrument %>
  </p>
  <p class="thumb">
    <%= link_to avatar_image(idea.user, :icon), user_path(idea.user) %>    
  </p>
	<p class="name float-right"><%= link_to(idea.user.login, user_path(idea.user)) %></p>
	<p class="title"><%= idea.title %></p>
	<p class="cyan-text float-right"><%= link_to(idea.parent_song.genre.name, idea.parent_song.genre) if idea.parent_song && idea.parent_song.genre %></p>
	<p class="abstract"><%= truncate(idea.description, 50) %></p>
	<div class="music-info float-left">bpm: <%= idea.bpm %> runtime: <%= idea.length %></div>
  <div class="float-right">
		<%= rating(idea) %>
    <%= mlab_button(idea) %>
    <%= play_button(idea) %>
  </div>
</div>
