  <div class="box-list one-col clear-block">
    <div class="people-list clear-block">
      <h1><%= link_to "PEOPLE", users_path %></h1>
      <div class="top-box clear-block">
        <div class="bottom-box clear-block">
          <%= render :partial => 'shared/person', :collection => @people, :locals => {:color => "scarlet"} %>
        </div>
      </div>
    </div>
  </div>
  <div class="box-list two-col clear-block">
    <div id="bands-dj" class="bands-dj-list clear-block">
      <h1><%= link_to "BANDS &amp; DEEJAYS", bands_and_deejays_path %></h1>
      <div class="top-box clear-block">
        <div class="bottom-box clear-block">
          <%= render :partial => 'shared/band', :collection => @bands %>
        </div>
      </div>
    </div>
  </div>
  <div class="box-list three-col clear-block">
    <div class="music-list clear-block">
      <h1><%= link_to "MUSIC", music_path %></h1>
      <div class="top-box clear-block">
        <div class="bottom-box clear-block">
          <%= render :partial => 'music', :collection => @songs %>
        </div>
      </div>
    </div>
  </div>
  <div class="box-list two-col clear-block">
    <div class="collaboration-list clear-block">
      <h1><%= link_to 'IDEAS', ideas_path %></h1>
      <div class="top-box clear-block">
        <div class="bottom-box clear-block">
          <%= render :partial => 'idea', :collection => @ideas %>
        </div>
      </div>
    </div>
  </div>
  <div class="box-list one-col clear-block">
    <div class="answer-list clear-block">
      <h1><%= link_to "ANSWERS", answers_path %></h1>
      <div class="top-box clear-block">
        <div class="bottom-box clear-block">
          <%= render :partial => 'answer', :collection => @answers %>
        </div>
      </div>
    </div>
  </div>

