<song>
  <user><%= song.user.login %></user>       
  <author><%= song.original_author %></author>     
  <title><%= song.title %></title>     
  <instruments><%= song.instruments.size %></instruments>  
  <genre><%= song.genre.name %></genre>     
  <bpm><%= song.bpm %></bpm>        
  <tone><%= song.tone %></tone>       
  <description><%= song.description %></description>
  <rating><%= song.rating_avg %></rating>     
  <id><%= song.id %></id>         
  <filename><%= song.filename %></filename>   
  <tracks>
    <%= render :partial => 'track', :collection => song.tracks %>
  </tracks>
</song>