<div id="splash_box_sx"> </div>
	<div id="splash_box_core">

		<div id="splash_elements_container">
			<div id="splash_tag_tracks"> </div>
			<div id="splash_tracks_spinner" style="display:none"><%= image_tag 'track-spinner-big.gif' %></div>
			<div id="splash_box_elements">
				<!-- dynamic -->
				<div id="splash_tracks" <%= request.xhr? ? 'style="display: none;"' : '' %>>
				  <%- @splash_tracks.each_with_index do |track, index| -%>
  				  <div class="splash <%= %w[odd even][index % 2] %>">
              <%= track_instrument_icon(track) %>
              <div class="title"><%=h truncate(track.title, 15) %></div>
              <div class="buttons">
                <%= mlab_button(track, :dynamic => true) %>
                <%= play_button(track) %>
              </div>
  					</div>
  				<%- end -%>
				</div>
				<!-- end dynamic -->								
			</div>
		</div>
		
		<div id="splash_divider_plus"> </div>
		
		<div id="splash_elements_container_mlab">
			<div id="splash_tag_mlab"> </div>
			<div id="splash_box_elements_mlab">
				<div style="float:left;margin-top:120px;padding-left:28px;"><%= link_to 'Learn More', help_url %></div>

				<div style="float:right;margin-top:120px;padding-right:28px;">
				  <%- if logged_in? -%>
				    <%= link_to 'Enter', multitrack_url(:user_id => current_user.id) %>
				  <%- else -%>
				    <%= link_to 'Enter', '/login' %>
				  <%- end -%>
				</div>
			</div>
		</div>

		<div id="splash_divider_equal"> </div>
		
		<div id="splash_elements_container">
			<div id="splash_tag_songs"> </div>
			<div id="splash_songs_spinner" style="display:none"><%= image_tag 'song-spinner-big.gif' %></div>
			<div id="splash_box_elements">

				<!-- dynamic -->
				<div id="splash_songs" <%= request.xhr? ? 'style="display: none;"' : '' %>>
				  <%- @splash_songs.each_with_index do |song, index| -%>
  				  <div class="splash <%= %w[odd even][index % 2] %>">
  				    <span class="tracks-number"><span><%= song.tracks.count %></span></span>
              <div class="title"><%= link_to h(truncate(song.title, 15)), song_path(song) %></div>
              <div class="buttons">
                <%= mlab_button(song, :dynamic => true) %>
                <%= play_button(song) %>
              </div>
  					</div>
  				<%- end -%>
				</div>
				<!-- end dynamic -->												
			</div>
		</div>

	</div>
<div id="splash_box_dx"> </div>
