<div class="banner-instr-home">
  <img src="/images/banner_instruction_home.png" alt="" width="732" height="189" />
</div>
<div class="whiteblock-shadow clear-block">
  <!--
    TODO Inserire un metodo per il calcolo del path
  -->
  <%= breadcrumb %>
  <%= render :partial => 'tag_cloud' %>
  <div class="float-left margin-top-bottom">
    <a href="#">
      <img src="/images/banner_mband.gif" alt="crea una Mband" width="179" height="165" />
    </a>
  </div>
  <div class="box-list one-col clear-block">
    <div class="people-list clear-block">
      <h1>PEOPLE</h1>
      <div class="top-box clear-block">
  	    <div class="bottom-box clear-block">
          <%= render :partial => 'shared/person', :collection => @people, :locals => {:color => "scarlet"} %>
  	    </div>
      </div>
    </div>
  </div>
  <div class="box-list two-col clear-block">
    <div id="bands-dj" class="bands-dj-list clear-block">
      <h1>BANDS &amp; DJ</h1>
      <div class="top-box clear-block">
  	    <div class="bottom-box clear-block">
  	      <%= render :partial => 'shared/band', :collection => @people[0,2]  %>
  	    </div>
      </div>	
    </div>
  </div>
  <div class="box-list three-col clear-block">
    <div class="music-list clear-block">
      <h1>MUSIC</h1>
      <div class="top-box clear-block">
  	    <div class="bottom-box clear-block">
          <%= render :partial => 'music', :collection => [1,2,3] %>
  	    </div>
      </div>
    </div>
  </div>
  <div class="box-list two-col clear-block">
    <div class="collaboration-list clear-block">
      <h1>COLLABORATION</h1>
      <div class="top-box clear-block">
  	    <div class="bottom-box clear-block">
          <%= render :partial => 'collaboration', :collection => [1,2] %>		
  	    </div>
      </div>
    </div>
  </div>
  <div class="box-list one-col clear-block">
    <div class="answer-list clear-block">
      <h1>ANSWER</h1>
  	  <div class="top-box clear-block">
  		  <div class="bottom-box clear-block">
  		    <%= render :partial => 'answer', :collection => [1,2] %>
  		  </div>
  	  </div>
    </div>
  </div>
</div>

