<%- javascript('refresh-block', 'dashboard') -%>
  <%- content_for(:top) do -%>
		<%= render :partial => 'splash' %>
  <%- end -%>
	<div class="clear-block" id="tagcloud">
		<p class="tags"><%= render_tag_cloud Song, :genre, :name, :limit => 37 %></p>
		<div class="image">
			<%= link_to image_tag('home_ideas.jpg', :alt => 'get your ideas out of your head'), help_path('ideas') %>
		</div>
	</div>
	<div class="clear-block" id="myousicians">
		<div class="clear-block header">
			<h1>MYOUSICIANS</h1>
			<%= link_to image_tag('refresh.gif', :class => 'refresh-block'), top_myousicians_path, :class => 'trigger' %>
		</div>
		<div class="clear-block clip">
			<div class="refresh-container">
				<%= render :partial => 'myousician', :collection => @people %>
			</div>
		</div>
		<div class="clear-block mband">
			<%= link_to image_tag('home_mband.jpg', :alt => 'create your own m-band'), help_path('mband') %>
		</div>
	</div>
