<div>
  <table cellspacing="0" cellpadding="6" border="0" style="width: 100%;">
    <tr id="heading">
      <th width="220"><%= (params[:action] == 'sent') ? 'TO' : 'FROM' %></th>
      <th>Subject</th>
      <th width="60">Date</th>
      <th width="5"> </th>
    </tr>
    <%- if @messages.size > 0 -%>
      <%= render :partial => 'message', :collection => @messages %>    
    <%- else -%>
      <tr>
        <td colspan="4"><em>No new messages</em></td>
      </tr>
    <%- end -%>
  </table>
  <%= will_paginate @messages, :prev_label => "&lt;", :next_label => "&gt;" %>
</div>
<script type="text/javascript" charset="utf-8">
  MailBox.instance.updateUnreadCount(<%= @user.unread_message_count %>)
  MailBox.instance.updateReceivedCount(<%= @user.received_messages.count %>)
</script>
