<div>
  <table border="0" cellspacing="5" cellpadding="5" style="width: 100%">
    <tr>
      <th><%= (params[:action] == 'sent') ? 'TO' : 'FROM' %></th>
      <th>Subject</th>
      <th>Date</th>
      <th>&nbsp;</th>
    </tr>
    <% @messages.each do |message| %>
      <tr id="message_<%= message.id %>">
        <% if params[:action] == 'sent' -%>
          <td><%= message.recipient ? message.recipient.login : 'Unknown'  %></td>
        <% else -%>
          <td><%= message.sender ? message.sender.login : 'Unknown'  %></td>
        <% end -%>
        <td><%= link_to_message(@user, message)  %></td>
        <td><%= message.created_at.strftime("%m/%d/%y") %></td>
        <td><%= link_to 'X', user_message_path(@user, message), :class => 'destroy' %></td>
      </tr>
    <% end -%>
  </table>
  <%= will_paginate @messages %>
</div>
<script type="text/javascript" charset="utf-8">
  MailBox.instance.updateUnreadCount(<%= @user.unread_message_count %>)
  MailBox.instance.updateReceivedCount(<%= @user.received_messages.count %>)
</script>