<div id="new-message">
	<p><span class="label">From:</span> <%= @message.sender.login %></p>
	<p><span class="label">To:</span> <%= @message.recipient.login %></p>
	<p><span class="label">Subject:</span> <%= @message.subject %></p>
	<div id="hr"> </div>

	<div id="message_label"><span class="label">Message:</span></div>
	<div id="message_body">
		<%= sanitize_message @message %>
	</div>
	<div class="send_button">
		<%= link_to 'Reply', new_user_message_path(@user, :reply => @message.id ), :class => 'ajax' %> |
		<%= link_to 'Back to Inbox', user_messages_path(@user, :page => params[:page]), :class => 'ajax' %>    
	</div>
</div>
<%= javascript_tag update_messages_count_javascript_for(@user) %>
