<% content_for(:head) do %>
	<%= javascript_include_tag 'login' %>
<% end %>
<!-- LEFTCOL -->
<div class="leftCol fleft">
	<div class="leftColWrapper">



<div class="fleft w343">
	<h1>Login</h1>
	
	<% if flash[:error] %>
	<div class="validateTips ui-state-error alleft">
		<span class="fleft icons16 profile ui-icon ui-icon-lightbulb"> </span>
		Wrong password. Have you <%= link_to 'Forgotten', forgot_password_path %> your password?
	</div>
	<% end %>

	<div class="validateTips ui-state-error alleft" style="display:none">
		<span class="fleft icons16 profile ui-icon ui-icon-lightbulb"> </span>
		Please enter a username and password
	</div>

<% form_tag sessions_path, :id => 'login-form', :method => :post do %>
	<fieldset>
		<label for="name">Username</label>
		<%= text_field_tag :login, nil,  :class => 'text ui-widget-content' %>

		<label for="password">Password</label>
		<%= password_field_tag :password, nil, :class => 'text ui-widget-content' %>

		<label for="remember" class="fleft">Remember me&nbsp;&nbsp;</label>
		<%= check_box_tag 'remember_me', '1', true, :class => 'fleft nomargin' %>

		<%= submit_tag 'Login', :class => 'join_button mailbox_send fright' %>
      
		<div id="login-spinner" class="fright icons16 loader_white" style="display:none;margin:3px 5px 0 0"> </div>				
	</fieldset>
	</form>
<% end %>	
	
	<p class="sixsixsix">
		Don't have an account? <%= link_to 'Create one now', signup_path %>,<br />
		or <strong>Connect with Facebook</strong> here on the right.
	</p>
</div>
<div class="fleft marginleft10 w343">			
	<h1 class="fright">Log-in using Facebook Connect</h1>

		<p style="padding:5px" class="fright gray_spec alright nomargin">
	Connect <a href="">Mewsic</a> with Facebook to interact with your friends on this site and to share on Facebook through your Wall and friends' News Feeds. This site will also be able to automatically post recent activity back to Facebook.
		</p>
		<span class="fright margin7">
      <fb:login-button onlogin='window.location = "/";' size="medium" length="long" background="white"></fb:login-button>
		</span>
</div>




	</div>
</div>
<!-- END LEFTCOL -->	

<!-- RIGHTCOL -->	
<div class="rightCol fright">

      <%= render :partial => 'shared/did_you_know' %>

</div>
<!-- END RIGHTCOL -->	

<div class="clear"> </div>

<% content_for :footer do %>
  <%= render :partial => 'songs/footer' %>
<% end %>
