<div class="bottom-box clear-block">
	<div class="elements clear-block">
		<p class="badge float-right">
			<%= pluralize coolest.members.size, 'member' %>
		</p>
		<p class="thumb">
			<%= link_to avatar_image(coolest, :small), coolest %>
		</p>
		<p class="name">
			<%= link_to coolest.name, coolest %>
		</p>
		<p class="country">
			<%= h coolest.countries.join(', ') %>
		</p>
		<p class="motto">
			<%= truncate coolest.motto, 120 %>
		</p>
	</div>
	<div class="slide-container">
		<div class="button">
			<a href="#" class="slide-prev"><img src="/images/slider_arrow_left.png"/></a>
		</div>
		<!--[if IE]><div style="clip: rect(0px 315px 30px 0px); position: absolute; overflow:hidden;"><![endif]-->
		<div class="scroll-clip">
			<div id="coolest-mband-scroller" style="width: <%= coolest.members.count * 35 + 5 %>px; left: 0px;">
				<% coolest.members.each do |member| %>
					<%= link_to avatar_image(member, :icon), user_path(member) %>
				<% end %>
			</div>
		</div>
		<!--[if IE]></div><![endif]-->
		<div class="button">
			<a href="#" class="slide-next"><img src="/images/slider_arrow_right.png"/></a>
		</div>
	</div>				  	
</div>
