<div class="bottom-box clear-block">
	<div class="elements clear-block">
		<p class="badge float-right">
			<%= pluralize coolest.members.size, 'member' %>
		</p>
		<p class="thumb">
			<%= image_tag "mband_title_label.gif" %>
			<%= link_to avatar_image(coolest, :small), coolest %>
		</p>
		<p class="name">
			<%= link_to coolest.name, coolest %>
		</p>
		<p class="country">
			<%= h truncate(coolest.countries.join(', '), 40) %>
		</p>
		<p class="motto">
			<%= truncate strip_tags(coolest.motto), 50 %>
		</p>
	</div>
	<div id="coolest-mband-scroller" class="user-scroller">
		<div class="float-left">
			<a href="#" class="slide-prev"><img src="/images/slider_arrow_left.gif"/></a>
		</div>
		<div class="slide-container">
			<div class="slide-clip">
				<div class="slide-contents" style="width: <%= coolest.members.count * 35 %>px;">
					<% coolest.members.each do |member| %>
						<%= link_to avatar_image(member, :icon), user_path(member) %>
					<% end %>
				</div>
			</div>
		</div>
		<div class="float-left">
			<a href="#" class="slide-next"><img src="/images/slider_arrow_right.gif"/></a>
		</div>
	</div>				  	
</div>
