<% javascript('inplaceselect', 'user/edit') if current_user_mband_page? %>
<% javascript('user/mail') if logged_in? %>

<div id="mypage-label" class="mband">
  <div class="type-label">
    <img src="/images/mband_page_label.png" />
  </div>
</div>

<% javascript('user/avatar') if current_user_mband_page? %>
<div class="user-profile clear-block">
	<div id="user-avatar">
		<div id="user-avatar-container">
			<%= avatar_image(@mband, :big, :id => 'user-avatar-image') %>
		</div>

		<% if current_user_mband_page? %>
		<div id="change-avatar"> </div>
		<div id="change-avatar-upload" style="display:none">
			<div id="change-avatar-bg">
				<div style="float: right;" id="change-avatar-close">
					<%= image_tag 'change_avatar_icon_close.gif' %>
				</div>
				<div id="change-avatar-interact">
					<div id="change-avatar-button">
						<% ajax_upload_form(@mband, :name => :avatar, :id => 'change-avatar', :method =>'put') do |f| %>
							<%= f.file_field :uploaded_data, :id => 'change-avatar-file-input' %>
							<%= f.hidden_iframe 'change-avatar' %>
						<% end %>
					</div>
					<div id="change-avatar-status">	</div>
					<div id="change-avatar-alert" style="display:none">
						Error! Please upload again.
					</div>
				</div>
			</div>
		</div>
		<div class="clear-float"> </div>
	<% end %>
	</div>
  <div class="user-resume">
		<%= rating(@mband, :class => 'float-left') %><div class="clearer"></div>
    <p class="blue-text">Mband name </p>
		<h1 class="black-text" id="user_id">
			<%= status(@mband, :class => 'no-tip inline') %>
			<%= @mband.name %>
		</h1>
    <div class="grey-divisor"><hr /></div>    
    <p class="blue-text"><%= pluralize @mband.countries.size, 'Country' %></p>
    <h2 class="black-text" id="user_country"><%= @mband.countries.join(', ') %></h2>
    <div class="grey-divisor"><hr /></div>
  </div>  
  <%= render :partial => 'communicate' if logged_in? %>  
</div>

<div class="user-id clear-float">
  <div class="float-right">		
    <div class="adding-link">
      <%= mband_myspace_link %>
    </div>			
    <div class="adding-link">
      <%= mband_blog_link %>
    </div>			
    <div class="adding-link">
      <%= mband_photo_link %>
    </div>
  </div>
  <p>myousica ID: <%= @mband.id %></p>
</div>

<div class="user-details clear-block">
  <div class="user-motto">
    <p class="blue-text"><strong>I AM</strong> <%= mband_edit_button(:motto) %></p>
    <p class="grey-text" id="mband_motto"><%= @mband.motto %></p>
  </div>
  <div class="user-gusti">
    <p class="blue-text"><strong>INFLUENCES</strong> <%= mband_edit_button(:tastes) %></p>
    <p class="grey-text" id="mband_tastes"><%= @mband.tastes %></p>
  </div>
</div>
