<tr class="<%= %w[odd even][song_counter % 2] %>">
	<td colspan="2">
		<span class="tracks-number"><%= song.tracks.size %></span>
		<div class="float-left tracks-grey">
			<% song.tracks.each do |track| -%>
				<%= track_instrument_icon(track, :grey => true) %>
			<% end -%>
			<%= image_tag('alert_ico.gif', :class => 'alert') if song.tracks.size.zero? %>
		</div>
		<p class="genre align-right"><%= link_to(song.genre.name, song.genre) %></p>
		<%= rating(song, :class => song_counter.odd? ? 'grey-star' : '') %>
	</td>
</tr>
<tr class="<%= %w[odd even][song_counter % 2] %>">
	<td class="song-info">
		<p class="name"><%= link_to song.user.login, user_path(song.user) %></p>
		<p class="abstract"><%= truncate song.original_author, 50 %></p>
		<p class="title"><%= link_to song.title, song %></p>
		<p class="small sky-text">last updated <%= time_ago_in_words song.updated_at %> ago</p>
	</td>
	<td class="song-action" align="right">
		<%= mlab_button(song, :dynamic => true) %>
		<%= play_button(song) %>
		<div class="abuse-link">
			<%= report_abuse_link_to formatted_new_song_abuse_path(song, 'html') %>
		</div>
	</td>
</tr>

