<%= hidden_field_tag 'mband-id', @mband.id  %>

  <% breadcrumb @mband, 'float-left mband' %>
  <% meta_description h("#{@mband.name} is a myousica M-Band. It features #{@mband.songs_count} songs and #{@mband.tracks_count} tracks, collaboratively created on myousica!") %>
  
  <%= render :partial => 'profile' %>
  
  <div class="bottom-shadow" style="width: 720px; float:none; margin-bottom: 30px;"></div>

  <div id="mband-members" class="box-list one-col clear-block clear-float">
    <%= render :partial => 'band_members' %> 
  </div>
  
  <div class="box-list two-col clear-block">
		<div id="songs_spinner" style="display:none;">
			<%= image_tag 'song-spinner-big.gif' %>
		</div>
  	<div class="tit-classification-songs clear-block">
			<div class="tabmenu">
				<div class="tab active">
					<div class="sx"> </div>
					<div class="rp">
						<h1 class="title">Songs <span class="counter">(<%= @songs_count %>)</span></h1>
						<%= podcast_link_for(@mband, mband_podcast_url(@mband)) unless @songs_count.zero? %>
					</div>
					<div class="dx"> </div>
				</div>    
			</div>
			<div class="top-box clear-block">		
				<div class="bottom-box clear-block">
					<div class="elements clear-block mlab_song">
						<div id="songs">
							<%= render :partial => 'songs' %>
						</div>
					</div>
				</div>
			</div>	
	  </div>
		<div id="tracks_spinner" style="display:none;">
			<%= image_tag 'track-spinner-big.gif' %>
		</div>
	  <div class="tit-classification-tracks clear-block">
			<%- 
			if current_user_mband_page? :admin => false
			  label = 'Tracks'
			  empty_message = "You can upload or record tracks with our #{link_to('multitrack editor', multitrack_path)}<br/>#{link_to 'Click here to learn more', help_path('multitrack')}"
			else
			  label = 'Ideas'
				empty_message = "#{@mband.name} members haven't published any <strong>idea</strong> yet.<br/>#{link_to 'Clik here to learn more about ideas', help_path('ideas')}"
			end
			%>
			<div class="tabmenu">
				<div class="tab active">
					<div class="sx"> </div>
					<div class="rp">
						<h1 class="title blue-text"><%= label %><span class="counter">(<%= @tracks_count %>)</span></h1>
					</div>
					<div class="dx"> </div>
				</div>    
			</div>
			<div class="top-box-<%= label.downcase %> clear-block">	
				<div class="bottom-box clear-block">
					<div class="elements clear-block">
						<div id="tracks">
							<%= render :partial => 'tracks', :locals => {:empty_message => empty_message} %>  
						</div>
					</div>
				</div>		
			</div>
		</div>
    <%= render :partial => 'gallery' %> 
    <%= render :partial => 'mbands/my/share' if current_user_mband_page? %> 
  </div>

<% javascript('loading') %>
<% javascript('mband/show') %>
<% javascript('user/gallery') %>
