	<!-- LEFTCOL -->
	<div class="leftCol fleft">
		<div class="leftColWrapper">

		<!-- EXPL BANNER -->
			<div id="expl_banner">
				<span id="expl_hide" class="fright">hide</span>
				<span class="expl_logo waveform fleft"> </span>
				<h1>Found your sound? Play it!</h1>
				<p>Find the best instrument to fit your song or to play with.<br /><br />
				</p>
				<ul class="expl_links fright">
					<li><a href=""><strong>Create</strong></a></li>
					<li><a href=""><strong>Learn More</strong></a></li>
				</ul>
			</div>
		<!-- END EXPL BANNER -->

      <%= render :partial => 'tracks/pick' %>
      <%= render :partial => 'tracks/today' %>      

      <%= render :partial => 'tracks/search' %>
      <%= render :partial => 'tracks/newest' %>

		</div>
	</div>
	<!-- END LEFTCOL -->	

	<!-- RIGHTCOL -->	
	<div class="rightCol fright">
    <%= render :partial => 'shared/did_you_know' %>
	</div>
	<!-- END RIGHTCOL -->	
	
	<div class="clear"> </div>

<% content_for :footer do %>
  <%= render :partial => 'mbands/footer' %>
<% end %>
