<div class="box-list one-col clear-block clear-float">
		
		<div class="collaboration-list clear-block">
			<h1>TOP RATED COLLABORATIONS</h1>

			<div class="top-box clear-block">
				<div class="bottom-box clear-block">
				  <%- @top_rated.each do |track| -%>
				    <div class="elements clear-block">
  						<div class="float-right">
  						  <%= link_to avatar_image(track.user, :small), user_path(track.user) %>
  						</div>
  						<p class="abstract"><%= track.title %></p>
  						<p class="grey-text">used <%= pluralize track.collaboration_count, 'time' %></p>
							<div class="float-left">
								<%= rating(track) %>
								<%= mlab_button(track) %>
								<%= play_button(track) %>
							</div>
  				  </div>
				  <%- end -%>
				</div>
			</div>

		</div>
		
	<div class="collaboration-list clear-block">
		<h1>MOST ENGAGING TRACKS</h1>

		<div class="top-box clear-block">
			<div class="bottom-box clear-block">
				  
				<%- @most_engaging.each do |track| -%>
					<div class="elements clear-block">
						<p class="thumb"><%= link_to avatar_image(track.user, :small), user_path(track.user) if track.user %></p>
						<p class="name"><%= track.title %></p>
						<p class="grey-text"><%= truncate(track.description, 40) %></p>
						<div class="cyan-text float-left"><%= pluralize track.collaboration_count, 'collaboration' %></div>
						<div class="float-right">
							<%= rating(track) %>
							<%= mlab_button(track) %>
							<%= play_button(track) %>
						</div>
					</div>
			  <%- end -%>
			</div>
		</div> 
	</div>		
</div>
