<div class="box-list one-col clear-block clear-float">
		
<div class="simple-list section-tags clear-block">
			<div class="top-box clear-block">
				<div class="bottom-box clear-block">
				  <div class="elements clear-block">
						<!--
						<a style="font-size: 100%;" href="#">Lirica </a> <a style="font-size: 200%;" href="#">Elettronica </a> <a style="font-size: 80%;" href="#">Chemical </a> <a style="font-size: 70%;" href="#">Rock </a><a style="font-size: 130%;" href="#">Country </a><a style="font-size: 150%;" href="#">Bit </a><a style="font-size: 60%;" href="#">Jazz </a><a style="font-size: 120%;" href="#">Pop </a><a style="font-size: 100%;" href="#">Dance </a><a style="font-size: 150%;" href="#">Progressive </a><a style="font-size: 80%;" href="#">Etnic </a><a style="font-size: 100%;" href="#"> Classic </a>
					-->
					</div>
			  </div>
			</div>
		</div>		
		
		
		
		<div class="simple-list clear-block collaboration-list">
			<h1>TOP RATED COLLABORATIONS</h1>

			<div class="top-box clear-block">
				<div class="bottom-box clear-block">
				  <%- @top_rated.each do |track| -%>
				    <div class="elements clear-block">
  						<div class="float-right">
  						  <%= link_to avatar_image(track.user, :small) %>
  						</div>
  						<p class="abstract"><%= track.title %></p>
							<%= rating(track, :no_clear => true) %>
  						<p class="playcount">listened <%= pluralize track.listened_times, 'time' %></p>
  				  </div>
				  <%- end -%>
				</div>
			</div>

		</div>
		
	<div class="simple-list clear-block">
			<h1>MOST ENGAGING SONGS</h1>

			<div class="top-box clear-block">
				<div class="bottom-box clear-block">
				  
				  <%- @most_engaging.each do |track| -%>
  				  <div class="elements clear-block">
  						<p class="thumb"><%= link_to avatar_image(track.user, :small), user_path(track.user) if track.user %></p>
  						<p class="name"><%= track.title %></p>
  						<p class="cyan-text float-right"><strong><%= pluralize track.collaboration_count, 'collaboration' %></strong></p>
  				  </div>
				  <%- end -%>
				</div>
			</div> 

		</div>		
		
	</div>
