<div class="box-list one-col clear-block clear-float">
		
<div class="simple-list section-tags clear-block">
			<div class="top-box clear-block">
				<div class="bottom-box clear-block">
				  <div class="elements clear-block">
						<!--
						<a style="font-size: 100%;" href="#">Lirica </a> <a style="font-size: 200%;" href="#">Elettronica </a> <a style="font-size: 80%;" href="#">Chemical </a> <a style="font-size: 70%;" href="#">Rock </a><a style="font-size: 130%;" href="#">Country </a><a style="font-size: 150%;" href="#">Bit </a><a style="font-size: 60%;" href="#">Jazz </a><a style="font-size: 120%;" href="#">Pop </a><a style="font-size: 100%;" href="#">Dance </a><a style="font-size: 150%;" href="#">Progressive </a><a style="font-size: 80%;" href="#">Etnic </a><a style="font-size: 100%;" href="#"> Classic </a>
					-->
					</div>
			  </div>
			</div>
		</div>		
		
		
		
		<div class="simple-list clear-block">
			<h1>TOP RATED COLLABORATIONS</h1>

			<div class="top-box clear-block">
				<div class="bottom-box clear-block">
				  <%- @top_rated.each do |song| -%>
				    <div class="elements clear-block">
  					  <div class="clear-block">
  						  <span class="tracks-number"><span><%= song.tracks.count %></span></span> 
  						  <div class="float-right">
  						    <p>
                    <%= link_to avatar_image(song.user, :small) %>
                  </p>
  						  </div>
  					  </div>
  						<p class="abstract"><%= link_to song.title, song_path(song) %></p>
  						<p class="float-right">
  						  <%= rating(song) %>
              </p>
  						<p class="float-left">listened <%= pluralize song.listened_times, 'time' %></p>
  				  </div>
				  <%- end -%>
				</div>
			</div>

		</div>
		
	<div class="simple-list clear-block">
			<h1>MOST ENGAGING SONGS</h1>

			<div class="top-box clear-block">
				<div class="bottom-box clear-block">
				  
				  <%- @most_engaging.each do |song| -%>
  				  <div class="elements clear-block">
  						<p class="thumb"><%= link_to avatar_image(song.user, :small) if song.user %></p>
  						<p class="name"><%= link_to song.user.login, user_path(song.user) if song.user %></p>
  						<p class="cyan-text float-right"><strong>99 collaboration </strong></p>
  				  </div>
				  <%- end -%>
				</div>
			</div> 

		</div>		
		
	</div>
