<%- tracks.each do |track| -%>	  
<div class="elements clear-block">
  <p class="thumb">
    <%= track_instrument_icon(track) %>
    <a href="<%= user_path(track.user) %>"><%= avatar_image track.user, :icon %></a>
  </p>
  <p class="name align-right"><%= link_to(track.user.nickname, user_path(track.user)) %></p>
  <p class="title align-right"><%= track.title %></p>
  <p class="abstract">
    <%= track.description %>
  </p>
  <div class="music-info">
    <p class="bordered">
      <span>bpm: <strong><%= track.bpm %></strong></span>
      <span>key: <strong><%= track.tonality %></strong></span>
      <span class="align-right">runtime: <strong><%= track.length %> </strong></span>
    </p>
    <div class="float-left">
      <%= download_button(track) %>
      <%= link_to(track.parent_song.genre.name, genre_path(track.parent_song.genre)) if track.parent_song && track.parent_song.genre %>
    </div>
    <div class="float-right idea-buttons">
			<%= rating(track, :no_clear => true) %>
      <%= mlab_button(track) %>
      <%= play_button(track) %>
		</div>
  </div>
</div>
<%- end -%>
