<div class="elements clear-block">		
	<p class="thumb">
	  <%= image_tag(@instrument.icon) %>
	  <span class="cyan-text"><strong><%= link_to_remote @instrument.description, :update => 'ideas-by-instruments', :method => :get, :url => by_instrument_ideas_path(:instrument_id => @instrument.id) %></strong></span>
  </p>

	<table width="100%" cellspacing="0" cellpadding="0" border="0">
    <tbody>
      <%- @ideas.each do |track| -%>
        <tr class="even">
          <td>
            <span class="cyan-text"><%= track.parent_song.genre.name if track.parent_song && track.parent_song.genre %> </span>
            <%= track.parent_song.user.login if track.parent_song && track.parent_song.user  %>
            <em> <%= track.title %></em>
          </td>
          <td class="star">
            <%= rating(track) %>
          </td>
          <td class="button">
            <%= mlab_button(track) %>
            <%= play_button(track) %>
          </td>
        </tr>
      <%- end -%>
      <p class="abstract align-right">
        <% if @ideas.previous_page %>
  				<%= link_to_remote 'Prev ', :update => 'ideas-by-instruments', :method => :get, :url => by_instrument_ideas_path(:instrument_id => @instrument.id, :ipage => @ideas.previous_page) %>
  		  <% end %>
        <% if @ideas.next_page %>
  				<%= link_to_remote 'Next' , :update => 'ideas-by-instruments', :method => :get, :url => by_instrument_ideas_path(:instrument_id => @instrument.id, :ipage => @ideas.next_page) %>
  		  <% end %>
      </p>
    </tbody>
  </table>
</div>
