<p class="p4"><span class="s2"><strong><%= @admirer.login %></strong> admires you.</span></p>
<p class="p6"><br></p>
<p class="p5"><span class="s2">If you wanna become friend with <%= @admirer.him %>,</span></p>
<p class="p5"><span class="s2">you have to admire <%= @admirer.login %> back from <%= @admirer.his %> page, by clicking on the link below:</span></p>
<p class="p6"><br></p>
<p class="p5"><span class="s2"><a href="<%= @url %>"><%= @admirer.login %> user page</a></span></p>
