<p class="p4"><span class="s2">Myousician <%= @user.login %> has invited you to join <a href="<%= @url %>"><%= @mband.name %></a> M-Band and play together.</span></p>
<p class="p6"><span class="s2"></span><br></p>
<p class="p5"><span class="s2">Click on the link below to join the M-band!</span></p>
<p class="p6"><span class="s2"></span><br></p>
<p class="p5"><span class="s2"><a href="<%= @accept %>"><%= @accept %></a></span></p>
