<tr id="row_<%= song.id %>">
	<td><%= edit_link_to song.id, admin_song_path(song) %></td>
	<td><%= song.title %></td>
	<td><%= song.description %></td>
	<td><%= song.genre.name if song.genre %></td>
	<td><%= edit_link_to song.user.login, admin_user_path(song.user) if song.user %></td>
</tr>

