<tr>
	<td><%= link_to song.id, admin_song_path(song), :class => 'edit-link' %></td>
	<td><%= song.title %></td>
	<td><%= song.description %></td>
	<td><%= song.genre.name if song.genre %></td>
	<td><%= song.user.login if song.user %></td>
</tr>

