<a class="close-edit" href="#">close</a>
<h2>editing song <%= @song.id %></h2>
<%= error_messages_for :song %>
<% edit_form_for @song, :url => admin_song_url(@song) do |f| %>
<dl>
	<dt>title</dt>
	<dd><%= f.text_field :title %></dd>

	<dt>original author</dt>
	<dd><%= f.text_field :original_author %></dd>

	<dt>description</dt>
	<dd><%= f.text_field :description %></dd>

	<dt>tone</dt>
	<dd><%= f.text_field :tone %></dd>

	<dt>filename</dt>
	<dd><%= f.text_field :filename %></dd>

	<dt>user</dt>
	<dd><%= f.select :user_id, User.find(:all, :select => 'login,id').map {|u| [u.login,u.id]}, :include_blank => true %></dd>

	<dt>genre</dt>
	<dd><%= f.select :genre_id, Genre.find(:all).map { |g| [g.name,g.id] }, :include_blank => true %></dd>

	<dt>bpm</dt>
	<dd><%= f.text_field :bpm %></dd>

	<dt>seconds</dt>
	<dd><%= f.text_field :seconds %></dd>

	<dt>listened times</dt>
	<dd><%= @song.listened_times %></dd>

	<dt>published</dt>
	<dd><%= f.check_box :published %></dd>

	<dt>created at</dt>
	<dd><%= @song.created_at %></dd>

	<dt>updated at</dt>
	<dd><%= @song.updated_at %></dd>

	<dt>rating</dt>
	<dd><%= @song.rating_avg.to_f %></dd>

	<dt>children tracks</dt>
	<dd><div style="float:left"><%= @song.children_tracks.find(:all, :order => 'id').map { |track| edit_link_to(track.title, admin_track_path(track)) }.join('<br/>') %></div><div style="clear:both"></div></dd>

	<dt>mixed tracks</dt>
	<dd><div style="float:left"><%= @song.tracks.find(:all, :order => 'tracks.id', :include => :parent_song).map { |track|
		edit_link_to("#{track.parent_song.title}: #{track.title}", admin_track_path(track)) + ' ' +
		link_to_remote('[unmix]', :url => unmix_admin_song_path(@song, :track_id => track.id), :method => 'put', :update => 'editing')
	}.join('<br/>') %></div><div style="clear:both"></div></dd>

</dl>
<%= submit_tag 'submit' %>
<% end %>

<% edit_form_for @song, :url => admin_song_path(@song), :method => 'delete' do %>
	<%= submit_tag 'delete', :onclick => 'if(!confirm("sure?!")) return false;' %>
<% end %>

<% unless @song.new_record? %>
	<% edit_form_for @song, :url => mix_admin_song_path(@song) do %>
		<%= select_tag 'track_id', options_for_select(Track.find(:all, :include => :parent_song, :order => 'songs.title, tracks.title').map{|t| ["#{t.parent_song.title}: #{t.title}",t.id]}) %>
		<%= submit_tag 'mix track' %>
	<% end %>
<% end %>
