<a class="close-edit" href="#">close</a>
<h2>editing song <%= @song.id %></h2>
<%= error_messages_for :song %>
<% remote_form_for @song, :url => admin_song_url(@song), :update => 'editing' do |f| %>
<dl>
	<dt>title</dt>
	<dd><%= f.text_field :title %></dd>

	<dt>original author</dt>
	<dd><%= f.text_field :original_author %></dd>

	<dt>description</dt>
	<dd><%= f.text_field :description %></dd>

	<dt>tone</dt>
	<dd><%= f.text_field :tone %></dd>

	<dt>filename</dt>
	<dd><%= f.text_field :filename %></dd>

	<dt>user</dt>
	<dd><%= f.select :user_id, User.find(:all, :select => 'login,id').map {|u| [u.login,u.id]} %></dd>

	<dt>genre</dt>
	<dd><%= f.select :genre_id, Genre.find(:all).map { |g| [g.name,g.id] } %></dd>

	<dt>bpm</dt>
	<dd><%= f.text_field :bpm %></dd>

	<dt>seconds</dt>
	<dd><%= f.text_field :seconds %></dd>

	<dt>listened times</dt>
	<dd><%= @song.listened_times %></dd>

	<dt>published</dt>
	<dd><%= f.check_box :published %></dd>

	<dt>created at</dt>
	<dd><%= @song.created_at %></dd>

	<dt>updated at</dt>
	<dd><%= @song.updated_at %></dd>

	<dt>rating</dt>
	<dd><%= @song.rating_avg.to_f %></dd>

	<dt>children tracks</dt>
	<dd><p><%= @song.children_tracks.find(:all, :order => 'id').map { |track| link_to("#{track.id} #{track.title}", admin_track_path(track), :class => 'edit-link') }.join('<br/>') %></p></dd>

	<dt>mixed tracks</dt>
	<dd><p><%= @song.tracks.find(:all, :order => 'id').map { |track| link_to("#{track.id} #{track.title}", admin_track_path(track), :class => 'edit-link') }.join('<br/>') %></p></dd>

</dl>
<%= submit_tag 'submit' %>
<% end %>

<% remote_form_for @song, :url => admin_song_url(@song), :method => 'delete' do %>
	<%= submit_tag 'delete' %>
<% end %>
