<%- if @songs.size > 0 -%>
  <%- @songs.each do |song| -%>
  <div class="search_row">
		<div class="float-left">
  		<div class="search_icon_container">
  			<%= play_button(song) %>
  			<%= mlab_button(song) %>
  		</div>
  		<div class="search_icon_container"><%= link_to avatar_image(song.user, :icon), user_path(song.user) %></div>
			<p class="search_black_text song">
				<%= link_to highlight_search(song.title), song_path(song) %>&nbsp;
				<span class="abstract grey-text"><%= highlight_search(song.original_author) %></span><br/>
				<span class="music-info grey-text"><%= highlight_search truncate(song.description, 80) %></span>
			</p>
  	</div>
		<%= rating(song) %>
		<div class="float-right">
  		<p class="search_blue_text"><%= link_to(highlight_search(song.genre.name), genre_path(song.genre)) if song.genre %></p>
  		<p class="search_small_orange_text">Tracks</p><p class="search_gray_text">(<%= song.tracks.count %>)</p>
  		<p class="search_sky_text"><%= song.length %></p>				
  	</div>
  </div>
  <%- end -%>
  <%= will_paginate @songs, :class => 'pagination song', :params => { :type => :song }, :prev_label => image_tag('move_arrow_left.png'), :next_label => image_tag('move_arrow_right.png') %>
	<div class="pagination spinner">
    <img src="/images/spinner.gif" id="song-results-spinner" style="display:none"/>
  </div>
<%- else -%>
  <p style="margin-left: 15px" class="grey-text">No songs found. Create'em with our <%= link_to 'multitrack', multitrack_path %>!</p>
<%- end -%>
