<%- @users.each do |user| -%>
<div id="search_row">
	<div style="float:left">
		<div id="search_icon_container"><img src="/images/band_type.png" /></div>
		<div id="search_icon_container"><%= link_to avatar_image(user, :icon), user_path(user) %></div>
		<p class="search_black_text"><%= highlight_search user.login %></p>
		<p class="search_gray_text"><%= highlight_search user.country %>, <%= highlight_search user.city %></p>
	</div>
	<div style="float:right">
		<p class="search_gray_text">Uploads:</p>
		<p class="search_small_green_text">Songs</p><p class="search_gray_text">()</p>
		<p class="search_small_orange_text">Tracks</p><p class="search_gray_text">()</p>
	</div>
</div>  
<%- end -%>
<div style="float: right; width: 25px; height: 16px;">
  <img src="/images/spinner.gif" id="user-results-spinner" style="display: none;"/>
</div>
<%= will_paginate @users, :class => 'pagination user', :params => { :type => :user }, :prev_label => "&lt;", :next_label => "&gt;" %>

