<div class="bottom-box clear-block">
	<div class="elements clear-block">
		<p class="text-blue float-right"><strong><%= pluralize coolest_mbands.members.size, 'member' %></strong></p>
		<p class="thumb">
			<%= link_to avatar_image(coolest_mbands, :small), coolest_mbands %>
		</p>
		<p class="name">
			<%= link_to coolest_mbands.name, coolest_mbands %>
		</p>
		<p class="country">
			<%= h coolest_mbands.countries.join(', ') %>
		</p>
	</div>
	<div class="slide-container">
		<div class="button">
			<a href="#" class="slide-prev"><img src="/images/slider_arrow_left.png"/></a>
		</div>
		<!--[if IE]><div style="clip: rect(0px 315px 30px 0px); position: absolute; overflow:hidden;"><![endif]-->
		<div class="scroll-clip">
			<div id="coolest-mband-scroller" style="width: <%= coolest_mbands.members.count * 35 + 5 %>px; left: 0px;">
				<%= render :partial => 'friend_icon', :collection => coolest_mbands.members %>
			</div>
		</div>
		<!--[if IE]></div><![endif]-->
		<div class="button">
			<a href="#" class="slide-next"><img src="/images/slider_arrow_right.png"/></a>
		</div>
	</div>				  	
</div>
