	<li id="gear[<%= gear.id %>][position]" class="drag_gear">
		<div class="my_gear overflow-hidden">
			<div class="fleft">
				<div class="fleft instr_avatar">
					<span href="#" class="instr white <%= gear.instrument.code %>">
						<%= hidden_field_tag "gear[#{gear.id}][instrument_id]", gear.instrument.id %>
					</span>
				</div>				
					<div class="fleft gear_infos">
						<div class="fleft">
							<span class="fleft">
								<strong class="heading_blue fleft edit"><%= gear.brand %></strong>
								<%= hidden_field_tag "gear[#{gear.id}][brand]", gear.brand %>
								<span class="fleft padleft7 ten">
									<a href="#" class="icons16 edit_icon padleft23 none edit_link">Edit</a>
								</span>
							</span>
								<div class="clear"> </div>
							<span class="fleft">
								<span class="heading_blue fleft edit"><%= gear.model %></span>
								<%= hidden_field_tag "gear[#{gear.id}][model]", gear.model %>
								<span class="fleft padleft7 ten">
									<a href="#" class="icons16 edit_icon padleft23 none edit_link">Edit</a>
								</span>
							</span>
						</div>
					</div>
				</div>
				<div class="fright" style="margin-right:4px;">
					<a class="icons16 ui-state-tools ui-icon-circle-close ui-pointer"> </a>
					<span class="drag-handle icons16 ui-state-tools ui-icon-arrow-4"> </span>							
				</div>
		</div>
	</li>
