<!-- USER INFO -->
<div class="clear"> </div>
<div class="iam_box fleft">
	<a href="#" class="edit_lists edit_icon none fright">Edit</a>
	<h2>I'm</h2>
	<div class="inner">

		<dl class="info">
			<%- if @user.gender -%>
			<dt>Sex:</dt>
			<dd><%= @user.gender.capitalize %></dd>
			<%- end -%>
			<%- if @user.country -%>
			<dt>Country:</dt>
			<dd><%= @user.country.capitalize %></dd>
			<%- end -%>
			<%- if @user.birth_date -%>
			<dt>Date of birth:</dt>
			<dd><%= @user.birth_date.strftime '%d %B %Y' %></dd>
			<%- end -%>
			<dt>E-mail:</dt>
			<dd><%= link_to @user.email, "mailto:#{@user.email}" %></dd>
			<dt>Gears:</dt>
			<dd><a href="">Fender Stratocaster,</a> <a href="">Access Virus T1 Polar,</a> 
				<a href="">Bongo Banale,</a> <a href="">Flauto in plastica</a>
			</dd>
			<%- unless @user.mbands.empty? -%>
			<dt>M-Bands:</dt>
			<dd><%= @user.mbands.map { |m| link_to(m.name, m) }.join ',' %></dd>
			<%- end -%>
		</dl>
		
		<%- if @user.biography -%>
		<p class="info_text_group gray_spec">
			<span class="s13 heading block">Biography</span>
			<%=h @user.biography %>
		</p>
		<%- end -%>

	</div>
</div>

<div class="influences_box fleft">
	<a href="" class="edit_lists edit_icon none fright">Edit</a>
	<h2>Influences</h2>
	<div class="inner">

		<p class="info_text_group">
			<span class="s13 heading block">Genre</span>
			<span class="tag_genre nomargin">
				<a href="">Acid Jazz/Fusion,</a> <a href="">Acoustic,</a> <a href="">Alternative 	Rock,</a> <a href="">Ambient,</a> <a href="">Blues,</a>  
				<a href="">British Pop,</a> <a href="">Classic Rock,</a> <a href="">Country,</a>  <a href="">Country Rock,</a> <a href="">Crossover,</a> <a href="">Dance,</a>  
				<a href="">Disco,</a> <a href="">Drum & Bass,</a> <a href="">EBM,</a> <a 	href="">Electro-Rock,</a> <a href="">Electronic,</a> <a href="">Folk Rock,</a> <a href="">Funk,</a> <a href="">Acid Jazz/Fusion,</a> <a href="">Acoustic,</a> <a href="">Alternative 	Rock,</a> <a href="">Ambient,</a> <a href="">Blues</a>
			</span>			
		</p>

		<p class="info_text_group">
			<span class="s13 heading block">Artists</span>
			<span class="tag_genre body12 nomargin">
				<a href="">Tommy Califano,</a> <a href="">Barac Mobil,</a> <a href="">Dustin Pinkerlake,</a>  <a href="">Pino,</a> <a href="">Angelo & Cirillo,</a> 
				<a href="">Alvarez de la Fonzeca,</a> <a href="">XXX84,</a> <a href="">B 52,</a> <a href="">Pane e Pomodoro,</a> <a href="">Ajira Airlines,</a> <a href="">Vincent Burd</a>  
			</span>
		</p>


		<p class="info_text_group">
			<span class="s13 heading block">Movies</span>
			<span class="gray_spec nomargin">
				The Snatch, Matrix, Loredana tutta tana, L'incredibile voglia "di cazzo" di Babette
			</span>
		</p>

		<p class="info_text_group">
			<span class="s13 heading block">Books</span>
			<span class="gray_spec nomargin">
				The three stigmata of Palmer Eldrich
			</span>
		</p>
			
	</div>
</div>
