<div id="mband_invite_container" style="display: none;">
  <%- form_for(:mband_memberships, :url => mband_memberships_path, :method => 'post') do |f| -%>
  <%= hidden_field_tag "user_id", @user.id %>
	<div id="mband_invite_top">
		<div id="mband_title">
			Invite <%= @user.login %><br />in your MBand
		</div>
		<div id="mband_logo"> </div>

	</div>
		<div id="mband_invite_core">
			<div id="mband_select" style="display: <%= current_user.mbands.count > 0 ? 'block' : 'none' %>;">
				<%= select_tag :mband_id, options_for_select(current_user.mbands.collect{|m| [m.name, m.id]}.unshift(['New Mband', ''])), :onchange => "var v=this.options[this.selectedIndex].value;v.strip() == '' ? $('mband_add_new').show() : $('mband_add_new').hide()" %>
			</div>

			<div id="mband_add_new">
				<span id="band_over_input_text">
					<strong>New Mband name </strong>
					<%= text_field_tag :mband_name %>
				</span>

			</div>		
			<div id="band_buttons_bottom">
				<span id="band_alert">&nbsp;</span>
				<div id="band_buttons">
						<div id="band_form_buttons">
							<a href="#" onclick="$('mband_invite_container').toggle(); return false;"><img src="/images/band_button_cancel.png" /></a>
							<%= image_submit_tag 'band_button_ok.png', :onclick => "if($('mband-id').value.strip() == '' && $('mband_name').value.strip() == ''){ $('band_alert').update('Mband name is required!');return false;} " %>
						</div>
				</div>
			</div>	
		</div>
	<div id="mband_invite_bottom">

	</div>
	<%- end -%>
</div>
