<div class="element clear-block">
  <p class="edit-command">
  <%- if logged_in? && mband.members_count > 1 -%>
    <%- to_string = mband.members.find_all{|u| u != current_user}.collect{|u| u.login }.join(', ') -%>
      <a href="#" onclick="new Effect.ScrollTo($('user-mail').down('.popup'));MailBox.instance.openPopup();MailBox.instance.loadPage('<%= new_user_message_path(current_user, :to => to_string) %>');return false;">write</a><br/>
  <%- end -%>
  <%- if current_user_page? && mband.band_membership_with(@user).accepted_at.nil? -%>
    <a href="/mband_memberships/accept/<%= mband.band_membership_with(@user).membership_token %>">accept</a>
  <%- end -%>
  </p>
  <p class="thumb">
    <%= link_to avatar_image(mband, :icon), mband_path(mband) %>
    <%= instrument_icon(mband.band_membership_with(@user).instrument) %>
  </p>
  <p class="name"><%= link_to mband.name, mband_path(mband) %></p>
  <p class="grey-text"><%= pluralize(mband.members_count, 'member') %></p>
</div>
