<div class="pick_wrap margin30">
  <a href="" class="pick_ad block fleft" title="<%= @most_played_artist %>" style="background-image: url('images/temp/pick_bowie.jpg');">
			<p class="pick_info block">
				<strong>MOST PLAYED ARTIST</strong>
			</p>
		</a>
		<div class="pick_details fright">
      <h1><%= @most_played_artist %></h1>
			<p class="tag_genre">
      <% for tag in @most_played_tags %>
        <%= link_to tag.name, '#FIXME' %>
      <% end %>
			</p>
      <a class="item_count block" href="">(<%= @most_played_by_artist.total_entries %>) songs</a>
			
			<!-- VIDEO BOXES -->
			<div class="video_thumb fleft">
				<span class="still_play"> </span>
				<img src="images/temp/video_still.jpg" />
				<span class="gray_spec"><strong>Gerardo Palla</strong><br />
				Lorem ipsum dolo...</span>
			</div>
			<div class="video_thumb fleft">
				<span class="still_play"> </span>
				<img src="images/temp/video_still.jpg" />
				<span class="gray_spec"><strong>Gino il Pazzo</strong><br />
				Playing Bananos</span>
			</div>
			<!-- END VIDEO BOXES -->

			<div class="clear"> </div>

			<!-- LAST FM ORIGINALS -->
			<div class="lastfm_box">
				<ul class="fmlinks">
				<div class="fleft" style="margin-top: 20px;">
					<img src="images/lastfm_tag.jpg" />					
				</div>
					<li class="gray_spec">Listen original songs</li>
					<li><a href="" class="lastfm_lists">Lorem Ipsum</a></li>
					<li><a href="" class="lastfm_lists">Dolor sit amet tout</a></li>
					<li><a href="" class="lastfm_lists">Parlano le puttane</a></li>
				</ul>												
			</div>
			<!-- END LAST FM ORIGINALS -->			

			<!-- PICKED RELATED -->
			<ul class="related_list alright">
				<h2>Users playing this artist</h2>
				<li class="user_thumb">
					<img src="images/thumb_loader_white.gif" width="39" height="39" />
				</li>
				<li class="user_thumb">
					<img src="images/thumb_loader_white.gif" width="39" height="39" />
				</li>
				<li class="user_thumb">
					<img src="images/thumb_loader_white.gif" width="39" height="39" />
					<img src="images/user_thumb.jpg" width="40" height="40" class="loaded" />
				</li>
				<li class="user_thumb">
					<img src="images/thumb_loader_white.gif" width="39" height="39" />
					<img src="images/user_thumb.jpg" width="40" height="40" class="loaded" />
				</li>
			<a class="item_count block" href="">(109) songs</a>			
			</ul>
		</div>

		<!-- SONG BLOCK -->
		<div class="w454 fleft">
      <%= render :partial => 'shared/song_block', :collection => @most_played_by_artist %>
		</div>
		<!-- END SONG BLOCK -->
</div>
<div class="clear"> </div>
