<div class="fleft">
	<span class="gray_spec"><%= if current_user_page? then 'You have' else "#{@user.login} has" end %>:</span>
	<span class="fleft heading s13 weight-bold"><%= songs_count :all %> Songs</span>
</div>

<!--
<a href="#add_gear" id="add_gear_link" class="edit_lists tag_yellow_icon none fright">
	Add your Gear
</a>
-->
<div class="clear"> </div>

<!-- USER SONGS -->
<div id="user_songs_list">
		<div class="browse_pane pane_content">
			<script type="text/javascript">
				$(function() {
					$('#profile-songs-tabs').simpleTabs();
				});
			</script>
			<div id="profile-songs-tabs">
				<ul class="music_type alright s13 browse_pane_left fleft">
					<%- if current_user_page? -%>
					<li class="">All <small class="sixsixsix"><%= songs_count %></small></li>
					<li class="">
						<span class="fleft icons16 private_icon"> </span>
						<a href="#profile-songs-private">Private <small class="gray_spec"><%= private_songs_count %></small></a>
					</li>
					<%- end -%>
					<li class="current">
						<span class="fleft icons16 music_icon"> </span>
						<a href="#profile-songs-public">Songs <small class="gray_spec"><%= public_songs_count %></small></a>
					</li>
					<li class="">
						<span class="fleft icons16 instruments_icon"> </span>
						<a href="#profile-instruments">Instruments <small class="gray_spec"><%= tracks_count %></small></a>
					</li>
				</ul>

				<%- if current_user_page? -%>
				<div class="browse_pane_right fleft" id="profile-songs-public" style="display:none">
					<div class="music_list fleft">
						<%= render :partial => 'users/song_block', :collection => @private_songs %>
					</div>
				</div>
				<%- end -%>
				<div class="browse_pane_right fleft" id="profile-songs-public">
					<div class="music_list fleft">
						<%= render :partial => (current_user_page? ? 'users/song_block' : 'shared/song_block'), :collection => @songs %>
					</div>
				</div>
				<div class="browse_pane_right fleft" id="profile-instruments" style="display:none">
					<div class="music_list fleft">
						<%= render :partial => 'shared/instrument_block', :collection => @tracks %>
					</div>
				</div>

			</div>
			
		</div>
</div>
<div class="profile_music_pager fright">
      <%= render :partial => 'shared/paging_vert' %>
</div>

<div class="clear"> </div>
