<div class="whiteblock-shadow clear-block">
  <%= breadcrumb %>
	<div class="box-list one-col clear-block">
	  <div class="people-list clear-block">
		  <h1>COOLEST</h1>
		  <div class="top-box clear-block">
			  <div class="bottom-box clear-block">
          <%= render :partial => 'shared/person', :collection => @coolest, :locals => {:color => "blue"} %>			  
			  </div>
		  </div>
	  </div>
  </div>
  
  <div class="box-list two-col clear-block">
	  <div class="bands-dj-list clear-block">
	    <h1>BEST MYOUSICIANS </h1>
		  <div class="top-box clear-block">
			  <div class="bottom-box clear-block">
			    <%= render :partial => 'shared/band', :collection => @best_myousicians %>
			  </div>
		  </div>	
	  </div>
  </div>
  
  <div class="box-list one-col clear-block clear-float">
    
	  <div class="simple-list clear-block">
		  <h1>CON PI&Ugrave; CANZONI </h1>
		  <div class="top-box clear-block">
			  <div class="bottom-box clear-block">
          <%= render :partial => 'person_short', :collection => @prolific %>
			  </div>
		  </div>
	  </div>
	
    <div class="simple-list yellow-box clear-block">
      <h1>NEWEST</h1>
	    <div class="top-box clear-block">
		    <div class="bottom-box clear-block">
          <%= render :partial => 'person_medium', :collection => @newest %>			
		    </div>
	    </div>
    </div>		
    
	</div>

  <div class="box-list two-col clear-block">
	  <div class="box-rounded-gray clear-block">
		  <h1>CON PI&Ugrave; AMICI </h1>
		  <div class="top-box clear-block">
        <%= render :partial => 'most_friends' %>
			</div>
		</div>
	
	  <div class="box-rounded-gray clear-block">
		  <h1>CON PI&Ugrave; M-BAND </h1>
		  <div class="top-box clear-block">
        <%= render :partial => 'most_bands', :object => @most_bands.first %>
		  </div>
	  </div>
	
  	<div class="box-rounded-gray clear-block">
  		<h1>CON PI&Ugrave; STRUMENTI </h1>
  		<div class="top-box clear-block">
        <%= render :partial => 'most_instruments' %>
  		</div>
  	</div>
  </div>
</div>
