	<!-- LEFTCOL -->
	<div class="leftCol fleft">
		<div class="leftColWrapper">

  	<!-- EXPL BANNER -->
    <div id="expl_banner">
      <span id="expl_hide" class="fright">hide</span>
      <span class="expl_band fleft"> </span>
      <h1>Mewsic is full of musicians, just like you!.</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean semper, ipsum<br />
      eget dapibus sagittis, nunc nunc feugiat neque, vel blandit turpis<br />
      tellus eu leo. Fusce semper.</p>
      <ul class="expl_links fright">
        <li><a href=""><strong>Join now</strong></a></li>
        <li><a href=""><strong>Learn More</strong></a></li>
      </ul>
    </div>
  	<!-- END EXPL BANNER -->

      <%= render :partial => 'users/pick_of_the_week' %>
      <%= render :partial => 'users/most_played' %>
		</div>
	</div>
	<!-- END LEFTCOL -->	

	<!-- RIGHTCOL -->	
	<div class="rightCol fright">

    <%= render :partial => 'users/coolest' %>
    <span class="divider block"> </span>
    
    <%= render :partial => 'shared/did_you_know' %>

	</div>
	<!-- END RIGHTCOL -->	

	<div class="clear"> </div>
	
<% content_for :footer do %>
<ul class="footer_right_content fright">
	<div class="w440">
	<h2>Most played artist</h2>
	<div class="snip fleft">
		<a href=""  title="David Bowie" class="fleft">
			<img src="images/temp/pick_bowie.jpg" width="100" />
		</a>
		<a href="" class="footer_name_link" title="David Bowie">
			David Bowie
		</a><br />
		<p class="tag_genre fleft">
			<a href="">Acid Jazz</a><a href="">Acoustic</a><a href="">Alternative</a>
		</p>
		<br />
		<a class="item_count" href="">(109) songs</a>
	</div>

	
	<ul class="fmlinks fright">
		<li class="gray_spec">Listen<br /> original songs</li>
		<li><a href="" class="lastfm_lists">Lorem Ipsum</a></li>
		<li><a href="" class="lastfm_lists">Dolor sit amet tout</a></li>
		<li><a href="" class="lastfm_lists">Parlano le puttane</a></li>
	</ul>													
	<div class="clear"> </div>

  <% 2.times do %>
    <li class="border_list">
      <%= render :partial => 'shared/song_block' %>
    </li>
  <% end %>

	</div>
</ul>		
<% end %>
