	<div class="box-list one-col clear-block">
	  <div class="people-list clear-block">
		  <h1>COOLEST</h1>
		  <div class="top-box clear-block">
			  <div class="bottom-box clear-block">
          <%= render :partial => 'shared/person', :collection => @coolest, :locals => {:color => "blue"} %>			  
			  </div>
		  </div>
	  </div>
  </div>
  
  <div class="box-list two-col clear-block">
	  <div class="bands-dj-list clear-block">
	    <h1>BEST MYOUSICIANS </h1>
		  <div class="top-box clear-block">
			  <div class="bottom-box clear-block">
			    <%= render :partial => 'shared/band', :collection => @best_myousicians %>
			  </div>
		  </div>	
	  </div>
  </div>
  
  <div class="box-list one-col clear-block clear-float">
    
	  <div class="simple-list clear-block">
		  <h1>MOST SONGS</h1>
		  <div class="top-box clear-block">
			  <div class="bottom-box clear-block">
          <%= render :partial => 'person_short', :collection => @prolific %>
			  </div>
		  </div>
	  </div>
	
    <div class="simple-list yellow-box clear-block">
      <h1>NEWEST</h1>
	    <div class="top-box clear-block">
		    <div class="bottom-box clear-block" id="newest-users">
          <%= render :partial => 'person_medium', :collection => @newest %>			
		    </div>
	    </div>
    </div>		
    
	</div>

  <div class="box-list two-col clear-block">
	  <div class="box-rounded-gray clear-block">
		  <h1>MOST FRIENDS</h1>
		  <div class="top-box clear-block">
        <%= render :partial => 'most_friends', :collection => @friendliest %>
			</div>
		</div>
	
	  <div class="box-rounded-gray clear-block">
		  <h1>MOST M-BANDS</h1>
		  <div class="top-box clear-block">
        <%= render :partial => 'most_bands', :collection => @most_bands %>
		  </div>
	  </div>
	
  	<div class="box-rounded-gray clear-block">
  		<h1>MOST INSTRUMENTS</h1>
  		<div class="top-box clear-block">
        <%= render :partial => 'most_instruments', :object => @most_instruments if @most_instruments %>
  		</div>
  	</div>
  </div>
