	<!-- LEFTCOL -->
	<div class="leftCol fleft">
		<div class="leftColWrapper">

		<!-- EXPL BANNER -->
		<div id="expl_banner">
			<span id="expl_hide" class="fright">hide</span>
			<span class="expl_logo bar fleft"> </span>
			<h1>Want a musician? Just look!</h1>
			<p>Mewsic is full of people who want to make music and collaborate.<br />
			Let's find them!</p>
			<ul class="expl_links fright">
				<li><a href=""><strong>Learn More</strong></a></li>
			</ul>
		</div>
		<!-- END EXPL BANNER -->

      <%= render :partial => 'users/pick_of_the_week' %>
      <%= render :partial => 'users/most_played' %>
		</div>
	</div>
	<!-- END LEFTCOL -->	

	<!-- RIGHTCOL -->	
	<div class="rightCol fright">

    <%= render :partial => 'users/coolest' %>
    <span class="divider block"> </span>
    
    <%= render :partial => 'shared/did_you_know' %>

	</div>
	<!-- END RIGHTCOL -->	

	<div class="clear"> </div>
	
<% content_for :footer do %>
<ul class="footer_right_content fright">
	<div class="w440">
	<h2>Most played artist</h2>
	<div class="snip fleft">
    <a href=""  title="<%= @most_played_artist %>" class="fleft">
			<img src="images/temp/pick_bowie.jpg" width="100" />
		</a>
    <a href="" class="footer_name_link" title="<%= @most_played_artist %>">
      <%= @most_played_artist %>
		</a><br />
		<p class="tag_genre fleft">
    <% for tag in @most_played_tags %>
      <%= link_to tag.name, '#FIXME' %>
    <% end %>
		</p>
		<br />
    <a class="item_count" href="">(<%= @most_played_by_artist.total_entries %>) songs</a>
	</div>

	
	<ul class="fmlinks fright">
		<li class="gray_spec">Listen<br /> original songs</li>
		<li><a href="" class="lastfm_lists">Lorem Ipsum</a></li>
		<li><a href="" class="lastfm_lists">Dolor sit amet tout</a></li>
		<li><a href="" class="lastfm_lists">Morbi pellentesque, orci vel</a></li>
	</ul>													
	<div class="clear"> </div>

  <% @most_played_by_artist[0..1].each do |song| %>
    <li class="border_list">
      <%= render :partial => 'shared/song_block', :object => song %>
    </li>
  <% end %>

	</div>
</ul>		
<% end %>
