        <div id="register-box">

          <h1>Create your Myousica account!</h1>
          <%= signup_error_message %>

          <% form_for @user do |f| %>

          <div class="register">
            <p>
              <label for="user_login">Nickname</label><span class="required">*</span><br/>
              <%= f.text_field :login, :maxlength => 20 %>
            </p>
            <p>
              <label for="user_email">Email</label><span class="required">*</span><br/>
              <%= f.text_field :email, :maxlength => 60 %>
            </p>
            <p>
              <label for="user_password">Password</label><span class="required">*</span><br/>
              <%= f.password_field :password, :maxlength => 20 %>
            </p>
            <p>
              <label for="user_password_confirmation">Repeat password</label><span class="required">*</span><br/>
              <%= f.password_field :password_confirmation, :maxlength => 20 %>
            </p>
	  </div>
		  
          <div class="register">
            <p>
              <label for="user_country">Country</label><span class="required">*</span><br/>
              <%= f.country_select(:country, [["Choose your country...", nil]]) %>
            </p>
            <p>
              <label for="user_gender">Gender</label><br/>
              <%= f.select :gender, [["Choose your gender...", ''], ["Male", "male"], ["Female", "female"], ["Other", "other"]] %>
            </p>
            <p>
              <label for="user_first_name">Name</label><br/>
              <%= f.text_field :first_name, :maxlength => 20 %>
              </p>
            <p>
              <label for="user_last_name">Surname</label><br/>
              <%= f.text_field :last_name, :maxlength => 20 %>
            </p>
	  </div>
	
          <p class="tos">
            By clicking "sign up" below, you agree to Myousica's <%= link_to 'terms of service', '/TOS.html' %> and <%= link_to 'license agreement', 'http://creativecommons.org/licenses/nc-sampling+/1.0/deed' %>
          </p>

          <p class="signin-button centered">
            <%= image_submit_tag 'sign_button.png' %>
          </p>
          <p class="centered">
            Already a member? <%= link_to 'Log in!', login_path %>
          </p>


        <% end %>
      </div>
