<% content_for :head do %>
	<%= javascript_include_tag 'signup' %>
<% end %>
<!-- LEFTCOL -->
<div class="leftCol fleft">
	<div class="leftColWrapper">

<div class="fleft w343">
	<h1>Create an account on Mewsic</h1>
	
	<div id="validateTips" class="ui-state-highlight alleft">
		<span class="fleft icons16 profile ui-icon ui-icon-lightbulb"> </span>
		All form fields are required.
	</div>
	
	<% @user.errors.each do |field, error| %>
	<div id="validateTips" class="ui-state-error alleft">
		<span class="fleft icons16 profile ui-icon ui-icon-lightbulb"> </span>
		<%= field %> <%= error %>
	</div>
	<% end %>
	
	
	<% form_for @user, users_path, :id => 'signup-form', :method => :post do |f| %>
		<fieldset>
			<label for="name">Username</label>
			<%= f.text_field 'login', :class => 'text ui-widget-content' %>
			<label for="email">Email</label>
			<%= f.text_field 'email', :class => 'text ui-widget-content' %>
			<label for="password">Password</label>
			<%= f.password_field 'password', :class => 'text ui-widget-content' %>
			<label for="password">Check Password</label>
			<%= f.password_field 'password_confirmation', :class => 'text ui-widget-content' %>

			<%= submit_tag 'Register', :class => 'join_button mailbox_send fright' %>
	    <input id="reset" type="reset" value="Cancel" class="mailbox_cancel cancel_button gray_spec fright">

			<div id="signup-spinner" class="fright icons16 loader_white" style="display:none;margin:3px 5px 0 0;"> </div>				
		
		</fieldset>
	<% end %>	
	
	<p class="sixsixsix">
		Already have an account? <%= link_to 'Login now', login_path %>,<br />
		or <strong>Connect with Facebook</strong> here on the right.
	</p>
</div>
<div class="fleft marginleft10 w343">			
	<h1 class="fright">Log-in using Facebook Connect</h1>

		<p style="padding:5px" class="fright gray_spec alright nomargin">
	Connect <a href="">Mewsic</a> with Facebook to interact with your friends on this site and to share on Facebook through your Wall and friends' News Feeds. This site will also be able to automatically post recent activity back to Facebook.
		</p>
		<span class="fright margin7">
      <fb:login-button onlogin='window.location = "/";' size="medium" length="long" background="white"></fb:login-button>
		</span>
</div>




	</div>
</div>
<!-- END LEFTCOL -->	

<!-- RIGHTCOL -->	
<div class="rightCol fright">

      <%= render :partial => 'shared/did_you_know' %>

</div>
<!-- END RIGHTCOL -->	

<div class="clear"> </div>

<% content_for :footer do %>
  <%= render :partial => 'songs/footer' %>
<% end %>
