<div class="whiteblock-shadow clear-block">
  <%= breadcrumb %>
	<div class="alert">
	  <%= error_messages_for 'user' %>
	</div>
	
	<% form_for @user do |f| %>
	<div class="box-list two-col clear-block">
    
		<div class="register clear-block">
		  <h1>Profile Information</h1>
			<p>
				<label for="user_login">* Nickname</label>
				<%= f.text_field :login %>
			</p>
			<p>
				<label for="user_email">Email</label>
				<%= f.text_field :email %>
			</p>
			<p>
				<label for="user_password">Password</label>
				<%= f.text_field :password %>
			</p>
			<p>
				<label>Password confirmation</label>
				<%= f.text_field :password_confirmation %><img src="/images/alert_ico.gif" alt="" />
			</p>
		</div>	  
	</div>
		  
	<div class="box-list full-page clear-float">
		<div class="register clear-block">
		  <%= text_area_tag :terms_of_service_description, nil, :rows => 5, :disabled => true %>
			<p class="centered">
			  <%= f.radio_button :terms_of_service, "1", :class => "check-box", :checked => true %>
			  <label for="user_terms_of_service_1">Accept</label>
			  <%= f.radio_button :terms_of_service, "0", :class => "check-box" %>
			  <label for="user_terms_of_service_0">Refuse</label>
			</p>
		</div>
	</div>	  

  <div class="box-list two-col clear-block">
		<div class="register clear-block">
		  <h1>Personal Information</h1>
			<p>
				<label>Name</label>
				<input name="" type="text" />
			</p>
			<p>
				<label>Surname</label>
				<input name="" type="text" />
			</p>
			<p>
				<label>Gender</label>
				<input name="" type="text" />
			</p>
		  <p>
  		  <label>Age</label>
				<input name="" type="text" />
			</p>

			<p>
				<label>Country</label>
				<select name="select">
				  <option>Select country</option>
		    </select>
			</p>
			<p>
  			<label>City</label>
				<input name="" type="text" />
			</p>												
		</div>	  
	</div>
	
	<div class="box-list one-col border-left clear-block">
		<div class="register clear-block">
			<h1>Other Information</h1>
			<p>
			  <label>About Me</label>
				<textarea cols="" rows="10"></textarea>
			</p>
		  <p>
				<label>Favorite Genres / Favorite Artists</label>
				<textarea cols="" rows="10"></textarea>
			</p>
		</div>	  
	</div>	
	
	<div class="box-list full-page clear-float">
		<div class="register clear-block">
			<textarea cols="" rows="5"></textarea>
			<p class="centered">
			  <input name="" type="radio" value="" class="check-box" />
			  <label>Accept</label>
			  <input name="" type="radio" value="" class="check-box" />
			  <label>Refuse</label>
			</p>
		</div>
	</div>		

	<p class="centered clear-float">
		<input name="sign" type="image" src="/images/sign_button.gif" alt="sign" width="43" height="35" />
	</p>	
  
	<% end %>
</div>
