<div class="whiteblock-shadow clear-block">
  <%= breadcrumb %>
	<div class="alert">
	  <%= error_messages_for 'user' %>
	</div>
	
	<% form_for @user do |f| %>
	<div class="box-list two-col clear-block">
    
		<div class="register clear-block">
		  <h1>Profile Information</h1>
			<p>
				<label for="user_login">* Nickname</label>
				<%= f.text_field :login %>
			</p>
			<p>
				<label for="user_email">Email</label>
				<%= f.text_field :email %>
			</p>
			<p>
				<label for="user_password">Password</label>
				<%= f.text_field :password %>
			</p>
			<p>
				<label for="user_password_confirmation">Password confirmation</label>
				<%= f.text_field :password_confirmation %>
			</p>
		</div>	  
	</div>
		  
	<div class="box-list full-page clear-float">
		<div class="register clear-block">
		  <%= text_area_tag :terms_of_service_description, nil, :rows => 5, :disabled => true %>
			<p class="centered">
			  <%= f.radio_button :terms_of_service, "1", :class => "check-box", :checked => true %>
			  <label for="user_terms_of_service_1">Accept</label>
			  <%= f.radio_button :terms_of_service, "0", :class => "check-box" %>
			  <label for="user_terms_of_service_0">Reject</label>
			</p>
		</div>
	</div>	  

  <div class="box-list two-col clear-block">
		<div class="register clear-block">
		  <h1>Personal Information</h1>
			<p>
				<label for="user_first_name">First Name</label>
				<%= f.text_field :first_name %>
			</p>
			<p>
				<label for="user_last_name">Last Name</label>
				<%= f.text_field :last_name %>
			</p>
			<p>
				<label for="user_gender">Gender</label>
				<%= select_tag :user_gender, options_for_select([["Choose your gender...", nil], ["Male", "male"], ["Female", "female"], ["Other", "other"]]) %>
			</p>
		  <p>
  		  <label for="user_age">Age</label>
  		  <%= f.text_field :age %>
			</p>

			<p>
				<label for="user_country">Country</label>
				<%= select_tag :user_country, '<option value="" selected="selected">Choose your country...</option>' + country_options_for_select %>
			</p>
			<p>
  			<label for="user_city">City</label>
  			<%= f.text_field :city %>
			</p>												
		</div>	  
	</div>
	
	<div class="box-list one-col border-left clear-block">
		<div class="register clear-block">
			<h1>Other Information</h1>
			<p>
			  <label for="user_motto">About Me</label>
			  <%= f.text_area :motto, :rows => 10 %>
			</p>
		  <p>
				<label for="user_tastes">Favorite Genres / Favorite Artists</label>
				<%= f.text_area :tastes, :rows => 10 %>
			</p>
		</div>	  
	</div>	
	
	<div class="box-list full-page clear-float">
		<div class="register clear-block">
		  <%= text_area_tag :eula, nil, :rows => 5, :disabled => true %>
			<p class="centered">
			  <%= f.radio_button :eula, "1", :class => "check-box", :checked => true %>
			  <label for="eula_1">Accept</label>
			  <%= f.radio_button :eula, "0", :class => "check-box" %>
			  <label for="eula_0">Reject</label>
			</p>
		</div>
	</div>		

	<p class="centered clear-float">
		<input id="testme" name="sign" type="image" src="/images/sign_button.gif" alt="sign" width="43" height="35" />
	</p>	
  
	<% end %>
</div>
