<%= hidden_field_tag 'user-id', @user.id  %>
<%= hidden_field_tag 'current-user-page', 1 if current_user_page? %>

  <% breadcrumb @user, 'float-left' %>
  
  <%= render :partial => 'profile' %>
  
  <div class="bottom-shadow" style="width: 720px; float:none; margin-bottom: 30px;"></div>

  <div class="box-list one-col clear-block clear-float">
    <%= render :partial => 'played' unless @user.band? %>
    <%= render :partial => 'band_members' if @user.band? %>	
    <%= render :partial => 'mbands' unless @user.band? %>	    
		<%= render :partial => 'users/my/scroller', :locals => { :title => 'FRIENDS', :collection => @user.friends, :id => 'friends' } %>
		<%= render :partial => 'users/my/scroller', :locals => { :title => 'ADMIRERS', :collection => @user.admirers, :id => 'admirers' } %>  
    <%= render :partial => 'answers' %>    
  </div>
  
  <div class="box-list two-col clear-block">
		<div id="songs_spinner" style="display:none;">
			<%= image_tag 'song-spinner-big.gif' %>
		</div>
  	<div class="tit-classification-songs clear-block">
			<div class="tabmenu">
				<div class="tab active">
					<div class="sx"> </div>
					<div class="rp">
						<h1 class="title">Songs <span class="counter">(<%= @user.songs_count %>)</span></h1>
						<%= podcast_link_for(@user, user_podcast_url(@user)) if @user.podcast_public? && (@user.songs_count > 0) %>
					</div>
					<div class="dx"> </div>
				</div>    
			</div>
			<div class="top-box clear-block">		
				<div class="bottom-box clear-block">
					<div class="elements clear-block mlab_song">   
						<div id="songs">
							<%= render :partial => 'songs' %>
						</div>
					</div>
				</div>
			</div>
	  </div>
		<div id="tracks_spinner" style="display:none;">
			<%= image_tag 'track-spinner-big.gif' %>
		</div>
	  <div class="tit-classification-tracks clear-block">
			<%- 
				if current_user_page? :admin => false 
					label = 'Tracks'
					empty_message = "You can upload or record tracks with our #{link_to('multitrack editor', multitrack_path)}<br/>#{link_to 'Click here to learn more', help_path('multitrack')}"
				else
					label = 'Ideas'
					empty_message = "#{@user.login} hasn't published any <strong>idea</strong> yet.<br/>#{link_to 'Clik here to learn more about ideas', help_path('ideas')}"
				end
			%>
			<div class="tabmenu">
				<div class="tab active">
					<div class="sx"> </div>
					<div class="rp">
						<h1 class="title blue-text"><%= label %><span class="counter">(<%= @tracks_count %>)</span></h1>
					</div>
					<div class="dx"> </div>
				</div>    
			</div>
			<div class="top-box-<%= label.downcase %> clear-block">	
				<div class="bottom-box clear-block">
					<div class="elements clear-block">
						<div id="tracks">
							<%= render :partial => 'tracks', :locals => {:empty_message => empty_message} %>  
						</div>
					</div>
				</div>
			</div>
	  </div>
    <%= render :partial => 'gallery' %> 
    <%= render :partial => 'users/my/share' if current_user_page? %> 

    <p class="abuse-link float-right" style="margin:4px">
      <%- if logged_in? && !current_user_page? && !@has_abuse -%> <!--XXX-->
				<%= report_abuse_link_to formatted_new_user_abuse_path(@user, 'html') %>
      <%- end -%>
    </p>
  </div>

<% javascript('loading') %>
<% javascript('simple-slider') %>
<% javascript('user/show') %>
<% javascript('user/gallery') %>
<% javascript('user/instruments') %>
<% javascript('user/band_members') if current_user_page? && @user.band? %>
<% javascript('user/mband_invite') if !@user.band? %>
<% javascript('user/firstrun') if @firstrun %>
