

  <%= breadcrumb @user %>
  
  <%= render :partial => 'profile' %>
  
  <div class="bottom-shadow" style="width: 720px; float:none;"></div>

  <div class="box-list one-col clear-block clear-float">
    <%= render :partial => 'played' %>	
    <%= render :partial => 'mbands' %>	
    <%= render :partial => 'friends' %>
    <%= render :partial => 'admirers' %>  
    <%= render :partial => 'answers' %>    
  </div>
  
  <div class="box-list two-col clear-block">
  	<div class="tit-classification-songs clear-block" id="songs">
      <%= render :partial => 'songs' %>
	</div>
	<div class="tit-classification-tracks clear-block" id="tracks">
      <%= render :partial => 'tracks' %>  
	</div>
    <%= render :partial => 'gallery' %> 
    <%= render :partial => 'users/my/share' %> 
  </div>


<% javascript('user/edit', 'user/mail') if current_user_page? %>
<% javascript('user/show') %>