<% javascript('user/edit', 'user/show') if current_user_page? %>

<div class="whiteblock-shadow clear-block">

  <div id="path"><a href="#">Home</a> : <a href="#">people</a>: Miss Master Kazz!</div> 
  
  <%= render :partial => 'profile' %>
  
  <div class="bottom-shadow" style="width: 720px; float:none;"></div>

  <div class="box-list one-col clear-block clear-float">
    <%= render :partial => 'played' %>	
	  <%= render :partial => 'mbands' %>	
	  <%= render :partial => 'friends' %>
    <%= render :partial => 'admirers' %>  
    <%= render :partial => 'answers' %>    
  </div>
  
  <div class="box-list two-col clear-block">
    <%= render :partial => 'songs' %>
    <%= render :partial => 'tracks' %>  
    <%= render :partial => 'gallery' %> 
    <%= render :partial => 'users/my/share' %> 
  </div>

</div>
