
<!-- CHANGE AVATAR -->
<div id="change_avatar" title="Your Avatar" style="display:none">
	<script type="text/javascript" charset="utf-8">
	$(function() {
		$("#avatar_actions").tabs();
	});
	</script>

  	<div id="avatar_actions">
  		<ul>
  			<li><a href="#avatar-upload">Upload / Adjust</a></li>
  			<li><a href="#avatar-browse">Browse</a></li>
  		</ul>
  		<div id="avatar-upload">

  			<div class="fleft w240">
  				<span class="edit_lists cogedit_icon fleft"> </span>
  				<span class="fleft heading s13 weight-bold">Edit current avatar</span>
  				<span class="gray_spec margin7 fleft">Lorem ipsum dolor sit amet blah blah dolore imet lorm ipsum del cristus mortus lorem banana ipsum in croce dolor nel cul dolor nel pen dolot in figa</span>	
  			</div>
  			<div class="fright">
  				<span class="fright heading s13 weight-bold">Add new avatar</span>
  				<span class="edit_lists add_icon fright"> </span>			
  			<div class="clear"> </div>

  				<div class="fright margin7">
  					<input type="file" id="avatar-add" name="avatar-add">
  				</div>
  				<div class="clear"> </div>

  				<div class="margin7 alright">
  					<input type="checkbox"> <span class="gray_spec">Add to gallery</span> | 
  			 		<a href="javascript:$('#avatar-add').fileUploadStart();">Upload File</a>
  				</div>

  			</div>
  			<div class="clear"> </div>


  			<!-- This is the image we're attaching Jcrop to -->
  			<table cellpadding="0" cellspacing="0" border="0" class="margin30">
  			<tr>
  			<td>
  				<img src="/images/temp/pick_enzo.jpg" id="cropbox" />
  			</td>

  			<td valign="top" align="center">
  				<div style="width:100px;height:100px;overflow:hidden;margin-left:5px;">
  					<img src="/images/temp/pick_enzo.jpg" id="preview" />				
  				</div>
  				<input type="submit" value="Set avatar" class="margin7 login_button mailbox_send">
  			</td>
  			</tr>
  			</table>



  		</div>
  		<div id="avatar-browse">

  			<span class="gray_spec">Lorem ipsum dolor sit amet blah blah dolore imet lorm ipsum del cristus mortus lorem banana ipsum in croce dolor nel cul dolor nel pen dolot in figa</span>	

  			<center>
  				<table id="gallery" border="0" cellspacing="5" cellpadding="5" width="100%" class="margin7">
  					<tr>
  						<td align="center" valign="middle">
  							<a href="profile.php?im=05">
  								<img src="/images/temp/gallery/01/preview/05.jpg" alt="05" border="0" />
  							</a>
  						</td>
  						<td align="center" valign="middle">
  							<a href="profile.php?im=07">
  								<img src="/images/temp/gallery/01/preview/07.jpg" alt="07" border="0" />
  							</a>
  						</td>
  						<td align="center" valign="middle">
  							<a href="profile.php?im=12">
  								<img src="/images/temp/gallery/01/preview/12.jpg" alt="12" border="0" />
  							</a>
  						</td>
  						<td align="center" valign="middle">
  							<a href="profile.php?im=16">
  								<img src="/images/temp/gallery/01/preview/16.jpg" alt="16" border="0" />
  							</a>
  						</td>
  					</tr>
  					<tr>
  						<td align="center" valign="middle">
  							<a href="profile.php?im=18">
  								<img src="/images/temp/gallery/01/preview/18.jpg" alt="18" border="0" />
  							</a>
  						</td>
  						<td align="center" valign="middle">
  							<a href="profile.php?im=19">
  								<img src="/images/temp/gallery/01/preview/19.jpg" alt="19" border="0" />
  							</a>
  						</td>
  						<td align="center" valign="middle">
  							<a href="profile.php?im=30">
  								<img src="/images/temp/gallery/01/preview/30.jpg" alt="30" border="0" />
  							</a>
  						</td>
  						<td align="center" valign="middle">
  							<a href="profile.php?im=32">
  								<img src="/images/temp/gallery/01/preview/32.jpg" alt="32" border="0" />
  							</a>
  						</td>
  					</tr>
  				</table>


  		</div>
  	</div>
  </div>


<!-- SHARE TO WALL -->
<div id="share_songs_dialog" title="Share your songs" style="display:none">
<script type="text/javascript" charset="utf-8">
$(function() {
	$("#share_songs_actions").tabs();
	$("#action_song, #action_instr").selectable({
				stop: function(){
					var result = $("#select-result").empty();
					$(".ui-selected", this).each(function(){
					var index = $("#action_song .song_block, #action_instr .song_block").index(this);
						//show total count instead
						result.append(" #" + (index + 1));
					});
				}
			});
});
</script>

	<div id="share_songs_actions">
		<ul>
			<li><a href="#action_song">Songs</a></li>
			<li><a href="#action_instr">Instruments</a></li>
		</ul>
		<p id="feedback">
		You've selected: <span id="select-result" class="attach_list">0</span>
		</p>			
		<div id="action_song">
        <% 5.times do %>
          <%= render :partial => 'shared/song_block' %>
        <% end %>
        <div class="paging_bg fright">
          <%= render :partial => 'shared/paging_vert' %>
        </div>
		</div>
		<div id="action_instr">
      <% 5.times do %>
        <%= render :partial => 'shared/instrument_block' %>
      <% end %>
      <div class="paging_bg fright">
        <%= render :partial => 'shared/paging_vert' %>
      </div>
		</div>
	</div>
</div>



<div id="share_media_dialog" title="Share pictures or videos" style="display:none">
	<script type="text/javascript" charset="utf-8">
	$(function() {
		$("#share_media_actions").tabs();
	});
	</script>

	<div id="share_media_actions">
		<ul>
			<li><a href="#action_picture">Pictures</a></li>
			<li><a href="#action_video">Videos</a></li>
		</ul>
		<div id="action_picture">
			picture list
		</div>
		<div id="action_video">
			video list
		</div>
	</div>
</div>




<!-- TAGGING DIALOG ~ MURS(tm) -->
<div id="add_tags" title="Add Tags" style="display:none">
	<p class="gray_spec dialog_help">Tag instruments or songs is easy and helps you find what you're looking for. 
	Select from <strong>Most user tags</strong> to see other suggestions, or write your own.
	</p>

	<p class="tags_heading gray_spec weight-bold nomargin">YOU ARE TAGGING</p>
    <%= render :partial => 'shared/song_block' %>
	<div class="clear"> </div>

	<center>
		<form>
			<fieldset>
				<input type="text" name="tags" id="tags" class="text ui-widget-content" 	style="margin-bottom: 0;" value="Es: Jazz, Improvisation"/>
				<div class="ui-state-highlight action_notice_dialog alleft">
					<span class="fleft icons16 profile ui-icon ui-icon-lightbulb"> </span>
					Write tags, separated by commas.
				</div>
			</fieldset>
		</form>
	</center>

	<div id="search_filters_genre" class="">
		<p class="tags_heading gray_spec weight-bold dialog_help">Most used tags in Mewsic</p>
      <%= render :partial => 'shared/genres_tags_main_selectors' %>
	</div>
	<div id="search_filters_genre" class="related overflow-hidden">
		<p class="tags_heading gray_spec weight-bold dialog_help">
			You choosed "Electronic", try with these other tags
		</p>
      <%= render :partial => 'shared/genres_tags_related_selectors' %>
	</div>
	
</div>