<div id="footer" class="page-width">
	<div class="content">
		<span class="sky-text">
			<%= link_to 'About', content_path('about') %> | <%= link_to 'Vision', content_path('vision') %> | <%= link_to 'Legal', content_path('terms-of-service') %> | <%= link_to 'Credits', content_path('credits') %> | <%= link_to 'Help', help_index_path %>
		</span>
		<br />mail@myousica.com | &copy; 2008 Myousica.
	</div>
</div>
