<div id="footer" class="page-width">
	<div class="whiteblock">
		&copy; 2008 Myousica. <%= link_to 'Terms of service', '#' %> | <%= link_to 'Help', help_index_path %> | <%= link_to 'Contacts', '#' %> | <%= link_to 'Share!', '#' %> | Registered users: <%= User.count %> | Online users: <%= User.count_online %>
	</div>
</div>
