<div id="footer" class="page-width">
	<div class="whiteblock">
		<%= link_to 'About', content_path('about') %> | <%= link_to 'Vision', content_path('vision') %> | <%= link_to 'Legal', content_path('terms-of-service') %> | <%= link_to 'Help', help_index_path %>
		<br /><br />&copy; 2008 Myousica. | mail@myousica.com | Online users: <%= User.count_online %>
	</div>
</div>
