<track>
  <user><%= mix.track.parent_song.user.login %></user>       
  <author><%= mix.track.parent_song.original_author %></author>     
  <title><%= mix.track.title %></title>     
  <instrument><%= mix.track.instrument.id %></instrument>  
  <genre><%= mix.track.parent_song.genre.name if mix.track.parent_song.genre %></genre>     
  <bpm></bpm>        
  <tone></tone>       
  <description></description>
  <rating></rating>     
  <id><%= mix.track.id %></id>         
  <filename></filename>
  <volume><%= mix.volume %></volume>
  <loop><%= mix.loop %></loop>
  <balance><%= mix.balance %></balance>
  <time_shift><%= mix.time_shift %></time_shift>
  <% if @show_siblings; @show_siblings = false -%>
    <siblings type="direct">
      <song>
        <%= render :partial => 'shared/song', :collection => mix.track.songs %>
      </song>
    </siblings>
  <% end -%>
</track>