<track>
  <user><%= mix.track.user.login %></user>       
  <author><%= mix.track.parent_song.original_author if mix.track.parent_song %></author>     
  <title><%= mix.track.title %></title>     
  <instrument><%= mix.track.instrument.id %></instrument>  
  <genre><%= mix.track.parent_song.genre.name if mix.track.parent_song.genre %></genre>     
	<bpm><%= mix.track.bpm %></bpm>        
	<tone><%= mix.track.tone %></tone>       
	<description><%= mix.track.description %></description>
	<rating><%= mix.track.rating_avg.to_f %></rating>
  <id><%= mix.track.id %></id>         
	<filename><%= mix.track.filename %></filename>
  <volume><%= mix.volume %></volume>
  <balance><%= mix.balance %></balance>
  <% if @show_siblings; @show_siblings = false -%>
    <siblings type="direct">
      <song>
        <%= render :partial => 'shared/song', :collection => mix.track.songs %>
      </song>
    </siblings>
  <% end -%>
</track>
