<song>
  <user><%= song.user.login %></user>       
  <author><%= song.original_author %></author>     
  <title><%= song.title %></title>     
  <instruments><%= song.instruments.size %></instruments>  
  <genre><%= song.genre.id %></genre>     
  <bpm></bpm>        
  <tone></tone>       
  <description></description>
  <rating></rating>     
  <id><%= song.id %></id>         
  <filename></filename>
  <% if @show_siblings_count; @show_siblings_count = false; -%>
    <siblings><%= song.siblings_count %></siblings>
  <% end -%>
  <% if @show_siblings; @show_siblings = false; -%>
    <siblings type="direct">
      <%= render :partial => 'shared/song', :collection => song.direct_siblings %>
    </siblings>
    <siblings type="indirect">
      <%= render :partial => 'shared/song', :collection => song.indirect_siblings %>
    </siblings>
  <% end -%>
  <% if @show_edit_info -%>
    <%= render :partial => 'shared/mixes', :object => song.mixes %>    
  <% else -%>
    <tracks>
      <% song.mixes.each do |mix| -%>
        <%= render :partial => 'shared/track', :object => mix.track %>    
      <% end -%>
    </tracks>    
  <% end -%>
</song>