<% song = song_show_block %>
<div class="song_block song_expanded fleft">
	<div class="avatar fleft">
		<%= image_tag song.user.avatar.public_filename(:small), :size => '40x40' %>
	</div>
	<div class="tracks_count fleft">
		<h3><%= song.instruments.count %></h3>
		Instr.s
	</div>
	<div class="song_details fleft">
		<a href="" class="song_title"><%= song.title %></a><br />
		<a href="" class="song_author"><strong><%= song.user.nickname %></strong></a><br />
		<a href="" class="mixable_link">Mixable songs (<%= song.collaboration_count %>)</a>
	</div>

	<div class="fright" style="margin: 4px 4px 0 0">
    <%# rating %>
	</div>
	<ul class="song_controls">
		<li><a href="" class="control_add">ADD</a></li>
		<li><a href="" class="control_mix">MIX</a></li>
		<li><a href="" class="control_play">PLAY</a></li>
	</ul>
</div>
<div class="tree_conn fright">
	<p class="block">
		<span class="profile ui-icon ui-icon-triangle-1-s fleft" style="margin-right:4px;">			
		</span>		
		Instruments of this song
	</p>
	<%= render :partial => 'shared/instruments_tree', :collection => song.instruments %>
</div>

<% if logged_in? %>
<div class="tree_conn_last fright">
<div class="song_block tree_elem mix_invite blue7 fright">
	<div class="avatar fleft">
		<%= image_tag current_user.avatar.public_filename(:small), :size => '40x40' %>
	</div>
	<div class="song_details fleft">
		<h1 class="sixsixsix">Record your instrument now!</h1>
	</div>
</div>
</div>
<% end %>
