<song>
  <user><%= h(song.user.login) if song.user %></user>       
  <author><%= h(song.author) %></author>     
  <title><%= h(song.title) %></title>     
  <tags><%= h(song.tag_list.join(',')) %></tags>
  <instruments><%= song.instruments.size %></instruments>  
  <description><%= h(song.description) %></description>
  <rating><%= song.rating_avg.to_f %></rating>     
  <id><%= song.id %></id>         
  <filename><%= song.public_filename %></filename>
  <waveform><%= formatted_song_path song, 'png' %></waveform>
  <seconds><%= song.seconds %></seconds>
  <%= render :partial => 'shared/mixes', :object => song.mixes if @tracks %>
</song>
