<%- song = song_block # XXX FIXME -%>
<div class="song_block fleft">
  <div class="avatar fleft">
    <%= image_tag song.user.avatar.public_filename(:small), :size => '40x40' %>
  </div>
  <div class="tracks_count fleft">
    <h3><%= song.instruments.size %></h3>
    Instr.s
  </div>
	<div class="song_details fleft">
    <%= link_to song.title, song, :class => 'song_title' %><br/>
    <strong><%= link_to song.user.nickname, song.user, :class => 'song_author' %></strong><br />
    <%= link_to "Mixable songs (#{song.collaboration_count})", '#FIXME', :class => 'mixable_link' %>
	</div>

	<div class="fright" style="margin: 4px 4px 0 0">
	  <%# rating %>	
	</div>	
	<ul class="song_controls">
	  <li> <a href="" class="control_add">ADD</a> </li>
	  <li> <a href="" class="control_mix">MIX</a> </li>
	  <li> <a href="" class="control_play">PLAY</a> </li>
	</ul>
</div>
