<track>
  <user><%= track.parent_song.user.login %></user>       
  <author><%= track.parent_song.original_author %></author>     
  <title><%= track.title %></title>     
  <instrument><%= track.instrument.id %></instrument>  
  <genre><%= track.parent_song.genre.name if track.parent_song.genre %></genre>     
  <bpm></bpm>        
  <tone></tone>       
  <description></description>
  <rating></rating>     
  <id><%= track.id %></id>         
  <filename><%= track.filename %></filename>
  <%- if @show_mlab_id -%>
    <mlab_id><%= track.mlabs.first.id if track.mlabs.count > 0 %></mlab_id>
  <%- end -%>
  <% if @show_siblings; @show_siblings = false -%>
    <siblings type="direct">
      <songs>
        <%= render :partial => 'shared/song', :collection => track.songs %>
      </songs>
    </siblings>
  <% end -%>
</track>
