<track>
  <id><%= track.id %></id>         
  <user><%= h(track.user.login) %></user>       
  <title><%= h(track.title) %></title>     
  <author><%= h(track.parent_song.original_author) if track.parent_song %></author>     
  <instrument><%= track.instrument.id %></instrument>  
  <rating><%= track.rating_avg.to_f %></rating>     
  <filename><%= track.public_filename %></filename>
  <waveform><%= formatted_track_path track, 'png' %></waveform>
  <seconds><%= track.seconds %></seconds>
</track>
