<track>
  <user><%= track.parent_song.user.login %></user>       
  <author><%= track.parent_song.original_author %></author>     
  <title><%= track.title %></title>     
  <instrument><%= track.instrument.description %></instrument>  
  <genre><%= track.parent_song.genre.name %></genre>     
  <bpm></bpm>        
  <tone></tone>       
  <description></description>
  <rating></rating>     
  <id><%= track.id %></id>         
  <filename></filename>
  <% if @show_siblings; @show_siblings = false -%>
    <siblings type="direct">
      <song>
        <%= render :partial => 'shared/song', :collection => track.songs %>
      </song>
    </siblings>
  <% end -%>
</track>