<h2>OTHER QUESTIONS BY <%= @answer.user.login %></h2>
<div class="top-box clear-block">
	<div class="bottom-box clear-block">
		<%= render :partial => 'answer_small', :collection => @other_answers_by_author %>
	</div>
</div>

<div class="float-right">
	<div class="pagination spinner" style="float: left">
		<img src="/images/spinner.gif" id="answers_spinner" style="display: none;"/>
	</div>
	<%- if @other_answers_by_author.previous_page %>
		<%= link_to_remote image_tag('move_arrow_left.png'),
					:url => siblings_answer_path(@answer, :page => @other_answers_by_author.previous_page),
					:update => 'other_by_user', :method => :get, :loading => "$('answers_spinner').show()",
					:complete => "new Effect.ScrollTo('other_by_user', {offset: -40})" %>
	<%- else -%>
		<%= image_tag 'move_arrow_left.png', :class => 'faded' %>
	<%- end -%>

	<%- if @other_answers_by_author.next_page %>
		<%= link_to_remote image_tag('move_arrow_right.png'),
					:url => siblings_answer_path(@answer, :page => @other_answers_by_author.next_page),
					:update => 'other_by_user', :method => :get, :loading => "$('answers_spinner').show()",
					:complete => "new Effect.ScrollTo('other_by_user', {offset: -40})" %>
	<%- else -%>
		<%= image_tag 'move_arrow_right.png', :class => 'faded' %>
	<%- end -%>
</div>
