<item>
	<title><%= h truncate(rss_item.body, 15) %></title>
	<link><%= answer_url rss_item %></link>
	<description><%= h rss_item.body %></description>
	<pubDate><%= rss_item.created_at.rfc2822 %></pubDate>
	<guid><%= answer_url rss_item %></guid>
</item>

