<%- javascript 'answers' -%>

<div class="box-list semi-one-col clear-block">
  <div class="simple-list semi-one-col clear-block azzurro-boxes send-question">
    <h1>MY QUESTION</h1>
    <div class="top-box clear-block">
      <div class="bottom-box clear-block">
        <div id="my-question-mark"><img src="/images/interrogativo.gif" width="50" height="53"/></div>
        <div class="elements clear-block" style="padding:15px 20px;">
          <%- form_for :answer, :url => answers_path do |f| -%>
            <p><%= f.text_area :body, :rows => 10 %></p>
            <%= image_submit_tag '/images/button_send.png' %>
          <%- end -%>          
        </div>
      </div>
    </div>
  </div>
</div>
  
<div class="box-list two-col-big clear-block">
  <div class="grey-box clear-block">
    <h1>REPLY</h1>
    <div class="top-box clear-block">
      <div class="bottom-box clear-block answers">
        <div id="reply-exclamation-mark"><img src="/images/esclamativo.gif" width="50" height="53"/></div>
        <%= render :partial => 'answer', :collection => @open_answers %>
        <p class="abstract align-right"><%= link_to 'MORE OPEN QUESTIONS', open_answers_path %></p>                
      </div>
    </div>
  </div>
</div>

<%= render :partial => 'find_question' %>

<div class="box-list two-col-big clear-block">

	<div class="tabmenu">
    <div class="tab active" id="top-answers-tab">
      <div class="sx"> </div>
      <div class="rp">
        <p class="title blue-text">
          <a href="#" onclick="$('newest-answers-tab').removeClassName('active');$('top-answers-tab').addClassName('active');$('newest-answers-container').hide();$('top-answers-container').show(); return false;">TOP QUESTIONS</a>
        </p>
        <p class="counter">(<%= @top_answers_count %>)</p>
      </div>
      <div class="dx"> </div>
    </div>
    <div class="tab" id="newest-answers-tab">
      <div class="sx"> </div>
      <div class="rp">
        <p class="title blue-text">
          <a href="#" onclick="$('top-answers-tab').removeClassName('active');$('newest-answers-tab').addClassName('active');$('top-answers-container').hide();$('newest-answers-container').show(); return false;">NEWEST</a>
        </p>
        <p class="counter">(<%= @newest_answers_count %>)</p>
      </div>
      <div class="dx"> </div>
		</div>
	</div>

  <div class="clear-block" id="top-answers-container">
    <%= render :partial => 'index_list', :locals => {:answers => @top_answers, :name => 'top'} %>
  </div>
  <div class="clear-block" id="newest-answers-container" style="display:none">
    <%= render :partial => 'index_list', :locals => {:answers => @newest_answers, :name => 'newest'} %>
	</div>

</div>    

<%= render :partial => 'top_contributors' %>
