<div id="song_list_box">
		<div class="song_lists_head fright">
			<p class="pick_info block">
				<strong>COOLEST SONGS</strong>
			</p>
			<span class="subtitle block">The most rated songs on mewsic</span>
		</div>
		<div class="clear"> </div>

		<div class="browse_pane pane_content">
			<div class="browse_pane_left fleft">
				<div class="loader"> </div>
				<ul class="instr_type alright">
					<li class="current"><a href="">ALL</a></li>
					<li><%= link_to 'M-Bands', '#coolest/mbands' %></li>
					<li><%= link_to 'Users', '#coolest/users' %></li>
				</ul>
			</div>
			<div class="browse_pane_right fleft">
				<ul class="maingenre_type alleft">
					<li class="current"><a href="">All</a></li>
					<% @coolest_tags[0..6].each do |tag| %>
						<li><%= link_to tag, "#coolest/#{e(tag)}" %></li>
					<% end %>
				</ul>
				<div id="song_newest_list" class="fleft">
          <%= render :partial => 'shared/song_block_chart', :collection => @coolest_songs %>
				</div>

        <%= render :partial => 'shared/bullet_paging' %>				

			</div>
		</div>
</div>
<div class="clear"> </div>
