<div id="<%= container %>-siblings-<%= sibling.id %>" class="sibling sibling-box clear-block<%= ['', ' grey-bg'][sibling_counter % 2] %>">
  <div class="float-right" style="padding-right:10px;">
		<div class="tracks-arrow <%= 'active' if sibling_counter.zero? %>"></div>
  </div>
  <div class="float-right" style="position:relative;">
    <img src="/images/spinner.gif" id="<%= container %>-siblings-tracks-loading-<%= sibling.id %>" style="display: none;float: left; margin: 7px 5px"/>
    <span class="tracks-number" id="track-number-<%= sibling.id %>">
      <a href="#" onclick="new Ajax.Updater('<%= container %>-siblings-tracks', '<%= tracks_song_path(sibling) %>', {
        method: 'GET',
        onLoading: function() {
					$('<%= container %>-siblings-tracks').fade({duration: 0.3, queue: 'end'});
          $('<%= container %>-siblings-tracks-loading-<%= sibling.id %>').show();
          $('<%= container %>-siblings').select('.sibling').invoke('removeClassName', 'active');
          $('<%= container %>-siblings').select('.tracks-arrow').invoke('removeClassName', 'active');
        },
        onComplete: function() {
					$('<%= container %>-siblings-<%= sibling.id %>').addClassName('active');
          $('<%= container %>-siblings-tracks-loading-<%= sibling.id %>').hide();
					$('<%= container %>-siblings-tracks').appear({duration: 0.3, queue: 'end'});
					Scrollers.<%= container %>.updateTriggers();
        }
      });return false;" style="color: #FFF; display: block; text-decoration: none;height: 100%;">
        <%= sibling.tracks.count %>
      </a>
    </span>
  </div>
  <div class="thumb">
    <%= link_to avatar_image(sibling.user, :icon), user_path(sibling.user) %>
  </div>
	<p>
		<span class="name"><%= link_to sibling.user.login, user_path(sibling.user) %></span><br/>
		<span class="title"><%= link_to sibling.title, song_path(sibling) %></span>
	</p>
  <p class="genre float-left">
    <%= link_to sibling.genre.name, genre_path(sibling.genre) if sibling.genre %>
  </p>
	<p class="grey-text clear-float"><%= truncate sibling.description, :length => 50 %></p>
  <div class="float-right">
		<%= rating(sibling, :class => sibling_counter.odd? ? 'grey-star' : '') %>
    <%= mlab_button(sibling) %>
    <%= play_button(sibling) %>
  </div>
  <div class="float-left">
    <%= download_button_for sibling %>
    <%= download_link_for sibling, 'Download' %>
  </div>
</div>
