<div id="<%= container %>-<%= sibling.id %>" class="sibling special-box clear-block<%= ['', ' grey-bg'][sibling_counter % 2] %>">
  <div class="float-right" style="padding-right:10px;">
    <div class="special-arrow"></div>
  </div>
  <div class="float-right" style="position:relative;">
    <img src="/images/spinner.gif" id="<%= container %>-tracks-loading-<%= sibling.id %>" style="display: none;float: left; margin: 7px 5px"/>
    <span class="tracks-number" id="track-number-<%= sibling.id %>">
      <a href="#" onclick="new Ajax.Updater('<%= container %>-tracks', '<%= tracks_song_path(sibling) %>', {
        method: 'GET',
        onLoading: function() {
          $('<%= container %>-tracks').hide();
          $('<%= container %>-tracks-loading-<%= sibling.id %>').show();
          $('<%= container %>').select('.sibling').invoke('removeClassName', 'active');
          $('<%= container %>').select('.tracks-number').invoke('removeClassName', 'orange');
        },
        onComplete: function() {
          $('<%= container %>-<%= sibling.id %>').addClassName('active');
          $('<%= container %>-tracks-loading-<%= sibling.id %>').hide();
          $('<%= container %>-tracks').show();
        }
      });return false;" style="color: #FFF; display: block; text-decoration: none;height: 100%;">
        <%= sibling.tracks.count %>
      </a>
    </span>
  </div>
  <p class="thumb">
    <%= link_to avatar_image(sibling.user, :icon), user_path(sibling.user) %>
  </p>
  <p class="name"><%= link_to sibling.user.nickname, user_path(sibling.user) %></p>
  <p class="title"><%= link_to sibling.title, song_path(sibling) %></p>
  <div class="float-right align-right">
		<%= rating(sibling, :class => sibling_counter.odd? ? 'grey-star' : '') %><div class="clearer"></div>
    <%= mlab_button(sibling) %>
    <%= play_button(sibling) %>
  </div>
  <p class="genre">
    <%= link_to sibling.genre.name, genre_path(sibling.genre) if sibling.genre %>
  </p>
  <div class="float-left">
    <%= download_button_for sibling %>
    <%= download_link_for sibling, 'Download' %>
  </div>
</div>
