			    <div class="elements clear-block">
    			  <p class="thumb">
    			    <%= track_instrument_icon(track) %>
    			    <%= link_to(avatar_image(track.user, :icon), user_path(track.user)) %>
						</p>
    			  <p class="name align-right"><%= link_to(track.user.nickname, user_path(track.user)) %></p>
    			  <p class="title align-right"><%= track.title %></p>
    			  <div class="music-info">
							<p class="bordered">
								<span><%= link_to(track.parent_song.genre.name, genre_path(track.parent_song.genre.name)) if track.parent_song && track.parent_song.genre %></span>
								<span>bpm: <strong><%= track.bpm %></strong></span>
								<span>key: <strong><%= track.tonality %></strong></span>
								<span>runtime: <strong><%= track.length %> </strong></span>
							</p>
							<p class="grey-text">
								<%= track.description %>
							</p>
    			    <div class="float-right">
								<%= rating(track) %>
    			      <%= mlab_button(track) %>
    			      <%= play_button(track) %>
              </div>
							<div class="float-left">
								<%= download_button_for track %>
								<%= download_link_for track, 'Download' %>
								<span class="music-info">Created <%= track.created_at.strftime("%m/%d/%y") %></span>
							</div>
    			  </div>
    		  </div>

