<div class="elements clear-block">
  <p class="thumb">
		<%= track_instrument_icon(track, :playable => track) %>
    <%= link_to(avatar_image(track.user, :icon), user_path(track.user)) %>
	</p>
  <p class="name align-right"><%= link_to(track.user.login, user_path(track.user)) %></p>
  <p class="title align-right"><%= track.title %></p>
  <div class="music-info">
		<div class="track-info clear-block">
			<div class="track-genre"><%= link_to(track.parent_song.genre.name, genre_path(track.parent_song.genre.name)) if track.parent_song && track.parent_song.genre %></div>
			<div class="bpm">bpm: <strong><%= track.bpm %></strong></div>
			<div class="key">key: <strong><%= track.tonality %></strong></div>
			<div class="runtime">runtime: <strong><%= track.length %></strong></div>
		</div>
		<p class="grey-text">
			<%= track.instrument_description %>
		</p>
		<p class="grey-text">
			<%= track.description %>
		</p>
    <div class="float-right">
			<%= rating(track) %>
      <%= mlab_button(track) %>
      <%= play_button(track) %>
    </div>
		<div class="float-left">
			<%= download_button_for track %>
			<span class="music-info">Created <%= time_ago_in_words track.created_at %> ago</span>
		</div>
		<p class="clear-float abuse-link align-right">
			<%= report_abuse_link_to formatted_new_track_abuse_path(track, 'html') %>
		</p>
  </div>
</div>
