<% breadcrumb @song %>
<% javascript 'simple-slider', 'song' %>
<div class="box-list special-arrow-box song-spec clear-block">
  <div class="float-right" style="padding-right:16px;">
    <div class="special-arrow-active"></div>
  </div>
  <div class="simple-list">
    <h1><%= @song.title %></h1>
    <div class="top-box clear-block">
      <div class="float-right" style="padding-right:56px;">
        <div class="track-tab">
          <span class="tracks-number"><span><%= @song.tracks.count %></span></span>
        </div>
      </div>
      <div class="bottom-box clear-block">
        <div class="clear-block">
          <p class="music-info float-right align-right">
            <span>runtime:<br /><strong><%= @song.length %></strong></span>
          </p>
          <p class="thumb"><%= link_to avatar_image(@song.user, :icon), user_path(@song.user) %></p>
          <p class="name"><%= link_to @song.user.nickname, user_path(@song.user) %></p>
          <p class="title"><%= @song.title %></p>
          <p class="grey-text clear-float"><%= @song.description %></p>
          <p class="thumb">
            <%- @song.tracks.each do |track| -%>
              <%= track_instrument_icon(track) %>
            <%- end -%>
          </p>
          <div class="clearer"></div>
          <p class="genre"><%= link_to(@song.genre.name, genre_path(@song.genre)) if @song.genre %></p>
          <div class="music-info song-resume float-right">
            <%= rating(@song, :no_clear => true) %>
            <%= mlab_button(@song) %>
            <%= play_button(@song) %>
          </div>
          <div class="float-left">
            <%= download_button_for @song %>
            <%= download_link_for @song, 'Download' %>
          </div>
        </div>
      </div>
    </div>
    <div class="music-info song-stat">
      <p><strong>Stats</strong></p>
      <table width="100%" border="0" cellpadding="0" cellspacing="5" style="border-top:1px solid #E6E6E6;">
        <tr>
          <td width="40%">Play count</td>
          <td width="30%"><%= @song.listened_times %></td>
          <td width="20%">Rated</td>
          <td width="10%" class="align-right"><%= @song.rating_count %></td>
        </tr>
        <tr>
          <td width="40%">Edited</td>
          <td width="30%">15</td>
          <td width="20%">Created</td>
          <td width="10%" class="align-right"><%= @song.created_at.strftime("%m/%d/%y") %></td>
        </tr>
      </table>
    </div>
    <p class="abstract align-right">
      <%- if logged_in? && !@has_abuse -%>
        <a href="<%= formatted_new_song_abuse_path(@song, 'html') %>" title="Report abuse :: :: width: 600, height: 400, ajax: {method:'get'}" rel="ajax" class="lightview">report abuse</a>
      <%- end -%>
    </p>
  </div>
</div>

<div class="float-left one-col-big clear-block slide-container song-tracks">
  <div class="simple-list box-grigio-stondato" style="margin-bottom: 7px">
    <div class="top-box clear-block">
      <div class="bottom-box clear-block">
        <div id="song-tracks-container" style="top: 0px;">
          <%= render :partial => 'track', :collection => @song.tracks %>
        </div>
      </div>
    </div>
  </div>
  <p class="abstract align-right" style="margin-right: 9px"><a class="slide-prev" href="#"><%= image_tag 'move_arrow_up.png' %></a>  <a class="slide-next" href="#"><%= image_tag 'move_arrow_down.png' %></a></p>
</div>

<!-- TABMENU -->
<div id="siblings_tabmenu_container">
  <div class="tab active" id="direct-siblings-tab">
    <div id="siblings_tabmenu" class="sx"> </div>
    <div id="siblings_tabmenu" class="rp">
      <p class="siblings_green_text">
        <a href="#" onclick="$('indirect-siblings-tab').removeClassName('active');$('direct-siblings-tab').addClassName('active');$('indirect_siblings_container').hide();$('direct_siblings_container').show(); return false;">Other versions<span class="no-bold">(<%= @song.direct_siblings.count %>)</span></a>
      </p>
      <p class="siblings_tabmenu_title"></p>
    </div>
    <div id="siblings_tabmenu" class="dx"> </div>
  </div>
  <div class="tab" id="indirect-siblings-tab">
    <div id="siblings_tabmenu" class="inactive sx"> </div>
    <div id="siblings_tabmenu" class="inactive rp">
      <p class="siblings_orange_text"><a href="#" onclick="$('direct-siblings-tab').removeClassName('active');$('indirect-siblings-tab').addClassName('active');$('direct_siblings_container').hide();$('indirect_siblings_container').show(); return false;">Remote versions<span class="no-bold">(<%= @song.indirect_siblings.count %>)</span></a></p>
      <p class="siblings_tabmenu_title"></p>
    </div>
    <div id="siblings_tabmenu" class="inactive dx"> </div>
  </div>
</div>
<!-- END TABMENU -->

<div id="direct_siblings_container">
  <div class="box-list special-arrow-box special-list clear-block">
    <div class="simple-list">
      <div class="top-box clear-block">
        <div class="bottom-box clear-block" id="direct-siblings">
          <%= render :partial => 'sibling', :collection => @song.direct_siblings, :locals => { :container => 'direct-siblings' } %>
        </div>
      </div>
    </div>
  </div>

  <%= render :partial => 'siblings_container', :locals => { :container => 'direct-siblings' } %>
</div>


<div id="indirect_siblings_container" style="display: none">
  <div class="box-list special-arrow-box special-list clear-block">
    <div class="simple-list">
      <div class="top-box clear-block">
        <div class="bottom-box clear-block">
          <div class="bottom-box clear-block" id="indirect-siblings">
            <%= render :partial => 'sibling', :collection => @song.indirect_siblings, :locals => { :container => 'indirect-siblings' } %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%= render :partial => 'siblings_container', :locals => { :container => 'indirect-siblings' } %>
</div>
