<% breadcrumb @song %>
<div class="box-list special-arrow-box song-spec clear-block">
  <div class="float-right" style="padding-right:16px;">
    <div class="special-arrow-active"></div>
  </div>
  <div class="simple-list">
	  <h1><%= @song.title %></h1>
	  <div class="top-box clear-block">
      <div class="float-right" style="padding-right:56px;">
        <div class="track-tab">
          <span class="tracks-number"><span><%= @song.tracks.count %></span></span>
        </div>
      </div>
		  <div class="bottom-box clear-block">
		    <div class="clear-block">	
          <p class="music-info float-right align-right">
            <span>runtime:<br /><strong><%= @song.length %></strong></span>
          </p>
          <p class="thumb"><%= link_to avatar_image(@song.user, :icon), user_path(@song.user) %></p>			
  			  <p class="name"><%= link_to @song.user.login, user_path(@song.user) %></p>
  			  <p class="title"><%= @song.title %></p>
  			  <p class="grey-text clear-float"><%= @song.description %></p>
  			  <p class="thumb">
  			    <%- @song.tracks.each do |track| -%>
  			      <%= track_instrument_icon(track) %>
  			    <%- end -%>			  
          </p>
          <div class="music-info">
            <p class="float-right">
              <span class="star">
                <%= rating(@song) %>
              </span> 
              <%= mlab_button(@song) %>
              <%= play_button(@song) %>
            </p>
			      <p class="float-left">
			        <%= download_button(@song) %>
              <%= link_to(@song.genre.name, genre_path(@song.genre)) if @song.genre %>
						</p>
          </div>
        </div>		  
      </div>	  
    </div>
	  <div class="music-info song-stat">
      <p><strong>Stats</strong></p>
      <table width="100%" border="0" cellpadding="0" cellspacing="5" style="border-top:1px solid #E6E6E6;">
        <tr>
          <td width="40%">Play count</td>
          <td width="30%"><%= @song.listened_times %></td>
          <td width="20%">Rated</td>
          <td width="10%" class="align-right"><%= @song.rating_count %></td>
        </tr>
  			<tr>
  				<td width="40%">Edited</td>
  				<td width="30%">15</td>
  				<td width="20%">Created</td>
  				<td width="10%" class="align-right"><%= @song.created_at.strftime("%m/%d/%y") %></td>
  			</tr>
  		</table>
    </div>			
    <p class="abstract align-right"><a href="<%= formatted_new_song_abuse_path(@song, 'html') %>" params="lightwindow_width=600,lightwindow_height=400" class="lightwindow" title="Report abuse">report abuse</a></p>
  </div>
  <div>
    <h1>Other songs by <%= link_to @song.user.login, user_path(@song.user) %> <span class="no-bold">(<%= @song.user.songs.count %>)</span></h1>
    <table width="100%" border="0" cellpadding="0" cellspacing="0">
      <%- @other_songs.each_with_index do |song, index| -%>
        <tr class="<%= %[even odd][index % 2] %>">
          <td><span class="cyan-text"><%= song.genre ? song.genre.name : ''  %> </span>	<em> <%= link_to truncate(song.title, 20), song_path(song) %> </em></td>
          <td class="star">
            <%= rating(song) %>
          </td>
          <td class="button">
            <%= mlab_button(song) %>
            <%= play_button(song) %>
          </td>
        </tr>
      <%- end -%>
    </table>
    <!-- <p class="abstract align-right"><a href="#">Next</a></p>	 -->
  </div>  
</div>

<div class="float-left one-col-big clear-block">
<div class="simple-list box-grigio-stondato">
	<div class="top-box clear-block">
		<div class="bottom-box clear-block">						  
		  <%- @song.tracks.each do |track| -%>		  
		    <div class="elements clear-block">
  			  <p class="thumb">
  			    <%= track_instrument_icon(track) %>
  			    <%= link_to(avatar_image(track.parent_song.user, :icon), user_path(track.parent_song.user)) if track.parent_song && track.parent_song.user %>
  			  <p class="name align-right"><%= link_to(track.parent_song.user.login, user_path(track.parent_song.user)) if track.parent_song && track.parent_song.user %></p>
  			  <p class="title align-right"><%= track.title %></p>
  			  <div class="music-info">
  			    <p class="bordered"><span>bpm: <strong><%= track.bpm %></strong></span> <span>key: <strong><%= track.tonality %></strong></span> <span>runtime: <strong><%= track.length %> </strong></span></p>
  			    <p class="float-right">
  			      <span class="star">
  			        <%= rating(track) %>
              </span>
  			      <%= mlab_button(track) %>
  			      <%= play_button(track) %>
            </p>
  			    <p class="float-left"><%= link_to(track.parent_song.genre.name, genre_path(track.parent_song.genre.name)) if track.parent_song && track.parent_song.genre %></p>
  			  </div>
  		  </div>
		  <%- end -%>
	  </div>
	</div>
			<p class="abstract align-right"><a href="#">Next</a></p>
	
  </div>
</div>

<!-- TABMENU -->
<div id="siblings_tabmenu_container">
	<div class="tab active" id="direct-siblings-tab">
	  <div id="siblings_tabmenu" class="sx"> </div>
  	<div id="siblings_tabmenu" class="rp">
  		<p class="siblings_green_text">
  		  <a href="#" onclick="$('indirect-siblings-tab').removeClassName('active');$('direct-siblings-tab').addClassName('active');$('indirect_siblings_container').hide();$('direct_siblings_container').show(); return false;">Other versions<span class="no-bold">(<%= @direct_siblings.size %>)</span></a>
      </p>
  		<p class="siblings_tabmenu_title"></p>			
  	</div>
  	<div id="siblings_tabmenu" class="dx"> </div>
	</div>
  <div class="tab" id="indirect-siblings-tab">
    <div id="siblings_tabmenu" class="inactive sx"> </div>
  	<div id="siblings_tabmenu" class="inactive rp">
  		<p class="siblings_orange_text"><a href="#" onclick="$('direct-siblings-tab').removeClassName('active');$('indirect-siblings-tab').addClassName('active');$('direct_siblings_container').hide();$('indirect_siblings_container').show(); return false;">Remote versions<span class="no-bold">(<%= @indirect_siblings.size %>)</span></a></p>
  		<p class="siblings_tabmenu_title"></p>			
  	</div>
  	<div id="siblings_tabmenu" class="inactive dx"> </div>
  </div>	
</div>
<!-- END TABMENU -->

<div id="direct_siblings_container">
  <div class="box-list special-arrow-box special-list clear-block">
    <div class="simple-list">
      <div class="top-box clear-block">
        <div class="bottom-box clear-block" id="direct-siblings">
        <%- @direct_siblings.each_with_index do |mix, index| song = mix.song -%>
          <div id="direct-sibling-<%= song.id %>" class="sibling special-box clear-block<%= ['', ' grey-bg'][index % 2] %>">
            <div class="float-right" style="padding-right:10px;">
    			    <div class="special-arrow"></div>
    			  </div>
            <p class="float-right" style="position:relative;">
              <img src="/images/spinner.gif" id="direct-sibling-tracks-loading-<%= song.id %>" style="display: none;float: left; margin: 7px 5px"/>
      		    <span class="tracks-number" id="track-number-<%= song.id %>">                
      		      <a href="#" onclick="new Ajax.Updater('direct-sibling-tracks', '<%= direct_sibling_tracks_song_path(song) %>', {
      		        method: 'GET',
      		        onLoading: function() {
      		          $('direct-sibling-tracks').hide();
      		          $('direct-sibling-tracks-loading-<%= song.id %>').show();
      		          $('direct-siblings').select('.sibling').invoke('removeClassName', 'active');
      		          $('direct-siblings').select('.tracks-number').invoke('removeClassName', 'orange');
      		        },
      		        onComplete: function() {
      		          $('direct-sibling-<%= song.id %>').addClassName('active');
      		          $('direct-sibling-tracks-loading-<%= song.id %>').hide();
      		          $('direct-sibling-tracks').show();    		          
      		        }
      		      });return false;" style="color: #FFF; display: block; text-decoration: none;height: 100%;">
      		        <%= song.tracks.count %>
      		      </a>
              </span>
            </p>
      			<p class="thumb">
      			  <%= link_to avatar_image(song.user, :icon), user_path(song.user) %>
            </p>
      			<p class="name"><%= link_to song.user.login, user_path(song.user) %></p>
      			<p class="title"><%= link_to song.title, song_path(song) %></p>
						<div class="music-info">
      			  <p class="float-right">
      			    <span class="star"><%= rating(song) %></span>
      			    <%= mlab_button(song) %>
      			    <%= play_button(song) %>
              </p>
      			  <p class="float-left">
                <%= download_button(song) %>
                <%= link_to song.genre.name, genre_path(song.genre) if song.genre %>
  						</p>
    			  </div>
    		  </div>
        <%- end -%>

      </div>
    </div>
  </div>
  </div>


  <div class="float-left one-col-big clear-block">
    <div class="simple-list box-grigio-stondato">
      <div class="top-box clear-block">        
  	    <div id="direct-sibling-tracks">
  	      <p>&nbsp;</p>
    	    <p>&nbsp;</p>
    	    <p>&nbsp;</p>
    	    <p>&nbsp;</p>
    	    <p>&nbsp;</p>
    	    <p>&nbsp;</p>
    	    <p class="grey-text" style="text-align:center; padding:30px;">Click on the <strong>Tracks Number</strong> icon to navigate this Song</p>  	    
  	    </div>
  	  </div>
      <p class="abstract align-right"><a href="#">Next</a></p>	
    </div>
  </div>
</div>

 
<div id="indirect_siblings_container" style="display: none">
  <div class="box-list special-arrow-box special-list clear-block">
    <div class="simple-list">
      <div class="top-box clear-block">
        <div class="bottom-box clear-block">

  		    <div class="bottom-box clear-block" id="indirect-siblings">

            <%- @indirect_siblings.each_with_index do |mix, index| song = mix.song -%>
              <div id="indirect-sibling-<%= song.id %>" class="sibling special-box clear-block<%= ['', ' grey-bg'][index % 2] %>">
        			  <div class="float-right" style="padding-right:10px;">
        			    <div class="special-arrow"></div>
        			  </div>
          		  <p class="float-right" style="position:relative;">
          		    <img src="/images/spinner.gif" id="indirect-sibling-tracks-loading-<%= song.id %>" style="display: none;float: left; margin: 7px 5px"/>
          		    <span class="tracks-number" id="track-number-<%= song.id %>">
          		      <a href="#" onclick="new Ajax.Updater('indirect-sibling-tracks', '<%= indirect_sibling_tracks_song_path(song) %>', {
          		        method: 'GET',
          		        onLoading: function() {
          		          $('indirect-sibling-tracks').hide();
          		          $('indirect-sibling-tracks-loading-<%= song.id %>').show();
          		          $('indirect-siblings').select('.sibling').invoke('removeClassName', 'active');        		          
          		        },
          		        onComplete: function() {
          		          $('indirect-sibling-<%= song.id %>').addClassName('active');
          		          $('indirect-sibling-tracks-loading-<%= song.id %>').hide();
          		          $('indirect-sibling-tracks').show();    		          
          		        }
          		      });return false;" style="color: #FFF; display: block; text-decoration: none;height: 100%;">
          		        <%= song.tracks.count %>
          		      </a>
                  </span>
                </p>
          			<p class="thumb">
          			  <%= link_to avatar_image(song.user, :icon), user_path(song.user) %>
                </p>
          			<p class="name"><%= link_to song.user.login, user_path(song.user) %></p>
          			<p class="title"><%= link_to song.title, song_path(song) %></p>
          			<div class="music-info">
          			  <p class="float-right">
          			    <span class="star"><%= rating(song) %></span>
          			    <%= mlab_button(song) %>
          			    <%= play_button(song) %>
                  </p>
          			  <p class="float-left">
      						  <%= download_button(song) %>
                    <%= link_to song.genre.name, genre_path(song.genre) if song.genre %>
      						</p>
        			  </div>
        		  </div>
            <%- end -%>

      	  </div>		  		  		  

  	    </div>	  
  	  </div>
    </div>
  </div>

  <div class="float-left one-col-big clear-block">
    <div class="simple-list box-grigio-stondato">
      <div class="top-box clear-block">
  	    <div id="indirect-sibling-tracks">
  	      <p>&nbsp;</p>
    	    <p>&nbsp;</p>
    	    <p>&nbsp;</p>
    	    <p>&nbsp;</p>
    	    <p>&nbsp;</p>
    	    <p>&nbsp;</p>
    	    <p class="grey-text" style="text-align:center; padding:30px;">Click on the <strong>Tracks Number</strong> icon to navigate this Song</p>
  	    </div>
  	  </div>
      <p class="abstract align-right"><a href="#">Next</a></p>	
    </div>
  </div>

</div>
