<% breadcrumb @song %>
<div class="box-list special-arrow-box song-spec clear-block">
  <div class="float-right" style="padding-right:16px;">
    <div class="special-arrow-active"></div>
  </div>
  <div class="simple-list">
	  <h1><%= @song.title %></h1>
	  <div class="top-box clear-block">
      <div class="float-right" style="padding-right:56px;">
        <div class="track-tab">
          <span class="tracks-number"><span><%= @song.tracks.count %></span></span>
        </div>
      </div>
		  <div class="bottom-box clear-block">
		    <div class="clear-block">	
          <p class="music-info float-right align-right">
            <span>runtime:<br /><strong><%= @song.length %></strong></span>
          </p>
          <p class="thumb"><%= link_to avatar_image(@song.user, :icon), user_path(@song.user) %></p>			
  			  <p class="name"><%= link_to @song.user.login, user_path(@song.user) %></p>
  			  <p class="title"><%= @song.title %></p>
  			  <p class="grey-text clear-float"><%= @song.description %></p>
  			  <p class="thumb">
  			    <%- @song.tracks.each do |track| -%>
  			      <%= image_tag(track.instrument.icon) %>
  			    <%- end -%>			  
          </p>
          <div class="music-info">
            <p class="float-right">
              <span class="star"><img src="/images/star_orange.png" alt="" width="10" height="9" /><img src="/images/star_orange.png" alt="" width="10" height="9" /><img src="/images/star_orange.png" alt="" width="10" height="9" /><img src="/images/star_orange.png" alt="" width="10" height="9" /><img src="/images/star_orange.png" alt="" width="10" height="9" /></span> 
              <%= mlab_button(@song) %>
              <%= play_button(@song) %>
            </p>
			      <p class="float-left"><a href="#"><img src="/images/genere_ico.png" alt="" width="22" height="14" class="float-left" />Genre</a></p>
          </div>
        </div>		  
      </div>	  
    </div>
	  <div class="music-info song-stat">
      <p><strong>Stats</strong></p>
      <table width="100%" border="0" cellpadding="0" cellspacing="5" style="border-top:1px solid #E6E6E6;">
        <tr>
          <td width="40%">Play count</td>
          <td width="30%"><%= @song.listened_times %></td>
          <td width="20%">Rated</td>
          <td width="10%" class="align-right"><%= @song.rating_count %></td>
        </tr>
  			<tr>
  				<td width="40%">Edited</td>
  				<td width="30%">15</td>
  				<td width="20%">Created</td>
  				<td width="10%" class="align-right"><%= @song.created_at.strftime("%m/%d/%y") %></td>
  			</tr>
  		</table>
    </div>			
    <p class="abstract align-right"><a href="#">Report abuse</a></p>
  </div>
  <div>
    <h1>Other songs by <%= link_to @song.user.login, user_path(@song.user) %><span class="no-bold">(<%= @song.user.songs.count %>)</span></h1>
    <table width="100%" border="0" cellpadding="0" cellspacing="0">
      <%- @other_songs.each_with_index do |song, index| -%>
        <tr class="<%= %[even odd][index % 2] %>">
          <td><span class="cyan-text"><%= song.genre ? song.genre.name : ''  %> </span> <%= song.user.login %>,<em> <%= truncate(song.title, 10) %> </em></td>
          <td class="star">
            <%= rating(song) %>
          </td>
          <td class="button">
            <%= mlab_button(song) %>
            <%= play_button(song) %>
          </td>
        </tr>
      <%- end -%>
    </table>
    <p class="abstract align-right"><a href="#">Next</a></p>	
  </div>  
</div>

<div class="float-left one-col-big clear-block">
<div class="simple-list box-grigio-stondato">
	<div class="top-box clear-block">
		<div class="bottom-box clear-block">						  
		  <%- @song.tracks.each do |track| -%>		  
		    <div class="elements clear-block">
  			  <p class="thumb">
  			    <%= image_tag(track.instrument.icon) %>
  			    <%= link_to avatar_image(track.parent_song.user, :icon), user_path(track.parent_song.user) %>
  			  <p class="name align-right"><%= link_to track.parent_song.user.login, user_path(track.parent_song.user) %></p>
  			  <p class="title align-right"><%= track.title %></p>
  			  <div class="music-info">
  			    <p class="bordered"><span>bpm: <strong><%= track.bpm %></strong></span> <span>key: <strong><%= track.tonality %></strong></span> <span>runtime: <strong><%= track.length %> </strong></span></p>
  			    <p class="float-right">
  			      <span class="star">
  			        <%= rating(track) %>
              </span>
  			      <%= mlab_button(track) %>
  			      <%= play_button(track) %>
            </p>
  			    <p class="float-left"><%= link_to track.parent_song.genre.name, genre_path(track.parent_song.genre.name) %></p>
  			  </div>
  		  </div>
		  <%- end -%>
	  </div>
	</div>
			<p class="abstract align-right"><a href="#">Next</a></p>
	
  </div>
</div>

<div class="bottom-shadow clear-float" style="width: 720px; float:none;"></div>
	<h1 style="padding-left:20px;">Other versions<span class="no-bold">(20)</span></h1>

<div class="box-list special-arrow-box special-list clear-block">
  <div class="simple-list">

	<div class="top-box clear-block">
	
	  <div class="bottom-box clear-block">
      
      <%- @direct_siblings.each_with_index do |song, index| -%>
        <div onmouseover="$('direct-sibling-tracks-container-<%= song.id %>').show()"
          onmouseout="$('direct-sibling-tracks-container-<%= song.id %>').hide()"
          class="special-box clear-block<%= ['' ' grey-bg'][index % 2] %>">
  			  <div class="float-right" style="padding-right:10px;">
  			    <div class="special-arrow"></div>
  			  </div>
    		  <p class="float-right" style="position:relative;"><span class="tracks-number-grey"><span><%= song.tracks.count %></span></span></p>
    			<p class="thumb">
    			  <%= link_to avatar_image(song.user, :icon), user_path(song.user) %>
          </p>
    			<p class="name"><%= link_to song.user.login, user_path(song.user) %></p>
    			<p class="title"><%= song.id %> <%= link_to song.title, song_path(song.title) %></p>
    			<div class="music-info">
    			  <p class="float-right">
    			    <span class="star"><%= rating(song) %></span>
    			    <%= mlab_button(song) %>
    			    <%= play_button(song) %>
            </p>
    			  <p class="float-left"><a href="#"><img src="/images/genere_ico.png" alt="" width="22" height="14" class="float-left" />Genre</a></p>
  			  </div>
  		  </div>
      <%- end -%>
      
	  </div>
	  
	</div>
	
      </div>
</div>

<%- @direct_siblings.each_with_index do |song, index| -%>
<div class="float-left one-col-big clear-block" style="display:none;" id="direct-sibling-tracks-container-<%= song.id %>">
<div class="simple-list box-grigio-stondato">
	<div class="top-box clear-block">
		<div class="bottom-box clear-block">
		
		  
		    <%- song.tracks.each do |track| -%>
		      <div class="elements clear-block">
    			<p class="thumb">
    			  <%= image_tag(track.instrument.icon) %>
    			  <%= link_to avatar_image(song.user, :icon), user_path(song.user) %>
          </p>
    			<p class="name align-right">
    			  <%= link_to song.user.login, user_path(song.user) %>
          </p>
    			<p class="title align-right">
    			  <%= link_to song.title, song_path(song_path) %>
          </p>
    			<div class="music-info">
    			<p class="bordered"><span>bpm: <strong><%= track.bpm %></strong></span> <span>key: <strong><%= track.tonality %></strong></span> <span>runtime: <strong><%= track.length %> </strong></span></p>
    			<p class="float-right">
    			  <span class="star">
    			    <%= rating(track) %>
            </span>
    			  <%= mlab_button(track) %>
    			  <%= play_button(track) %>
          </p>
    			<p class="float-left"><a href="#"><img src="/images/genere_ico.png" alt="" width="22" height="14" class="float-left" />Genre</a></p>
    			</div>
    		  </div>		  		  		  
        <%- end -%>      			
	  </div>
	</div>
			<p class="abstract align-right"><a href="#">Next</a></p>	
  </div>
</div>
<%- end -%>


<div class="bottom-shadow clear-float" style="width: 720px; float:none;"></div>


	<h1 style="padding-left:20px;">Remote <span class="no-bold">(52)</span></h1>

<div class="box-list special-arrow-box special-list clear-block">
  <div class="simple-list">

	<div class="top-box clear-block">
	
	  <div class="bottom-box clear-block">

		  <div class="special-box clear-block grey-bg">
		  
			<div class="float-right" style="padding-right:10px;"><div class="special-arrow"></div>
			</div>
			
		  <p class="float-right" style="position:relative;"><span class="tracks-number-grey"><span>5</span></span></p>
			<p class="thumb"><img src="photo/photo_30X30.jpg" alt="Pinco Pallino" width="29" height="29" /></p>
			<p class="name"><a href="#">Pinco Pallino</a></p>
			<p class="title"><a href="#">titolo pezzo </a></p>
			<div class="music-info">
			<p class="float-right"><span class="star"><img src="/images/star_orange.png" alt="" width="10" height="9" /><img src="/images/star_orange.png" alt="" width="10" height="9" /><img src="/images/star_orange.png" alt="" width="10" height="9" /><img src="/images/star_orange.png" alt="" width="10" height="9" /><img src="/images/star_orange.png" alt="" width="10" height="9" /></span> <a href="#"><img src="/images/button_mlab.png" alt="" width="23" height="15" /></a> <a href="#"><img src="/images/button_play_green.png" alt="" width="23" height="15" /></a></p>
			<p class="float-left"><a href="#"><img src="/images/genere_ico.png" alt="" width="22" height="14" class="float-left" />Genre</a></p>
			</div>
			
		  </div>
		  
		  <div class="special-box clear-block">
		  
			<div class="float-right" style="padding-right:10px;"><div class="special-arrow"></div>
			</div>
			
		  <p class="float-right"><span class="tracks-number-orange"><span>5</span></span></p>
			<p class="thumb"><img src="photo/photo_30X30.jpg" alt="Pinco Pallino" width="29" height="29" /></p>
			<p class="name"><a href="#">Pinco Pallino</a></p>
			<p class="title"><a href="#">titolo pezzo </a></p>
			<div class="music-info">
			<p class="float-right"><span class="star"><img src="/images/star_orange.png" alt="" width="10" height="9" /><img src="/images/star_orange.png" alt="" width="10" height="9" /><img src="/images/star_orange.png" alt="" width="10" height="9" /><img src="/images/star_orange.png" alt="" width="10" height="9" /><img src="/images/star_orange.png" alt="" width="10" height="9" /></span> <a href="#"><img src="/images/button_mlab.png" alt="" width="23" height="15" /></a> <a href="#"><img src="/images/button_play_green.png" alt="" width="23" height="15" /></a></p>
			<p class="float-left"><a href="#"><img src="/images/genere_ico.png" alt="" width="22" height="14" class="float-left" />Genre</a></p>
			</div>
			
		  </div>				  
		  
		  <div class="special-box clear-block grey-bg">
		  
			<div class="float-right" style="padding-right:10px;"><div class="special-arrow"></div>
			</div>
			
		  <p class="float-right"><span class="tracks-number-grey"><span>5</span></span></p>
			<p class="thumb"><img src="photo/photo_30X30.jpg" alt="Pinco Pallino" width="29" height="29" /></p>
			<p class="name"><a href="#">Pinco Pallino</a></p>
			<p class="title"><a href="#">titolo pezzo </a></p>
			<div class="music-info">
			<p class="float-right"><span class="star"><img src="/images/star_orange.png" alt="" width="10" height="9" /><img src="/images/star_orange.png" alt="" width="10" height="9" /><img src="/images/star_orange.png" alt="" width="10" height="9" /><img src="/images/star_orange.png" alt="" width="10" height="9" /><img src="/images/star_orange.png" alt="" width="10" height="9" /></span> <a href="#"><img src="/images/button_mlab.png" alt="" width="23" height="15" /></a> <a href="#"><img src="/images/button_play_green.png" alt="" width="23" height="15" /></a></p>
			<p class="float-left"><a href="#"><img src="/images/genere_ico.png" alt="" width="22" height="14" class="float-left" />Genre</a></p>
			</div>
			
		  </div>
		  
		  
		  <div class="special-box clear-block">
		  
			<div class="float-right" style="padding-right:10px;"><div class="special-arrow"></div>
			</div>
			
		  <p class="float-right"><span class="tracks-number-grey"><span>5</span></span></p>
			<p class="thumb"><img src="photo/photo_30X30.jpg" alt="Pinco Pallino" width="29" height="29" /></p>
			<p class="name"><a href="#">Pinco Pallino</a></p>
			<p class="title"><a href="#">titolo pezzo </a></p>
			<div class="music-info">
			<p class="float-right"><span class="star"><img src="/images/star_orange.png" alt="" width="10" height="9" /><img src="/images/star_orange.png" alt="" width="10" height="9" /><img src="/images/star_orange.png" alt="" width="10" height="9" /><img src="/images/star_orange.png" alt="" width="10" height="9" /><img src="/images/star_orange.png" alt="" width="10" height="9" /></span> <a href="#"><img src="/images/button_mlab.png" alt="" width="23" height="15" /></a> <a href="#"><img src="/images/button_play_green.png" alt="" width="23" height="15" /></a></p>
			<p class="float-left"><a href="#"><img src="/images/genere_ico.png" alt="" width="22" height="14" class="float-left" />Genre</a></p>
			</div>
			
		  </div>				  
		  
		  <div class="special-box clear-block grey-bg">
		  
			<div class="float-right" style="padding-right:10px;"><div class="special-arrow"></div>
			</div>
			
		  <p class="float-right"><span class="tracks-number-grey"><span>5</span></span></p>
			<p class="thumb"><img src="photo/photo_30X30.jpg" alt="Pinco Pallino" width="29" height="29" /></p>
			<p class="name"><a href="#">Pinco Pallino</a></p>
			<p class="title"><a href="#">titolo pezzo </a></p>
			<div class="music-info">
			<p class="float-right"><span class="star"><img src="/images/star_orange.png" alt="" width="10" height="9" /><img src="/images/star_orange.png" alt="" width="10" height="9" /><img src="/images/star_orange.png" alt="" width="10" height="9" /><img src="/images/star_orange.png" alt="" width="10" height="9" /><img src="/images/star_orange.png" alt="" width="10" height="9" /></span> <a href="#"><img src="/images/button_mlab.png" alt="" width="23" height="15" /></a> <a href="#"><img src="/images/button_play_green.png" alt="" width="23" height="15" /></a></p>
			<p class="float-left"><a href="#"><img src="/images/genere_ico.png" alt="" width="22" height="14" class="float-left" />Genre</a></p>
			</div>
			
		  </div>
		  
		  <div class="special-box clear-block">
		  
			<div class="float-right" style="padding-right:10px;"><div class="special-arrow"></div>
			</div>
			
		  <p class="float-right"><span class="tracks-number-grey"><span>5</span></span></p>
			<p class="thumb"><img src="photo/photo_30X30.jpg" alt="Pinco Pallino" width="29" height="29" /></p>
			<p class="name"><a href="#">Pinco Pallino</a></p>
			<p class="title"><a href="#">titolo pezzo </a></p>
			<div class="music-info">
			<p class="float-right"><span class="star"><img src="/images/star_orange.png" alt="" width="10" height="9" /><img src="/images/star_orange.png" alt="" width="10" height="9" /><img src="/images/star_orange.png" alt="" width="10" height="9" /><img src="/images/star_orange.png" alt="" width="10" height="9" /><img src="/images/star_orange.png" alt="" width="10" height="9" /></span> <a href="#"><img src="/images/button_mlab.png" alt="" width="23" height="15" /></a> <a href="#"><img src="/images/button_play_green.png" alt="" width="23" height="15" /></a></p>
			<p class="float-left"><a href="#"><img src="/images/genere_ico.png" alt="" width="22" height="14" class="float-left" />Genre</a></p>
			</div>
			
		  </div>

		  <div class="special-box clear-block grey-bg">
		  
			<div class="float-right" style="padding-right:10px;"><div class="special-arrow"></div>
			</div>
			
		  <p class="float-right"><span class="tracks-number-grey"><span>5</span></span></p>
			<p class="thumb"><img src="photo/photo_30X30.jpg" alt="Pinco Pallino" width="29" height="29" /></p>
			<p class="name"><a href="#">Pinco Pallino</a></p>
			<p class="title"><a href="#">titolo pezzo </a></p>
			<div class="music-info">
			<p class="float-right"><span class="star"><img src="/images/star_orange.png" alt="" width="10" height="9" /><img src="/images/star_orange.png" alt="" width="10" height="9" /><img src="/images/star_orange.png" alt="" width="10" height="9" /><img src="/images/star_orange.png" alt="" width="10" height="9" /><img src="/images/star_orange.png" alt="" width="10" height="9" /></span> <a href="#"><img src="/images/button_mlab.png" alt="" width="23" height="15" /></a> <a href="#"><img src="/images/button_play_green.png" alt="" width="23" height="15" /></a></p>
			<p class="float-left"><a href="#"><img src="/images/genere_ico.png" alt="" width="22" height="14" class="float-left" />Genre</a></p>
			</div>
			
		  </div>
		  
		  
		  <div class="special-box clear-block">
		  
			<div class="float-right" style="padding-right:10px;"><div class="special-arrow"></div>
			</div>
			
		  <p class="float-right"><span class="tracks-number-grey"><span>5</span></span></p>
			<p class="thumb"><img src="photo/photo_30X30.jpg" alt="Pinco Pallino" width="29" height="29" /></p>
			<p class="name"><a href="#">Pinco Pallino</a></p>
			<p class="title"><a href="#">titolo pezzo </a></p>
			<div class="music-info">
			<p class="float-right"><span class="star"><img src="/images/star_orange.png" alt="" width="10" height="9" /><img src="/images/star_orange.png" alt="" width="10" height="9" /><img src="/images/star_orange.png" alt="" width="10" height="9" /><img src="/images/star_orange.png" alt="" width="10" height="9" /><img src="/images/star_orange.png" alt="" width="10" height="9" /></span> <a href="#"><img src="/images/button_mlab.png" alt="" width="23" height="15" /></a> <a href="#"><img src="/images/button_play_green.png" alt="" width="23" height="15" /></a></p>
			<p class="float-left"><a href="#"><img src="/images/genere_ico.png" alt="" width="22" height="14" class="float-left" />Genre</a></p>
			</div>
			
		  </div>
		  
		  
	  </div>
	  
	</div>
	
      </div>
</div>


<div class="float-left one-col-big clear-block">
<div class="simple-list box-grigio-stondato-vuoto">
	<div class="top-box clear-block">
	  <div class="bottom-box clear-block">
	    <p>&nbsp;</p>
	    <p>&nbsp;</p>
	    <p>&nbsp;</p>
	    <p>&nbsp;</p>
	    <p>&nbsp;</p>
	    <p>&nbsp;</p>
	    <p class="grey-text" style="text-align:center; padding:30px;"><strong>select a song to see its tracks</strong></p>
	  </div>
	</div>
</div>
</div>





