<%- track = instr_block_mtrack_sidebar -%>
<div class="instr_block sidebar_block">
	<span class="fright icons16 <%= 'ui-state-tools ui-icon-trash' if track.private? %>"> </span>
	<div class="instr_avatar shadow_white fleft">
		<span class="instr blue <%= track.instrument.code %>"> </span>
	</div>
	<div class="song_details fleft">
		<a href="" class="song_title"><%= truncate(track.title, :length => 20) %></a><br />
		<a href="" class="song_author"><strong><%= track.user.nickname %></strong></a><br />
		<%= image_tag 'icons/bullet_key.png' if track.private? %>
	</div>
	<ul class="song_controls profile_controls_sidebar fright">
		<li class="nomargin"><a href="" class="control_mix">MIX</a></li>
		<li class="nomargin"><a href="" class="control_play">PLAY</a></li>
	</ul>
</div>
