<%- track = instr_block_mtrack_sidebar -%>
<div class="instr_block sidebar_block">
	<span class="fright icons16 <%= 'ui-state-tools ui-icon-trash' if track.private? %>"> </span>
	<div class="instr_avatar shadow_white fleft">
		<span class="instr blue <%= track.instrument.code %>"> </span>
	</div>
	<div class="song_details fleft">
		<%= link_to truncate(track.title, :length => 20), track, :class => 'song_title', :target => '_blank' %><br />
		<%= link_to truncate(track.user.nickname, :length => 20), track.user, :class => 'song_author', :target => '_blank' %><br />
		<%= image_tag 'icons/bullet_key.png' if track.private? %>
	</div>
	<ul class="track_controls profile_controls_sidebar fright">
		<li class="nomargin"><%= link_to 'MIX', '#', :rel => track.id, :class => 'control_mix' %></li>
		<li class="nomargin"><a href="" class="control_play">PLAY</a></li>
	</ul>
</div>
