<!-- BEGIN PROJECT FORM -->
<form class="project_data">
		
	<div id="project">
		<div class="project_info fleft">
			<span class="title block">Project info</span>
			<span class="fleft">
				<%= image_tag current_user.avatar.public_filename(:medium), :class => 'border avatar', :size => '60x60' %>

				<select name="identity" id="identity" style="display:none" onchange="void(0)">
					<option value="user/<%= current_user.id %>" icon="<%= current_user.avatar.public_filename(:medium) %>">
						<%= current_user.nickname %>
					</option>
					<optgroup label="YOUR M-BANDS">
						<% for mband in current_user.mbands do %>
							<option value="mband/<%= mband.id %>" icon="<%= mband.avatar.public_filename(:medium) %>">
								<%= mband.name %>
							</option>
						<% end %>
					</optgroup>
				</select>
			</span>

			<input type="text" name="project_title" value="Untitled Project" class="text ui-widget-content ui-corner-all project_title" />
			<!--<input type="text" name="project_author" value="Pino" class="text ui-widget-content ui-corner-all project_author">-->
			<div class="project_author fleft inplace-edit">
				<span class="fleft">
					<h2><%= logged_in? ? current_user.nickname : 'Guest'%></h2>
				</span>
				<span class="fright ten">
					<a href="#" class="icons16 edit_icon padleft23 none">Edit</a>
				</span>
			</div>
		</div>

		<div class="project_publish fleft">
			<span class="title block">Publishing options</span>
				<div class="fleft show_options">				
				  <div class="radios">
					    <input type="radio" name="publish_option" value="Public">
						  <label class="weight-bold">Public</label>
				  </div>
				  <div class="clear"> </div>
				  <div class="radios">						
				    <input type="radio" name="publish_option" value="Private" checked>
						<label class="weight-bold">Private <%= image_tag 'icons/bullet_key.png', :class => 'priv_icon_abs' %> </label>
			    </div>
        </div>
				<div class="fleft show_cc">		
						<div class="icons16 creativecommons_icon"> </div>
				</div>									
		</div>
		<div class="project_save fleft">
			<span class="title block">Save project</span>
			
				<input type="submit" class="project_save_submit fleft" value="">					
				
		</div>
	</div>

</form>
<!-- END FORM -->
