<%- song = song_block_mtrack_sidebar -%>
<div class="song_block sidebar_block">
	<span class="fright icons16 <%= 'ui-state-tools ui-icon-trash' if song.private? %>"> </span>
	<div class="tracks_count sidebar_count fleft">
		<h3><%= song.tracks.count %></h3>
		Instr.s
	</div>
	<div class="song_details fleft">
		<a href="" class="song_title"><%= truncate(song.title, :length => 20) %></a><br />
		<a href="" class="song_author"><strong><%= song.user.nickname %></strong></a><br />
		<%= image_tag 'icons/bullet_key.png' if song.private? %>
	</div>
		<ul class="song_controls profile_controls_sidebar fright">
			<li class="nomargin"><a href="" class="control_mix">MIX</a></li>
			<li class="nomargin"><a href="" class="control_play">PLAY</a></li>
		</ul>
</div>

