<%- song = song_block_mtrack_sidebar -%>
<div class="song_block sidebar_block">
	<span class="fright icons16 <%= 'ui-state-tools ui-icon-trash' if song.private? %>"> </span>
	<div class="tracks_count sidebar_count fleft">
		<h3><%= song.tracks.count %></h3>
		Instr.s
	</div>
	<div class="song_details fleft">
		<%= link_to truncate(song.title, :length => 20), song, :class => 'song_title', :target => '_blank' %><br />
		<%= link_to truncate(song.user.nickname, :length => 20), song.user, :class => 'song_author', :target => '_blank' %><br />
		<%= image_tag 'icons/bullet_key.png' if song.private? %>
	</div>
		<ul class="song_controls profile_controls_sidebar fright">
			<li class="nomargin"><%= link_to 'MIX', '#', :rel => song.id, :class => 'control_mix' %></li>
			<li class="nomargin"><a href="" class="control_play">PLAY</a></li>
		</ul>
</div>

