<script type="text/javascript" charset="utf-8">// <![CDATA[

	document.observe('dom:loaded', function() {
		if ($('current-user-id')) {
			$w("title original_author description").each(function(name) {
					new Ajax.InPlaceEditor('mlab_' + name, '<%= song_path(@song, :authenticity_token => (form_authenticity_token if protect_against_forgery?)) %>', {
					externalControl: 'mlab_' + name + '_edit_button',
					externalControlOnly: true,
					rows: (name == 'description' ? 2 : 1),
					okText: 'OK',
					highlightendcolor: 'transparent',
					paramName: 'song[' + name + ']',
					ajaxOptions: { method: 'PUT' },
					onEnterHover: Prototype.emptyFunction,
					onLeaveHover: Prototype.emptyFunction,
					onComplete: function() {  $('flashcontent').refreshSong(); }
				});
			});
			new Ajax.InPlaceSelect('mlab_genre', '<%= song_path(@song, :authenticity_token => (form_authenticity_token if protect_against_forgery?)) %>', {
				lazyLoading: true,
				values_url: '/genres?ids',
				labels_url: '/genres',
				okText: 'OK',
				externalControl: 'mlab_genre_edit_button',
				externalControlOnly: true,
				ajaxOptions: { method: 'PUT' },
				paramName: 'song[genre_id]',
				onComplete: function() { $('flashcontent').refreshSong(); }
			});
			new Ajax.InPlaceSelect('mlab_tone', '<%= song_path(@song, :authenticity_token => (form_authenticity_token if protect_against_forgery?)) %>', {
				labels: <%= Myousica::TONES.inspect %>,
				values: <%= Myousica::TONES.inspect %>,
				lazyLoading: false,
				okText: 'OK',
				externalControl: 'mlab_tone_edit_button',
				externalControlOnly: true,
				ajaxOptions: { method: 'PUT' },
				paramName: 'song[tone]',
				onComplete: function() { $('flashcontent').refreshSong(); }
			});
		} else {
			$w('title original_author description genre').each(function(name) {
				$('mlab_' + name + '_edit_button').observe('click', function(event) {
					event.stop();
					alert('Log in or sign up to edit!');
				});
			});
		}
	});

	function refreshTopPane() {
		new Ajax.Request('<%= multitrack_refresh_path(@song) %>', {method: 'get'});
	}
	
	function setFlashHeight( height ) {
		$( 'flashcontent' ).style.height = height.toString() + 'px';
	}

	function isLoggerAvailable() {
		var isfb = false; try { isfb = console.log != undefined; } catch( e ) {}; return( isfb );
	}

	var flashvars = {
		serverPath: '<%= APPLICATION[:url] %>',
		settingsXMLPath: '<%= multitrack_config_path %>',
		songID: <%= @song.id || 0 %>,
		<%- if logged_in? && current_user.is_admin? -%>
		isLogEnabled: true,
		<%- end -%>
		isServiceDumpEnabled: true
	};
	var params = { wmode: 'transparent' };
	var attributes = { name: 'multitrackObject' };

	<%- if @edit -%>
	document.observe('dom:loaded', function() {
		$('flashcontent').update(
			'<p class="editing"><%= link_to "Done editing", :back %></p>' +
			'<p class="edit-blurb">Multitrack editing of songs is currently disabled. It will be available soon :).<br/> In the meantime, you can edit your song attributes here.</p>' );
	});
	<%- else -%>
	swfobject.embedSWF( '/multitrack/Adelao_Myousica_Multitrack_Editor.swf', 'flashcontent', '978', '100%', '9.0.28', '/expressInstall.swf', flashvars, params, attributes );
	<%- end -%>
	
// ]]></script>

<div id="mlab_new_block_top">
	<div id="mlab_new_icons_container">
		<div class="mlab_icon_mlab">
			<img src="/images/mlab_icon.png" />
		</div>
		<div class="mlab_user_avatar">
			<% if logged_in? %>
				<%= avatar_image current_user, :big, :width => 70, :height => 70 %>
				<p class="mlab_username"><%= current_user.login %></p>
			<% else %>
				<%= image_tag 'default_avatars/avatar_big.gif', :size => '70x70' %>
				<p class="mlab_username">Guest<br/>[<%= link_to 'sign up', signup_path %>]<br/>[<%= link_to 'log in', login_path %>]</p>
			<% end %>
		</div>
	</div>
	<div id="mlab_details_container">
		<div id="mlab_detail_row">
			<div class="mlab_labels_left">
				<!-- inplace editing -->
				<p class="mlab_label">New project name: <a href="#" id="mlab_title_edit_button">[edit]</a></p>
				<p class="mlab_title_big" id="mlab_title"><%= @song.title || 'Project title' %></p>
			</div>
			<div class="mlab_labels_right">
				<div class="mlab_tone">
					<!-- inplace select -->
					<p class="mlab_label">Tone: <a href="#" id="mlab_tone_edit_button">[edit]</a></p>
					<p class="mlab_title_big" id="mlab_tone"><%= @song.tone %></p>
				</div>
				<div style="float: left;">
					<!-- dynamic -->
					<p class="mlab_label">Tracks:</p>
					<p class="mlab_title_big" id="mlab_tracks"><%= @song.tracks.count %></p>
				</div>
				<div class="mlab_runtime">					
					<!-- dynamic -->
					<p class="mlab_label">Runtime:</p>
					<p class="mlab_title_big" id="mlab_runtime"><%= @song.length %></p>
				</div>
			</div>
		</div>
		<div id="mlab_detail_row">
			<div class="mlab_labels_left">
				<!-- inplace editing -->
				<p class="mlab_label">Author: <a href="#" id="mlab_original_author_edit_button">[edit]</a></p>
				<p class="mlab_title_big" id="mlab_original_author"><%= @song.original_author || 'Project author' %></p>
			</div>
			<div class="mlab_labels_right">
				<div style="float: left">
					<!-- inplace select -->
					<p class="mlab_label">Genre: <a href="#" id="mlab_genre_edit_button">[edit]</a></p></p>
					<p class="mlab_title_big" id="mlab_genre"><%= @song.genre ? @song.genre.name : '' %></p>
				</div>
			</div>
		</div>
		<div id="mlab_detail_row_last">
			<div class="mlab_labels_left">
				<!-- inplace editing -->
				<p class="mlab_label">Note: <a href="#" id="mlab_description_edit_button">[edit]</a></p>
				<p class="mlab_medium_text" id="mlab_description"><%=h @song.description %></p>
			</div>
			<div class="mlab_labels_right">
				<!-- dynamic -->
				<p class="mlab_label">Instruments:</p>
				<p class="mlab_medium_text" id="mlab_instruments"><%= instruments_used_in @song %></p>
			</div>
		</div>			
	</div>
</div>

<div id="flashcontent"></div>
