<% content_for :head do %>
	<%= javascript_include_tag 'multitrack' %>
  <%= javascript_include_tag 'swfobject/swfobject' %>
	<script type="text/javascript">// <![CDATA[
	
		function setFlashHeight( height ) {
      $('#flash').css({height: height.toString() + 'px'});
		}
	
		var flashvars = {
			serverPath: '<%= APPLICATION[:url] %>',
			settingsXMLPath: '/multitrack.xml',
			isLogEnabled: 'yes',
			isServiceDumpEnabled: 'no',
      songID: <%= @song.published? ? @song.id : 0 %>
		};

		var params = {};
		var attributes = { name: 'multitrackObject' };
		swfobject.embedSWF( '/multitrack/multitrack.swf', 'flash', '690', '100%', '9.0.0', 'scripts/swfobject/express-install.swf', flashvars, params, attributes );
			
		//$(document).ready(function() {
			//setTimeout(function() { $('#flash')[0].loadSong(917598278); }, 8000);
		//});
			
	// ]]></script>

	<style type="text/css">
	
		#multitrack {
      padding: 20px 0;
		}
		
		#flash {
      margin: 0 auto;
			width: 690px;
			height: 40px;
			position: relative;
      z-index: 0;
		}
		
	</style>

<% end %>



<!-- LEFTCOL -->
<div class="leftCol fleft">
	<div class="leftColWrapper">

	<!-- EXPL BANNER -->
		<div id="expl_banner">
			<span id="expl_hide" class="fright">hide</span>
			<span class="expl_band fleft"> </span>
			<h1>Record your performance in one click.</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean semper, ipsum<br />
			eget dapibus sagittis, nunc nunc feugiat neque, vel blandit.</p>
			<ul class="expl_links fright">
				<li><a href=""><strong>Learn More</strong></a></li>
			</ul>
		</div>
	<!-- END EXPL BANNER -->

      <%= render :partial => 'multitrack/project' %>
      
      <div id="multitrack">
    	  <div id="flash"></div>
      </div>
  
      <%= render :partial => 'multitrack/mixable_search' %>  
  
	</div>
</div>
<!-- END LEFTCOL -->

<!-- RIGHTCOL -->	
<div class="rightCol fright">

      <%= render :partial => 'multitrack/overview' %>
      <%= render :partial => 'multitrack/user_stuff' if logged_in? %>

</div>
<!-- END RIGHTCOL -->	

<div class="clear"> </div>

<% content_for :footer do %>
  <%= render :partial => 'songs/footer' %>
<% end %>
