<script type="text/javascript" charset="utf-8">
  document.observe('dom:loaded', function() {
    $w("title original_author description").each(function(name) {
      new Ajax.InPlaceEditor('mlab_' + name, '<%= song_path(@song) %>', {
        externalControl: 'mlab_' + name + '_edit_button',
        externalControlOnly: true,
        highlightcolor: 'transparent',
        rows: name == 'description' ? 5 : 1,
        highlightendcolor: 'transparent',
        paramName: 'song[' + name + ']',      
        ajaxOptions: { method: 'PUT' }
      });                        
    });    
    new Ajax.InPlaceSelect('mlab_genre', '<%= song_path(@song) %>', {
      lazyLoading: true,
      values_url: '/genres?ids',
      labels_url: '/genres',
      externalControl: 'mlab_genre_edit_button',
      externalControlOnly: true,
      ajaxOptions: { method: 'PUT' },
      paramName: 'song[genre_id]',
      onComplete: Prototype.emptyFunction,
      highlightcolor: 'transparent',
      highlightendcolor: 'transparent'
    });
  });
</script>

<div id="mlab_new_block_top">
	<div id="mlab_new_icons_container">
		<div class="mlab_icon_mlab">
			<img src="/images/mlab_icon.png" />
		</div>
		<div class="mlab_user_avatar">
			  <%= avatar_image(@user, :medium) %>
				<p class="mlab_username"><%= @user.login %></p>
		</div>
	</div>
	<div id="mlab_details_container">
		<div id="mlab_detail_row">
			<div style="float: left;">
				<!-- inplace editing -->
				<p class="mlab_label">New project name: <a href="#" id="mlab_title_edit_button">[edit]</a></p>
				<p class="mlab_title_big" id="mlab_title"><%= @song.title || 'Untitled' %></p>
			</div>
			<div id="mlab_labels_right">
				<!-- dynamic -->
				<div style="float: left;">
					<p class="mlab_label">Tracks:</p>
					<p class="mlab_title_big"><%= @song.tracks.count %></p>
				</div>
				<div id="mlab_2nd_column_right">					
					<p class="mlab_label">Runtime:</p>
					<p class="mlab_title_big"><%= @song.length %></p>
				</div>
			</div>
		</div>
		<div id="mlab_detail_row">
			<div style="float: left;">
				<!-- inplace editing -->
				<p class="mlab_label">Author: <a href="#" id="mlab_original_author_edit_button">[edit]</a></p>
				<p class="mlab_title_big" id="mlab_original_author"><%= @song.original_author || 'Original Author' %></p>
			</div>
			<div id="mlab_labels_right">
				<!-- dynamic -->
				<p class="mlab_label">Genre: <a href="#" id="mlab_genre_edit_button">[edit]</a></p></p>
				<p class="mlab_genre_text" id="mlab_genre"><%= @song.genre ? @song.genre.name : '' %></p>
			</div>
		</div>
		<div id="mlab_detail_row_last">
			<div style="float: left;">
				<!-- inplace editing -->
				<p class="mlab_label">Note: <a href="#" id="mlab_description_edit_button">[edit]</a></p>
				<p class="mlab_note_text" id="mlab_description"><%=h @song.description %></p>
			</div>
			<div id="mlab_labels_right">
				<!-- dynamic -->
				<p class="mlab_label">Instruments:</p>
				<p class="mlab_small_text">Drum, Piano, Sax, Voice, Synth, Bass, Maracas, Trombone</p>
			</div>
		</div>			
	</div>
</div>

<div id="flashcontent"></div>

<script type="text/javascript">
	// <![CDATA[
	
	var so = new SWFObject("/multitrack/SUX_Player_Core.swf", "SUX_Player_Core", "978", "800", "9", "#F3F3F4");
	so.addVariable("userid", <%= @user.id %>); 
	so.addVariable("songid", <%= @song.id %>); 
	so.addVariable("authenticity_token", '<%= form_authenticity_token if protect_against_forgery? %>'); 
	so.write("flashcontent");

	// ]]>
</script>

