<script type="text/javascript" charset="utf-8">// <![CDATA[
  document.observe('dom:loaded', function() {
    if ($('current-user-id')) {
      $w("title original_author description").each(function(name) {
          new Ajax.InPlaceEditor('mlab_' + name, '<%= song_path(@song, :authenticity_token => (form_authenticity_token if protect_against_forgery?)) %>', {
          externalControl: 'mlab_' + name + '_edit_button',
          externalControlOnly: true,
          rows: (name == 'description' ? 2 : 1),
          okText: 'OK',
          highlightendcolor: 'transparent',
          paramName: 'song[' + name + ']',
          ajaxOptions: { method: 'PUT' },
          onEnterHover: Prototype.emptyFunction,
          onLeaveHover: Prototype.emptyFunction,
          onEnterEditMode: (name == 'description' ? function() { $('mlab_new_block_top').style.height = '195px'; } : Prototype.emptyFunction),
          onLeaveEditMode: (name == 'description' ? function() { $('mlab_new_block_top').style.height = '125px'; } : Prototype.emptyFunction),
          onComplete: function() {  $('flashcontent').refreshSong(); }
        });
      });
      new Ajax.InPlaceSelect('mlab_genre', '<%= song_path(@song, :authenticity_token => (form_authenticity_token if protect_against_forgery?)) %>', {
        lazyLoading: true,
        values_url: '/genres?ids',
        labels_url: '/genres',
        okText: 'OK',
        externalControl: 'mlab_genre_edit_button',
        externalControlOnly: true,
        ajaxOptions: { method: 'PUT' },
        paramName: 'song[genre_id]',
        onComplete: function() { $('flashcontent').refreshSong(); }
      });
      new Ajax.InPlaceSelect('mlab_tone', '<%= song_path(@song, :authenticity_token => (form_authenticity_token if protect_against_forgery?)) %>', {
        labels: <%= Myousica::TONES.inspect %>,
        values: <%= Myousica::TONES.inspect %>,
        lazyLoading: false,
        okText: 'OK',
        externalControl: 'mlab_tone_edit_button',
        externalControlOnly: true,
        ajaxOptions: { method: 'PUT' },
        paramName: 'song[tone]',
        onComplete: function() { $('flashcontent').refreshSong(); }
      });
    } else {
      var controls = $w('title original_author description genre tone').map(function(name) {
        return $('mlab_' + name + '_edit_button');
      });
      var alerter = function(event) {
        event.stop();
        alert('Log in or sign up to edit!');
      };

      controls.invoke('observe', 'click', alerter);
      Event.observe(window, 'unload', function() {
        controls.invoke('stopObserving', 'click', alerter);
      });
    }
  });

  function refreshTopPane() {
    new Ajax.Request('<%= multitrack_refresh_path(@song) %>', {method: 'get'});
  }

  function setFlashHeight( height ) {
    $('flashcontent').style.height = height.toString() + 'px';
  }

  function isLoggerAvailable() {
    var isfb = false; try { isfb = console.log != undefined; } catch( e ) {}; return( isfb );
  }

  var flashvars = {
    serverPath: '<%= APPLICATION[:url] %>',
    settingsXMLPath: '<%= multitrack_config_path %>',
    <%- if logged_in? && current_user.is_admin? -%>
    isLogEnabled: true,
    isServiceDumpEnabled: true,
    <%- end -%>
    loadSong: <%= @edit ? 'true' : 'false' %>,
    songID: <%= @song.id || 0 %>
  };
  var params = { wmode: 'transparent' };
  var attributes = { name: 'multitrackObject' };
  
  swfobject.embedSWF( '/multitrack/Adelao_Myousica_Multitrack_Editor.swf', 'flashcontent', '978', '100%', '9.0.28', '/expressInstall.swf', flashvars, params, attributes );

// ]]></script>

<div id="mlab_new_block_top" style="height: 125px;"><!-- dynamic -->
	<div id="mlab_new_icons_container">
		<div class="mlab_icon_mlab"><%= image_tag 'mlab_icon.jpg' %></div>
	</div>
	<div id="mlab_details_container">
		<div class="mlab_detail_row">
			<div class="mlab_labels_left">
				<!-- inplace editing -->
				<p class="mlab_label">New project name: <a href="#" id="mlab_title_edit_button">[edit]</a></p>
				<p class="mlab_title_big" id="mlab_title"><%= @song.title || 'Project title' %></p>
			</div>
			<div class="float-left">
				<!-- inplace editing -->
				<p class="mlab_label">Author: <a href="#" id="mlab_original_author_edit_button">[edit]</a></p>
				<p class="mlab_title_big_italic" id="mlab_original_author"><%= @song.original_author || 'Project author' %></p>
			</div>
			<div class="mlab_user_avatar">
				<% if logged_in? %>
					<%= avatar_image current_user, :small %>
				<% else %>
					<%= image_tag 'default_avatars/avatar_small.gif' %>
				<% end %>
			</div>
			<div class="mlab_labels_right">
				<div class="mlab_runtime">					
					<!-- dynamic -->
					<p class="mlab_label">Runtime:</p>
					<p class="mlab_title_big" id="mlab_runtime"><%= @song.length %></p>
				</div>
				<div class="mlab_runtime">
					<!-- dynamic -->
					<p class="mlab_label">Tracks:</p>
					<p class="mlab_title_big" id="mlab_tracks"><%= @song.tracks.count %></p>
				</div>
			</div>
		</div>
		<div class="mlab_detail_row">
			<div class="mlab_labels_left">
				<!-- inplace editing -->
				<p class="mlab_label">Note: <a href="#" id="mlab_description_edit_button">[edit]</a></p>
				<p class="mlab_small_text" id="mlab_description"><%=h @song.description %></p>
			</div>
			<div class="float-left">
				<!-- inplace select -->
				<p class="mlab_label">Genre: <a href="#" id="mlab_genre_edit_button">[edit]</a></p></p>
				<p class="mlab_title_big_italic" id="mlab_genre"><%= @song.genre ? @song.genre.name : '' %></p>
			</div>
			<div class="mlab_labels_right">
				<!-- inplace select -->
				<p class="mlab_label">Tone: <a href="#" id="mlab_tone_edit_button">[edit]</a></p>
				<p class="mlab_title_big_italic" id="mlab_tone"><%= @song.tone %></p>
			</div>
		</div>
	</div>
</div>

<div id="flashcontent"></div>
