<tr>
	<td><%= link_to track.id, admin_track_path(track), :class => 'edit-link' %></td>
	<td><%= track.title %></td>
	<td><%= track.instrument.description %></td>
	<td><%= track.tonality %></td>
	<td><%= link_to track.parent_song.title, admin_song_path(track.parent_song), :class => 'edit-link' if track.parent_song %></td>
</tr>
