<a class="close-edit" href="#">close</a>
<h2>editing track <%= @track.id %></h2>
<%= error_messages_for :track %>
<% edit_form_for @track, :url => admin_track_url(@track) do |f| %>
<dl>
	<dt>title</dt>
	<dd><%= f.text_field :title %></dd>

	<dt>description</dt>
	<dd><%= f.text_field :description %></dd>

	<dt>user</dt>
	<dd><%= f.select :user_id, User.find(:all, :select => 'id,login', :conditions => 'activated_at IS NOT NULL', :order => 'login').map{|s| [s.login,s.id]}, :include_blank => true %></dd>

	<dt>parent song</dt>
	<dd><%= f.select :song_id, Song.find(:all, :select => 'id,title', :include => :genre, :conditions => ['published = ?', true], :order => 'title').map{|s| ["#{s.title} (#{s.genre.name})", s.id]}, :include_blank => true %></dd>

	<dt>mixed songs</dt>
	<dd><%= @track.songs.find(:all, :order => 'title').map { |song| edit_link_to("#{song.id} #{song.title}", admin_song_path(song)) }.join('<br/>') %></p></dd>

	<dt>tone</dt>
	<dd><%= f.text_field :tonality %></dd>

	<dt>instrument</dt>
	<dd><%= f.select :instrument_id, Instrument.find(:all, :order => 'description').map { |i| [i.description, i.id] }, :include_blank => true %></dd>

	<dt>filename</dt>
	<dd><%= f.text_field :filename %></dd>

	<dt>bpm</dt>
	<dd><%= f.text_field :bpm %></dd>

	<dt>seconds</dt>
	<dd><%= f.text_field :seconds %></dd>

	<dt>created at</dt>
	<dd><%= @track.created_at %></dd>

	<dt>updated at</dt>
	<dd><%= @track.updated_at %></dd>

	<dt>rating</dt>
	<dd><%= @track.rating_avg.to_f %></dd>
</dl>
<%= submit_tag 'submit' %>
<% end %>

<% form_for 'track', :url => upload_admin_track_path, :html => { :id => 'track-upload-form', :multipart => true, :target => 'track-upload-iframe', :method => 'post', :onsubmit => "$('track-upload-iframe').show();" } do %>
	upload: <%= file_field_tag :upload %>
	<%= submit_tag 'go' %><br/>
	<%= hidden_field_tag 'worker' %>
	<div class="container" style="width: 400px; height: 100px; display: none"><%= image_tag 'spinner.gif' %></div>
	<iframe name="track-upload-iframe" id="track-upload-iframe" src="/spinner.html" style="width: 40px; height: 40px; display:none;"></iframe>
<% end %>

<% unless @track.new_record? %>
	<% edit_form_for @track, :url => admin_track_url(@track), :method => 'delete' do %>
		<%= submit_tag 'delete', :confirm => 'sure?!' %>
	<% end %>
<% end %>
