<a class="close-edit" href="#">close</a>
<h2>editing track #<%= @track.id %></h2>
<% remote_form_for @track, :url => admin_track_url(@track), :update => 'editing' do |f| %>
<dl>
	<dt>title</dt>
	<dd><%= f.text_field :title %></dd>

	<dt>description</dt>
	<dd><%= f.text_field :description %></dd>

	<dt>song</dt>
	<dd><%= link_to(@track.parent_song.title, admin_song_path(@track.parent_song), :class => 'edit-link') if @track.parent_song %></dd>

	<dt>tone</dt>
	<dd><%= f.text_field :tonality %></dd>

	<dt>instrument</dt>
	<dd><%= select :track, :instrument_id, Instrument.find(:all).map { |i| [i.description, i.id] } %></dd>

	<dt>filename</dt>
	<dd><%= f.text_field :filename %></dd>

	<dt>bpm</dt>
	<dd><%= f.text_field :bpm %></dd>

	<dt>seconds</dt>
	<dd><%= f.text_field :seconds %></dd>

	<dt>created at</dt>
	<dd><%= @track.created_at %></dd>

	<dt>updated at</dt>
	<dd><%= @track.updated_at %></dd>

	<dt>rating</dt>
	<dd><%= @track.rating_avg.to_f %></dd>
</dl>
<%= submit_tag 'submit' %>
<% end %>
