<a class="close-edit" href="#">close</a>
<h2>editing track <%= @track.id %></h2>
<%= error_messages_for :track %>
<% edit_form_for @track, :url => admin_track_url(@track) do |f| %>
<dl>
	<dt>title</dt>
	<dd><%= f.text_field :title %></dd>

	<dt>description</dt>
	<dd><%= f.text_field :description %></dd>

	<dt>user</dt>
	<dd><%= f.select :user_id, User.find(:all, :select => 'id,login', :conditions => 'activated_at IS NOT NULL').map{|s| [s.login,s.id]}, :include_blank => true %></dd>

	<dt>parent song</dt>
	<dd><%= f.select :song_id, Song.find(:all, :select => 'id,title', :conditions => ['published = ?', true]).map{|s| [s.title,s.id]}, :include_blank => true %></dd>

	<dt>mixed songs</dt>
	<dd><%= @track.songs.find(:all, :order => 'id').map { |song| edit_link_to("#{song.id} #{song.title}", admin_song_path(song)) }.join('<br/>') %></p></dd>

	<dt>tone</dt>
	<dd><%= f.text_field :tonality %></dd>

	<dt>instrument</dt>
	<dd><%= f.select :instrument_id, Instrument.find(:all, :order => 'description').map { |i| [i.description, i.id] }, :include_blank => true %></dd>

	<dt>filename</dt>
	<dd><%= f.text_field :filename %></dd>

	<dt>bpm</dt>
	<dd><%= f.text_field :bpm %></dd>

	<dt>seconds</dt>
	<dd><%= f.text_field :seconds %></dd>

	<dt>created at</dt>
	<dd><%= @track.created_at %></dd>

	<dt>updated at</dt>
	<dd><%= @track.updated_at %></dd>

	<dt>rating</dt>
	<dd><%= @track.rating_avg.to_f %></dd>
</dl>
<%= submit_tag 'submit' %>
<% end %>

<% form_for 'track', :url => "#{APPLICATION[:media_url]}upload", :html => { :id => 'track-upload-form', :multipart => true, :target => 'track-upload-iframe', :onsubmit => "$('track-upload-iframe').show()", :method => 'post' } do |f| %>
	upload: <%= file_field_tag :upload %>
	<%= f.submit 'go' %><br/>
	<iframe name="track-upload-iframe" id="track-upload-iframe" src="/spinner.html" style="width: 600px; height: 200px; display: none"></iframe>
<% end %>

<% unless @track.new_record? %>
	<% edit_form_for @track, :url => admin_track_url(@track), :method => 'delete' do %>
		<%= submit_tag 'delete', :confirm => 'sure?!' %>
	<% end %>
<% end %>
