<tr>
	<td><%= edit_link_to help.id, admin_help_page_path(help) %></td>
	<td><%= help.position %></td>
	<td><%= help.title %></td>
	<td><%= h truncate(help.body, 40) %></td>
	<td>
		<%= link_to_remote ' up ', :url => rearrange_admin_help_page_path(help, :move => 'up'), :method => :put, :update => 'admin_content' %> -
		<%= link_to_remote 'down', :url => rearrange_admin_help_page_path(help, :move => 'down'), :method => :put, :update => 'admin_content' %>
	</td>
</tr>

