<script type="text/javascript">// <![CDATA[ 
	function isLoggerAvailable() {
		var isfb = false; try { isfb = console.log != undefined; } catch( e ) {}; return( isfb );
	}

	var flashvars = {
		serverPath: '<%= APPLICATION[:url] %>',
		soundLength: <%= @playable.seconds %>,
		soundID: <%= @playable.id %>,
		soundType: '<%= @playable.class.name.underscore %>',
		soundPath: '<%= escape_javascript @playable.public_filename %>',
		wavePath: '<%= escape_javascript @waveform %>',
		title: '<%= escape_javascript @playable.title %>',
		author: '<%= escape_javascript @playable.original_author %>',
		genre: '<%= escape_javascript @playable.genre.name rescue nil %>',
		user: '<%= escape_javascript @playable.user.login rescue nil %>',
		avatar: '<%= escape_javascript @playable.user.avatar.public_filename(:small) rescue "/images/default_avatars/avatar_small.gif" %>'
	};

	var params = { wmode: 'transparent' };
	var attributes = { name: 'playerObject' };
	swfobject.embedSWF( '/players/Adelao_Myousica_Player.swf', 'myousica_player', '744', '51', '9.0.0', '/expressInstall.swf', flashvars, params, attributes );
// ]]></script> 

<div id="myousica_player"> </div> 
