<div class="people-list clear-block">
	<p class="float-right">
    <% if @coolest.previous_page %>
			<%= link_to image_tag('move_arrow_left.png'), coolest_bands_and_deejays_path(:page => @coolest.previous_page), :class => 'navigation' %>
		<% else %>
			<%= image_tag('move_arrow_left.png', :class => 'faded') %>
	  <% end %>
    <% if @coolest.next_page %>
			<%= link_to image_tag('move_arrow_right.png'), coolest_bands_and_deejays_path(:page => @coolest.next_page), :class => 'navigation' %>
		<% else %>
			<%= image_tag('move_arrow_right.png', :class => 'faded') %>
	  <% end %>
  </p>
	<div id="coolest-spinner-top" class="float-right" style="display:none;">
		<%= image_tag 'spinner.gif' %>
	</div>
  <h1>COOLEST</h1>
  <div class="top-box clear-block">
	  <div class="bottom-box clear-block">
      <%= render :partial => 'shared/person', :collection => @coolest, :locals => {:color => "blue"} %>			  
	  </div>
  </div>
	<p class="float-right">
    <% if @coolest.previous_page %>
			<%= link_to image_tag('move_arrow_left.png'), coolest_bands_and_deejays_path(:page => @coolest.previous_page), :class => 'navigation' %>
		<% else %>
			<%= image_tag('move_arrow_left.png', :class => 'faded') %>
	  <% end %>
    <% if @coolest.next_page %>
			<%= link_to image_tag('move_arrow_right.png'), coolest_bands_and_deejays_path(:page => @coolest.next_page), :class => 'navigation' %>
		<% else %>
			<%= image_tag('move_arrow_right.png', :class => 'faded') %>
	  <% end %>
  </p>
	<div id="coolest-spinner-bottom" class="float-right" style="display:none;">
		<%= image_tag 'spinner.gif' %>
	</div>

</div>
