<% title "Myousica - Bands & Deejays" %>
<% meta_description "Myousica is the first open music community. Play with thousands of bands & deejays, create a virtual band, record, mix and share your favourite songs" %>
<% javascript('simple-slider', 'refresh-block', 'loading', 'bands_and_deejays') %>
<div class="box-list one-col clear-block">
  <div id="coolest-spinner" style="display:none;">
  	<%= image_tag 'track-spinner-big.gif' %>
  </div>
  <div id="coolest-users">
  	<%= render :partial => 'coolest' %>
  </div>
</div>

<div class="box-list two-col clear-block">
  <div id="best-spinner" style="display:none;">
  	<%= image_tag 'track-spinner-big.gif' %>
  </div>
  <div id="best-users">
  	<%= render :partial => 'best' %>
  </div>
</div>

<div class="box-list one-col clear-block clear-float">
  <div id="prolific-spinner" style="display:none;">
  	<%= image_tag 'track-spinner-big.gif' %>
  </div>
  <div id="prolific-users">
  	<%= render :partial => 'prolific' %>
  </div>
  <div id="newest-spinner" style="display:none;">
		<%= image_tag 'track-spinner-big.gif' %>
	</div>
	<div id="newest-users">
		<%= render :partial => 'newest' %>
	</div>
</div>



<div class="box-list two-col clear-block user-list-boxes">
  <div class="box-rounded-gray clear-block" id="most-admirers">
		<%= refresh_block_image_link :class => 'band', :type => 'admirer' %>
		<h1>MOST ADMIRERS</h1>
	  <div class="top-box clear-block refresh-container">
      <%= render :partial => 'users/most_admirers', :collection => @most_admired %>
		</div>
	</div>
	
  <div class="box-rounded-gray clear-block" id="coolest-mbands">
		<%= refresh_block_image_link :class => 'mband', :type => 'cool' %>
	  <h1>COOLEST M-BANDS</h1>
	  <div class="top-box clear-block refresh-container">
      <%= render :partial => 'mbands/coolest', :collection => @coolest_mbands %>
	  </div>
  </div>

	<div class="box-rounded-gray clear-block" id="most-instruments">
		<%= refresh_block_image_link :class => 'band', :type => 'instrument' %>
		<h1>MOST INSTRUMENTS</h1>
		<div class="top-box clear-block refresh-container">
      <%= render :partial => 'users/most_instruments', :collection => @most_instruments %>
		</div>
	</div>
</div>
