<% title "Myousica - Bands & Deejays" %>
<% meta_description "Myousica is the first open music community. Play with thousands of bands & deejays, create a virtual band, record, mix and share your favourite songs" %>
<% javascript('simple-slider', 'refresh-block', 'bands_and_deejays') %>
<div class="box-list one-col clear-block">
  <div class="people-list clear-block">
	  <h1>COOLEST</h1>
	  <div class="top-box clear-block">
		  <div class="bottom-box clear-block">
        <%= render :partial => 'shared/person', :collection => @coolest, :locals => {:color => "blue"} %>			  
		  </div>
	  </div>
  </div>
</div>

<div class="box-list two-col clear-block">
  <div class="bands-dj-list clear-block">
    <h1>BEST MYOUSICIANS</h1>
	  <div class="top-box clear-block">
		  <div class="bottom-box clear-block">
		    <%= render :partial => 'shared/band', :collection => @best_myousicians %>
		  </div>
	  </div>	
  </div>
</div>

<div class="box-list one-col clear-block clear-float">
  
  <div class="simple-list clear-block">
	  <h1>MOST SONGS</h1>
	  <div class="yellow-box top-box clear-block">
		  <div class="bottom-box clear-block">
        <%= render :partial => 'users/person_short', :collection => @prolific %>
		  </div>
	  </div>
  </div>

  <div class="simple-list yellow-box clear-block">
    <h1>NEWEST</h1>
    <div class="top-box clear-block">
	    <div class="bottom-box clear-block" id="newest-users">
        <%= render :partial => 'users/person_medium', :collection => @newest %>			
	    </div>
    </div>
  </div>		
  
</div>

<div class="box-list two-col clear-block user-list-boxes">
  <div class="box-rounded-gray clear-block" id="most-admirers">
		<%= refresh_block_image_link :class => 'band', :type => 'admirer' %>
		<h1>MOST ADMIRERS</h1>
	  <div class="top-box clear-block refresh-container">
      <%= render :partial => 'users/most_admirers', :collection => @most_admired %>
		</div>
	</div>
	
  <div class="box-rounded-gray clear-block" id="coolest-mbands">
		<%= refresh_block_image_link :class => 'mband', :type => 'cool' %>
	  <h1>COOLEST M-BANDS</h1>
	  <div class="top-box clear-block refresh-container">
      <%= render :partial => 'mbands/coolest', :collection => @coolest_mbands %>
	  </div>
  </div>

	<div class="box-rounded-gray clear-block" id="most-instruments">
		<%= refresh_block_image_link :class => 'band', :type => 'instrument' %>
		<h1>MOST INSTRUMENTS</h1>
		<div class="top-box clear-block refresh-container">
      <%= render :partial => 'users/most_instruments', :collection => @most_instruments %>
		</div>
	</div>
</div>
