<% form_for :avatar, :url => {:action => :create}, :html => {:multipart => true} do |f| %>
  <%= f.file_field :uploaded_data  %><br />
  <%= submit_tag 'Upload >>' %>
<% end %>
<%- if @saved -%>
  <script type="text/javascript" charset="utf-8">
    var image = window.opener.document.getElementById('user-avatar').down('.avatar');
    image.src = '<%= @avatar.public_filename(:big) %>';
  </script>  
<%- end -%>
<%- flash.each do |type, message| -%>
  <div class="<%= type %>"><%= message %></div>
<%- end -%>
