<div class="simple-list clear-block">
	<p class="float-right">
    <% if @newest.previous_page %>
			<%= link_to image_tag('move_arrow_left.png'), newest_music_path(:page => @newest.previous_page), :class => 'navigation' %>
		<% else %>
			<%= image_tag('move_arrow_left.png', :class => 'faded') %>
	  <% end %>
    <% if @newest.next_page %>
			<%= link_to image_tag('move_arrow_right.png'), newest_music_path(:page => @newest.next_page), :class => 'navigation' %>
		<% else %>
			<%= image_tag('move_arrow_right.png', :class => 'faded') %>
	  <% end %>
  </p>
	<div id="songs-spinner-top" class="float-right" style="display:none;">
		<%= image_tag 'spinner.gif' %>
	</div>
	<h1>NEWEST</h1>
	<div class="top-box clear-block clear-float">
		<div class="bottom-box clear-block newest-list">
			<%= render :partial => 'newest_song', :collection => @newest %>
		</div>
	</div>
	<p class="float-right">
    <% if @newest.previous_page %>
			<%= link_to image_tag('move_arrow_left.png'), newest_music_path(:page => @newest.previous_page), :class => 'navigation' %>
		<% else %>
			<%= image_tag('move_arrow_left.png', :class => 'faded') %>
	  <% end %>
    <% if @newest.next_page %>
			<%= link_to image_tag('move_arrow_right.png'), newest_music_path(:page => @newest.next_page), :class => 'navigation' %>
		<% else %>
			<%= image_tag('move_arrow_right.png', :class => 'faded') %>
	  <% end %>
  </p>
	<div id="songs-spinner-bottom" class="float-right" style="display:none;">
		<%= image_tag 'spinner.gif' %>
	</div>
</div>			
