<div class="whiteblock-shadow clear-block">
  <%= breadcrumb %>
	<div class="box-list one-col clear-block">
	  <div class="simple-list green-box clear-block">
			<h1>BEST SONGS </h1>
			<div class="top-box clear-block">
				<div class="bottom-box clear-block">				
				  <%= render :partial => 'best_song', :collection => @best_songs %>
			  </div>
			</div>
		  </div>
	  </div>

	<div class="box-list semi-one-col clear-block">
		<div class="simple-list orange-box clear-block">
		<h1>MOST USED TRACKS</h1>
			<div class="top-box clear-block">
				<div class="bottom-box clear-block">
          			<%= render :partial => 'most_used_track', :collection => @most_used_tracks %>
				</div>
			</div>	
		</div>
	</div>
	
	
	<div class="box-list small-col clear-block">
		<div class="simple-list section-tags clear-block">
			<h1>GENERI</h1>
			<div class="top-box clear-block">
				<div class="bottom-box clear-block">
				  <div class="elements clear-block">
				    <%= render_tag_cloud Song, :genre, :name, {:limit => 12, :with_paragraphs => true} %>
				  <p class="centered"><img src="/images/banner_mband_small.gif" alt="" width="110" height="101" /></p>
				  </div>
				 </div>
			</div>
		</div>
	</div>
	


	<div class="box-list one-col clear-block clear-float">
		<div class="simple-list clear-block">
			<h1>NEWEST</h1>
			<div class="top-box clear-block">
				<div class="bottom-box clear-block">
				  <%= render :partial => 'newest_song', :collection => @newest_songs %>
				</div>
			</div>
		</div>

		<div class="simple-list clear-block">
		<h1>ANSWER</h1>
			<div class="top-box clear-block">
				<div class="bottom-box clear-block">
					<%= render :partial => 'answer', :collection => @newest_answers %>
				</div>
			</div>
		</div>		
		
	</div>
	
	<div class="box-list two-col clear-block" id="genres">
	  <%= render :partial => 'genres' %>
	</div>
	  
    </div>
  </div>
