			<div class="band_member" id="band_member_<%= band_member.id %>">
				<div class="band_member_details">
					<%= instrument_icon band_member.instrument, :id => "band_member_instrument_#{band_member.instrument.id}" %>
					<%= avatar_image band_member, :icon, :class => :avatar %>
				</div>
				<span class="band_member_modify">
					<a class="edit" href="#">[edit]</a>
					<a class="delete" href="#">[del]</a>
				</span>
				<span class="band_member_name edit"><%= member_name(band_member) %></span>
				<span class="band_member_country edit"><%= band_member.country %></span>
				<%= hidden_field_tag 'linked_to', band_member.linked_user_id, :class => 'link' %>
			</div>
