<div class="user-scroller clear-block">  
	<h1><%= title %><span class="no-bold">(<%= collection.size %>)</span></h1>
	<div class="<%= collection.size.zero? ? 'invisible' : 'clear-block' %>">
		<div id="<%= id %>-scroller" class="user-scroller">
			<div class="float-left">
				<a href="#" class="slide-prev"><%= image_tag 'arrow_grey_left.gif' %></a>
			</div>
			<div class="slide-container">
				<div style="clip: rect(0px 235px 40px 0px); width: 235px; height: 40px; position: relative; overflow:hidden;">
					<div class="slide-contents" style="padding: 0; left: 0px; width:<%= collection.size * 45 %>px;">
						<% collection.each do |user| -%>
							<div class="float-left" style="width: 45px; height: 40px;">
								<%= status(user, :class => 'no-tip') %>
								<%= link_to(avatar_image(user, :small, :size => '40x40'), user_path(user)) %>
							</div>
						<% end -%>
					</div>
				</div>
			</div>
			<div class="float-left">
				<a href="#" class="slide-next"><%= image_tag 'arrow_grey_right.gif' %></a>
			</div>
		</div>
	</div>
</div>
