<tr>
	<td><%= edit_link_to user.id, admin_user_path(user) %></td>
	<td><%= user.login %></td>
	<td><%= user.nickname %></td>
	<td><%= user.class.name %></td>
	<td><%= Song.count :conditions => ['user_id = ? AND published = ?', user.id, true] %></td>
	<td><%= Track.count :conditions => ['user_id = ? AND published = ?', user.id, true] %></td>
</tr>
