<item>
<title><%= podcast_item.title %></title>
<itunes:author><%= h podcast_item.user.nickname %></itunes:author>
<itunes:subtitle><%= h podcast_item.original_author %></itunes:subtitle>
<itunes:summary><%= h podcast_item.description %></itunes:summary>
<enclosure url="<%= formatted_download_song_url podcast_item, 'mp3' %>" length="<%= File.size(File.join(APPLICATION[:media_path], podcast_item.filename)) rescue 0 %>" type="audio/mpeg" />
<guid><%= download_song_url podcast_item %></guid>
<pubDate><%= podcast_item.created_at.rfc2822 %></pubDate>
<itunes:duration><%= podcast_item.length %></itunes:duration>
<itunes:keywords></itunes:keywords>
</item>
