<!-- USER INFO EDIT -->
<div class="clear"> </div>
<div class="iam_box fleft">
	<a href="#" class="edit_lists none fright">Cancel</a>
	<h2>I'm</h2>
	<div class="inner">
		<%- form_for @user do |f| -%>
			<fieldset>
				<dl class="info">
					<dt>Sex:</dt>
					<dd><%= f.select :gender, [['Male', 'male'], ['Female', 'female']], :include_blank => true %></dd>
					<dt>Country:</dt>
					<dd><%= f.country_select :country, '', :include_blank => true %>
					<dt>Date of birth:</dt>
					<dd><%= f.date_select :birth_date, :start_year => 1930, :end_year => Time.now.year - 15, :use_short_month => true %></dd>
					<!-- <label for="user_email">E-mail:</label> e-mail is not editable! -->
					<%#= f.text_field :email, :class => 'text ui-widget-content', :style => 'margin-bottom:0' %>
				</dl>
				<span class="s13 heading block">Biography</span>
				<%= f.text_area :biography, :style => 'margin-bottom:0', :rows => 5, :cols => 40 %>

				<div class="fright">
					<input type="submit" value="Save personal infos" class="margin30 mailbox_send login_button" />	
					<input type="submit" class="margin30 mailbox_cancel cancel_button gray_spec" value="Cancel" />	
				</div>
			</fieldset>			
		<%- end #form -%>
	</div>
	<script type="text/javascript">
		$(function() {
			$('#user_biography').simpleautogrow();

			$('div.iam_box').replaceOnClickWith({
				anchor: 'a.edit_lists, input.cancel_button',
				url: "<%= user_url(@user, :partial => 'info/basic') %>"
			});
		});
	</script>
</div>
