<!-- USER INFO EDIT -->
<div class="clear"> </div>
<div class="iam_box fleft">
	<a href="#" class="edit_lists none fright">Cancel</a>
	<h2>I'm</h2>
	<div class="inner">
		<%- form_for @user do |f| -%>
			<fieldset>
				<dl class="info">
					<dt>Sex:</dt>
					<dd><%= f.select :gender, %w(Male Female), :include_blank => true %></dd>
					<dt>Country:</dt>
					<dd><%= f.country_select :country %>
					<dt>Date of birth:</dt>
					<dd><%= f.date_select :birth_date, :start_year => 1930, :end_year => Time.now.year - 15, :user_short_month => true %></dd>
					<label for="user_email">E-mail:</label>
					<%= f.text_field :email, :class => 'text ui-widget-content', :style => 'margin-bottom:0' %>
				</dl>
				<span class="s13 heading block">Biography</span>
				<%= f.text_area :biography, :style => 'margin-bottom:0' %>

				<input type="submit" class="margin30 mailbox_cancel cancel_button gray_spec fright" value="Cancel" />	
				<input type="submit" value="Save personal infos" class="margin30 mailbox_send login_button fright" />
				<div class="fright icons16 loader_white" style="margin:32px 5px 0 0"></div>	
		
			</fieldset>			
		<%- end #form -%>
	</div>
	<script type="text/javascript">
		$(function() {
			$('#user_biography').simpleautogrow();

			$('div.iam_box').replaceOnClickWith({
				anchor: 'a.edit_lists',
				url: "<%= user_url(@user, :partial => 'basic') %>"
			});
		});
	</script>
</div>
