<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>untitled</title>
  <meta name="generator" content="TextMate http://macromates.com/">
  <meta name="author" content="killy">
  <!-- Date: 2008-07-21 -->
  <%= stylesheet_link_tag 'style', 'lightview' %>
  <%= load_prototype %>
	<%= javascript_include_tag 'lightview' %>
</head>
<body>

<div class="user-choose-type">
<h1>Welcome Aboard!</h1>
<h2>Which kind of Myousician are you?</h2>
<p class="choose-hint">Choose your type clicking an icon</p>

  <div class="user-choose-type-icons">
    <div class="hover-icons active" id="user-icon">
      <%= image_tag 'change_user_big.png', :onmouseover => %|[$('band-description'), $('dj-description')].invoke('hide');  $('user-description').show();
                                                             [$('band-icon'), $('dj-icon')].invoke('removeClassName', 'active'); $('user-icon').addClassName('active')|,
                                           :onclick => %|$('type').value = 'user'; $('form').submit(); this.onclick = ''|
      %>
    </div>
    <div class="hover-icons" id="band-icon">  
      <%= image_tag 'change_band_big.png', :onmouseover => %|[$('user-description'), $('dj-description')].invoke('hide');  $('band-description').show();
                                                             [$('user-icon'), $('dj-icon')].invoke('removeClassName', 'active'); $('band-icon').addClassName('active')|,
                                           :onclick => %|$('type').value = 'band'; $('form').submit(); this.onclick = ''|
      %>
    </div>
    <div class="hover-icons" id="dj-icon">  
      <%= image_tag 'change_dj_big.png',   :onmouseover => %|[$('user-description'), $('band-description')].invoke('hide');  $('dj-description').show();
                                                             [$('user-icon'), $('band-icon')].invoke('removeClassName', 'active'); $('dj-icon').addClassName('active')|,
                                           :onclick => %|$('type').value = 'dj'; $('form').submit(); this.onclick = ''|
      %>
    </div>
  </div>

  <%- form_tag(switch_type_user_path(@user), :method => 'put', :id => 'form') do -%>
    <%= hidden_field_tag 'type', 'user', :id => 'type' %>
  <%- end -%>

  <div class="type-description clear-block">
    <p class="hover-description" id="user-description">
      As a USER  you can use our Multitrack (M-Lab&copy;) to upload or record live your songs and tracks, form or join Virtual Bands (M-Bands&copy;); admire, become friend and talk to other Myousicians from all over the World.
    </p>
    <p class="hover-description" id="band-description" style="display:none">
      A Band can use our Multitrack (M-Lab&copy;) to upload or record live songs and tracks; admire, become friends and talk to other Myousicians. Remember a band cannot form or join Virtual Bands (M-Bands&copy;). 
    </p>
    <p class="hover-description" id="dj-description" style="display:none">
      As a DJ you can use our Multitrack (M-Lab&copy;) to upload or record live your songs and tracks, form or join Virtual Bands (M-Bands&copy;); admire, become friend and talk to other Myousicians.
    </p>
  </div>

  <p class="choose-hint">
		You can <strong><a href="#" onclick="parent.window.Lightview.hide()">Skip</a></strong> for now, and switch your user type later using the icons on top of the My Page.</p>
</div>
</body>
</html>
