<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
	<head>
		<%= stylesheet_link_tag *%w[style] %>
		<%= javascript_include_tag *%w[protoculous] %>
		<title>myousica - switch user type</title>
	</head>
	<body>
		<div class="user-switch">
			<h1>Change user type</h1>
			<div class="float-left from"><%= image_tag "change_#{@user.class.name.downcase}_big.png" %></div>
			<div class="float-right to"><%= image_tag "change_#{@type.downcase}_big.png" %></div>
			<div class="centered"><%= image_tag "change_type_arrow.png" %></div>
			<div class="clear-block clear-float container">
				<h2>You are switching your user type to <%= @type.upcase %>:</h2>
				<%= yield %>
				<%- form_tag :url => switch_type_user_url(@user) do -%>
					<%= hidden_field_tag 'type', @type.downcase %>
					<%= hidden_field_tag '_method', 'put' %>
					<div id="input">
						<label for="nickname">Enter your new <%= @type.upcase %> nick name</label>
						<%= text_field_tag 'nickname', @user.nickname || @user.login, :class => 'text', :maxlength => 20 %>
					</div>
					<input id="button" type="image" src="/images/button_send.png" />
				<%- end -%>
				<%- if flash[:error] -%>
					<p class="errors"><%= image_tag 'alert_ico.gif' %> <%= flash[:error] %></p>
				<%- end -%>
			</div>
		</div>
	</body>
</html>
