<div class="user-switch">
	<div class="float-left"><%= image_tag "#{@user.class.name.downcase}_page_label.png" %></div>
	<div class="float-right"><%= image_tag "#{@type.downcase}_page_label.png" %></div>
	<div class="clear-block clear-float">
		<p>
		you are switching your user type to <em><%= @type.upcase %></em>:</p>
		<%= yield %>
		<%- form_remote_tag :url => switch_type_user_url(@user), :method => 'put',
				 :loading => "$('switch-spinner').show()", :update => 'lightwindow_contents' do -%>
			<%= hidden_field_tag 'type', @type.downcase %>
			<p style="text-align: center">
				<label for="nickname">enter your new <em><%= @type.upcase %></em> nick name</label><br/>
				<%= text_field_tag 'nickname', @user.nickname || @user.login, :class => 'text', :maxlength => 20 %>
			</p>
			<div id="switch-spinner" style="display:none">
				<%= image_tag 'spinner.gif' %>
			</div>
			<p style="text-align:center">
				<input type="image" src="/images/button_send.png" />
			</p>
		<%- end -%>
		<%- if flash[:error] -%>
			<p><%= image_tag 'alert_ico.gif' %> <%= flash[:error] %></p>
		<%- end -%>
	</div>
</div>

