<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
	<head>
		<%= stylesheet_link_tag *%w[style iepngfix] %>
		<%= javascript_include_tag *%w[protoculous] %>
		<title>myousica - switch user type</title>
	</head>
	<body>
		<div class="user-switch">
			<div class="float-left"><%= image_tag "#{@user.class.name.downcase}_page_label.png" %></div>
			<div class="float-right"><%= image_tag "#{@type.downcase}_page_label.png" %></div>
			<div class="centered"><%= image_tag "change_type_arrow.png" %></div>
			<div class="clear-block clear-float">
				<p>
				you are switching your user type to <em><%= @type.upcase %></em>:</p>
				<%= yield %>
				<%- form_tag :url => switch_type_user_url(@user) do -%>
					<%= hidden_field_tag 'type', @type.downcase %>
					<%= hidden_field_tag '_method', 'put' %>
					<p style="text-align: center">
						<label for="nickname">enter your new <em><%= @type.upcase %></em> nick name</label><br/>
						<%= text_field_tag 'nickname', @user.nickname || @user.login, :class => 'text', :maxlength => 20 %>
					</p>
					<p style="text-align:center">
						<input type="image" src="/images/button_send.png" />
					</p>
				<%- end -%>
				<%- if flash[:error] -%>
					<p><%= image_tag 'alert_ico.gif' %> <%= flash[:error] %></p>
				<%- end -%>
			</div>
		</div>
	</body>
</html>
	
