<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

  <title>MEWSIC</title>

  <%= stylesheet_link_tag *%w( type layout color instruments appbar ) %>

  <%= jquery_javascript_tags %>
  <%= jquery_stylesheet_tags %>

  <script type="text/javascript" src="javascripts/jquery.corner.js"></script>

  <script type="text/javascript" src="javascripts/jquery.MetaData.js"></script>
  <script type="text/javascript" src="javascripts/jquery.rating.pack.js"></script>
  <link rel="stylesheet" type="text/css" href="stylesheets/jquery.rating.css" />
  
  <script type="text/javascript" src="javascripts/jquery.dataTables.min.js"></script>  
  <link rel="stylesheet" type="text/css" href="stylesheets/dataTables.css" />    

  <%= javascript_include_tag 'application' %>

  <%= yield :head %>

</head>
<body>

<!-- HEADER -->
<div id="header">
  <div class="logo">
    <%= clickable_logo 'header_logo.jpg' %>
  </div>
  <ul class="navigation fleft">
    <li><%= link_to 'People', users_path, :class => active_class('users') %></li>
    <li><%= link_to 'Bands', mbands_path, :class => active_class('mbands') %> </li>
    <li><%= link_to 'Songs', songs_path, :class => active_class('songs') %></li>
    <li><%= link_to 'Instruments', tracks_path, :class => active_class('tracks') %></li>
    <li><%= link_to 'Answers', answers_path,  :class => active_class('answers') %></li>
  </ul>
  
  <ul class="login fright">
    <li><a href="" class="join_button">JOIN NOW</a></li>
    <li>or connect with <a href="" class="facebook">Facebook</a></li>
    <li><div class="divider"> </div></li>
    <li><a href="" class="login_button">LOGIN</a></li>
  </ul>  
  <div class="clear"> </div>
  <div id="breadcrumb_bar">
    <div class="corner_lt_blue fleft"> </div>
    <div class="bar_rp_blue fleft"> </div>
    <div class="corner_rt_blue fleft"> </div>
  </div>
</div>
<!-- END HEADER -->

<!-- CONTENT -->
<div id="content">

  <%= yield %>

</div>

<div id="bottom_bar">
  <div class="corner_lb fleft"> </div>
  <div class="bottom_rp fleft"> </div>
  <div class="corner_rb fleft"> </div>
</div>
<!-- END CONTENT -->

<div class="clear"> </div>

<%= render :partial => 'shared/application_bar' %>
<%= render :partial => 'shared/footer' %>

</body>
</html>
