<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="description" content="<%= render_meta_description || "Myousica is the first open music community. Play with thousands of myousicians, create a virtual band, record, mix and share your favourite songs." %>" />
  <meta name="keywords" content="music,multitrack,record,live,music,open music,creative commons,community,web2.0,play,share,mp3" />
  <link rel="shortcut icon" href="/favicon.ico" type="image/vnd.microsoft.icon"/>
  <title><%= render_title || "Myousica - Play and Share" %></title>
  <%= stylesheet_link_tag *%w[style lightview prototip starbox] %>  
  <%= load_prototype %>
	<!--[if lt IE 4]><script defer type="text/javascript" src="/javascripts/unitpngfix.js"></script><![endif]-->
	<!--[if lt IE 7]><%= stylesheet_link_tag 'IEplayerfix' %><![endif]-->
	<%= javascript_include_tag *%w[picture_slider simple-slider player mlab prototip tooltips starbox rating pagination swfobject search_box flash lightview application] %>
	<%#= firebug_lite %>
  <%= yield :head %>
  <link rel="shortcut icon" href="/favicon.ico" type="image/vnd.microsoft.icon"/>
</head>
<body>
  <%= hidden_field_tag 'current-user-id', current_user.id if logged_in?  %>
  <%= hidden_field_tag 'authenticity-token', form_authenticity_token if protect_against_forgery? %>  
  <div id="header" class="page-width clear-block">
    <%= render :partial => 'shared/top_menu' %>
		<div id="logo">
			<div id="beta"><%= image_tag 'beta.gif', :alt => "We're in beta, of course!" %></div>
			<%= clickable_logo %>
		</div>
    <%= render :partial => 'shared/nav_menu' %>
  </div>
  <div class="bg-body">
    <div class="bg-top-body clear-block"></div>
    <div id="content-body" class="page-width clear-block">
      <div id="rightcol">
        <%#= render :partial => 'shared/instructions_banner' %>
        <%= render_sidebar %>
      </div>      
      <%= yield :top %>            
      <div class="whiteblock-shadow clear-block">
				<%= render :partial => 'shared/flash', :locals => {:flash => flash} %>
				<%= render_breadcrumb %>
				<%= yield %>
      </div>
    </div>
    <div class="bg-bottom-body"></div>
  </div>
  <%= render :partial => 'shared/footer' %>
	<div id="player-container" style="display:none">
		<div class="close-link-container">
			<a class="close-link" href="#" onclick="Player.instance.close();return false;"><%= image_tag 'button_player_close.gif', :alt => 'CLOSE' %></a>
		</div>
		<div class="content"> </div>
  </div>
  <%= google_analytics_load %>
  <%= google_analytics_track @landing_origin %>
</body>
</html>
