<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

  <title>MEWSIC</title>

  <%= stylesheet_link_tag *%w( type layout color instruments appbar profile ) %>

  <%= jquery_javascript_tags %>
  <%= jquery_stylesheet_tags %>

  <%= javascript_include_tag *%w( jquery.corner.js jquery.simpleautogrow.js jquery.MetaData.js ) %>

  <%= javascript_include_tag *%w( jquery.rating.pack.js jquery.dataTables.min.js jquery.Jcrop.pack.js ) %>
  <%= stylesheet_link_tag    *%w( jquery.rating.css     dataTables.css           jquery.Jcrop.css     ) %>

  <!--script type="text/javascript" src="http://static.ak.connect.facebook.com/js/api_lib/v0.4/FeatureLoader.js.php" defer="true"></script-->
  <%= javascript_include_tag *%w( application home ) %>

  <%= yield :head %>

</head>
<body>


<!-- HEADER -->
<div id="header">
  <div class="logo">
    <%= clickable_logo 'header_logo.jpg' %>
  </div>
  <ul class="navigation fleft">
    <li><%= link_to 'People', users_path, :class => active_class('users') %></li>
    <li><%= link_to 'Bands', mbands_path, :class => active_class('mbands') %> </li>
    <li><%= link_to 'Songs', songs_path, :class => active_class('songs') %></li>
    <li><%= link_to 'Instruments', tracks_path, :class => active_class('tracks') %></li>
    <li><%= link_to 'Answers', answers_path,  :class => active_class('answers') %></li>
  </ul>
  
	<ul class="login fright">
  <% unless logged_in? %>
		<li><a href="#join" id="create-user" class="join_button">JOIN NOW</a></li>
		<li id="facebook-connect-button">or <fb:login-button size="small" background="light"></fb:login-button> Connect with <a href="" class="facebook">Facebook</a></li>
		<li><a href="profile.php" class="login_button">LOGIN</a></li>
  <% else %>
    <% if fb_connected? %>
      <li><fb:profile-pic uid="<%= current_user.facebook_uid %>" size="square" facebook-logo="true"></fb:profile-pic></li>
      <li><fb:name uid="<%= current_user.facebook_uid %>" useyou="false" capitalize="true" /></li>
    <% else %>
      <li><%= image_tag current_user.avatar.public_filename(:icon) %></li>
      <li>Hi, <%= current_user.login %>!</li>
    <% end %>
  <% end %>
	</ul>
    
  <div class="clear"> </div>
  <div id="breadcrumb_bar">
    <div class="corner_lt_blue fleft"> </div>
    <div class="bar_rp_blue fleft"> </div>
    <div class="corner_rt_blue fleft"> </div>
  </div>
</div>
<!-- END HEADER -->

<%= render :partial => 'shared/dialogs' %>

<!-- CONTENT -->
<div id="content">

  <%= yield %>

</div>

<div id="bottom_bar">
  <div class="corner_lb fleft"> </div>
  <div class="bottom_rp fleft"> </div>
  <div class="corner_rb fleft"> </div>
</div>
<!-- END CONTENT -->

<div class="clear"> </div>

<%= render :partial => 'shared/application_bar' %>
<%= render :partial => 'shared/footer' %>

<script type="text/javascript">
  loadFacebookFeatures(<%= fb_connected? %>); // XXX REMOVE ME
</script>

</body>
</html>
