<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="shortcut icon" href="/favicon.ico" type="image/vnd.microsoft.icon"/>
  <title>Myousica - play and share</title>
  <%= stylesheet_link_tag *%w[style iepngfix lightwindow prototip] %>  
  <%= javascript_include_tag *%w[protoculous prototip picture_slider lightwindow rating mlab audio-player inplaceselect application] %>
  <%= javascript_include_tag 'login-box' unless logged_in? %>
  <%= yield :head %>
  <link rel="shortcut icon" href="/favicon.ico" type="image/vnd.microsoft.icon"/>
</head>
<body class="<%= body_class %>">
  <%= hidden_field_tag 'current-user-id', current_user.id if logged_in?  %>
  <%= hidden_field_tag 'authenticity-token', form_authenticity_token if protect_against_forgery? %>  
  <div id="header" class="page-width clear-block">
    <%= render :partial => 'shared/top_menu' %>
    <div id="logo" class="float-left"><%= clickable_logo %></div>
    <div id="beta"><%= image_tag 'beta.png', :title => 'beta!' %></div>
    <%= render :partial => 'shared/nav_menu' %>
  </div>
  <div class="bg-body">
    <div class="bg-top-body"></div>
    <div id="content-body" class="page-width clear-block">
      <div id="rightcol">
        <%= render :partial => 'shared/instructions_banner' %>
        <%= render_sidebar %>
      </div>      
      <%= yield :top %>            
      <div class="whiteblock-shadow clear-block">
        <div id="messages">
          <% flash.each do |name, message| -%>
            <div class="<%= name %>">
              <%= message %>
              <div class="close"></div>
            </div>
          <% end -%>
        </div>
        <%= render_breadcrumb %>
        <%= yield %>
      </div>
    </div>
    <div class="bg-bottom-body"></div>
  </div>
  <%= render :partial => 'shared/footer' %>
  <div id="player-container" style="display: none; position: fixed; bottom: 0; height: 100px; width: 100%; background: transparent url('/images/lightwindow/black-70.png');">
    <a href="#" onclick="Player.instance.close();return false;">CLOSE</a>
    <div class="content">
      
    </div>
  </div>
</body>
</html>
