<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="description" content="myousica.com is the first worldwide open music community. You can listen to unreleased versions of your favourite songs, record your own tracks, singing and playing live through our multitrack, edit and mix tracks from other myousicians, create your M-Band and jam with musicians and amateurs worldwide, post your ideas for others to play on" />
  <meta name="keywords" content="music,multitrack,record,live,music,open music,creative commons,community,web2.0,play,share,mp3" />
  <link rel="shortcut icon" href="/favicon.ico" type="image/vnd.microsoft.icon"/>
  <title>Myousica - play and share</title>
  <%= stylesheet_link_tag "style", "multitrack" %>     
  <%= load_prototype %>
  <%= javascript_include_tag *%w[swfobject inplaceselect flash application] %> 
  <%= yield :head %>
</head>
<body>
  <%= hidden_field_tag 'current-user-id', current_user.id if logged_in?  %>
  <%= hidden_field_tag 'authenticity-token', form_authenticity_token if protect_against_forgery? %>  
  <div id="header" class="page-width clear-block">
    <%= render :partial => 'shared/top_menu' %>
    <div id="logo" class="float-left"><%= clickable_logo %></div>
    <div id="beta"><%= image_tag 'beta.gif', :title => 'beta!' %></div>
    <%= render :partial => 'shared/nav_menu' %>
  </div>
  <div class="bg-body">
    <div class="bg-top-body"></div>
    <div id="content-body" class="page-width clear-block">
			<%= render :partial => 'shared/flash', :locals => {:flash => flash} %>
      <%= yield %>
    </div>
    <div class="bg-bottom-body"></div>
  </div>
  <div class="multitrack">
    <%= render :partial => 'shared/footer' %>
  </div>
  <%= google_analytics_load %>
  <%= google_analytics_track %>
</body>
</html>
