<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Myousica - play and share</title>
  <%= stylesheet_link_tag "style", "iepngfix", "multitrack" %>     
  <%= javascript_include_tag *%w[swfobject protoculous inplaceselect application] %> 
  <link rel="shortcut icon" href="/favicon.ico" type="image/vnd.microsoft.icon"/>
</head>
<body class="<%= body_class %>">
  <%= hidden_field_tag 'current-user-id', current_user.id if logged_in?  %>
  <%= hidden_field_tag 'authenticity-token', form_authenticity_token if protect_against_forgery? %>  
  <div id="header" class="page-width clear-block">
    <%= render :partial => 'shared/top_menu' %>
    <div id="logo" class="float-left"><%= clickable_logo %></div>
    <div id="beta"><%= image_tag 'beta.png', :title => 'beta!' %></div>
    <%= render :partial => 'shared/nav_menu' %>
  </div>
  <div class="bg-body">
    <div class="bg-top-body"></div>
    <div id="content-body" class="page-width clear-block">

      <div id="messages" style="margin-top: 20px; margin-right: 10px">
        <% flash.each do |name, message| -%>
          <div class="<%= name %>">
            <%= message %>
            <div class="close"></div>
          </div>
        <% end -%>
      </div>
      <%= yield %>
    </div>
    <div class="bg-bottom-body"></div>
  </div>
  <%= render :partial => 'shared/footer' %>
</body>
</html>
